Repository ArduPilot/ardupilot, pull requests merged in 2018-03, with the labels that each got.

#7763 Plane: Add support for AP_Gripper
  ArduPlane/ArduPlane.cpp
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/Parameters.cpp
  ArduPlane/Parameters.h
  ArduPlane/Plane.h
  ArduPlane/commands_logic.cpp
  ArduPlane/config.h
  ArduPlane/make.inc
  ArduPlane/system.cpp
  ArduPlane/wscript
Labels: Plane

#7818 AP_GPS: set have_vertical_velocity if MAVLink GPS report it
  libraries/AP_GPS/AP_GPS_MAV.cpp
Labels: GPS

#7774 Sub: Adjust to the defined value.
  ArduSub/commands_logic.cpp
Labels: Sub

#7805 Copter : allow rc_override input at start
  ArduCopter/radio.cpp
Labels: Copter

#7765 DataFlash: tighten types up to save flash space
  libraries/DataFlash/DataFlash.h
  libraries/DataFlash/LogStructure.h
Labels: DataFlash

#7828 Plane: Consolidate some of the MAVLink PID details
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/Plane.h
  ArduPlane/defines.h
Labels: Plane

#7841 Tools: ardupilotwaf: remove redundant --no-trigraph
  Tools/ardupilotwaf/boards.py
Labels: BuildSystem

#7844 Tools: fixed bootloader binary - revo405_bl
  Tools/bootloaders/revo405_bl.bin
  Tools/bootloaders/revo405_bl.elf
Labels: F4Light

#7836 AP_Declination: flake8 compliance for new generate script
  libraries/AP_Declination/generate/generate.py
Labels: Library

#7740 Rover: acro and steering steer even with target speed of zero
  APMrover2/mode.cpp
  APMrover2/mode_acro.cpp
  APMrover2/mode_steering.cpp
Labels: BUG, Rover

#7842 Tools: add bisect-helper.py
  Tools/autotest/bisect-helper.py
Labels: Tools

#7780 add install-prereqs-mac.sh
  Tools/scripts/install-prereqs-mac.sh
Labels: DevEnv

#7861 Remove building of APM binaries from build_binaries.py
  Tools/scripts/build_binaries.py
Labels: Tools, WIP

#7866 DataFlash: make more dataflash message IDs available
  libraries/DataFlash/LogStructure.h
Labels: DataFlash

#7906 Copter: fixed docs for Follow mode number
  ArduCopter/Parameters.cpp
Labels: Copter

#7905 Autotest: correct Rover expected name in banner
  Tools/autotest/apmrover2.py
Labels: Rover, SITL

#7904 Autotest: raise set_rc timeout to prevent mavproxy to miss msg on spe…
  Tools/autotest/common.py
Labels: SITL

#7910 Correct parameter build on autotest server
  Tools/scripts/build_parameters.sh
Labels: Tools

#7916 AP_Motors:TradHeli - DDVP Ramp/Runup
  libraries/AP_Motors/AP_MotorsHeli.cpp
  libraries/AP_Motors/AP_MotorsHeli.h
  libraries/AP_Motors/AP_MotorsHeli_Single.cpp
  libraries/AP_Motors/AP_MotorsHeli_Single.h
Labels: Enhancement, TradHeli

#7880 Tools: fix copter propeller animation in FlightGear multiplayer
  Tools/autotest/aircraft/arducopter/Models/arducopter.xml
Labels: SITL

#7911 Tools: param_parse.py: replace @PREFIX in values with library prefix
  Tools/autotest/param_metadata/param_parse.py
Labels: Tools

#7160 Use marvelmind raw distances in the EKF
  libraries/AP_Beacon/AP_Beacon_Marvelmind.cpp
  libraries/AP_Beacon/AP_Beacon_Marvelmind.h
Labels: AllVehicles, Driver, EKF, Library, WIP

#7936 DataFlash: Log the frame a mission command is planned in
  libraries/DataFlash/LogFile.cpp
  libraries/DataFlash/LogStructure.h
Labels: AllVehicles, DataFlash, Enhancement

#7900 Copter arm_checks(): PreArm in error msg changed to Arm
  ArduCopter/AP_Arming.cpp
Labels: Copter

#7964 Copter: Do not switch into a disabled flight mode
  ArduCopter/switches.cpp
Labels: Copter

#7967 AP_Beacon: Fix FALLTHROUGH in Marvelmind device driver.
  libraries/AP_Beacon/AP_Beacon_Marvelmind.cpp
Labels: BUG, Library

#7950 Copter: remove dumb delay() in favor for millis()
  ArduCopter/system.cpp
Labels: DevCallTopic

#7965 Copter: avoid hard stop in missions ending with waypoint command
  ArduCopter/commands_logic.cpp
Labels: Copter, Enhancement

#7878 Tools: fix motor rpm display in flightgear
  Tools/autotest/aircraft/arducopter/arducopter-set.xml
Labels: SITL

#7708 Tidy scheduler loop function (NFC)
  libraries/AP_Scheduler/AP_Scheduler.cpp
Labels: Library

#7979 Rover: send correct mav-type for boats
  APMrover2/GCS_Mavlink.cpp
  APMrover2/system.cpp
Labels: Rover

#7945 AP_HAL_Linux: fix build error with flexible array
  libraries/AP_HAL_Linux/CAN.cpp
Labels: CAN, Linux

#7994 Autotest: Fix a race condition on the regression tests on Windows
  Tools/autotest/apmrover2.py
  Tools/autotest/arducopter.py
  Tools/autotest/arduplane.py
  Tools/autotest/ardusub.py
  Tools/autotest/quadplane.py
Labels: AllVehicles, BUG

#7993 Copter: Parameter ACRO_THR_MID is only used in ACRO flight mode
  ArduCopter/Parameters.cpp
  ArduCopter/Parameters.h
Labels: Copter

#7991 Copter: Moved commands_logic to mode_auto
  ArduCopter/commands_logic.cpp
  ArduCopter/mode_auto.cpp
Labels: Copter

#8002 SRV_Channel:Servo Library - set allowable min value to 500 pwm uS
  libraries/SRV_Channel/SRV_Channel.cpp
Labels: Enhancement, Library

#8036 Copter: Add option to disable RPM module
  ArduCopter/APM_Config.h
  ArduCopter/ArduCopter.cpp
  ArduCopter/Copter.h
  ArduCopter/GCS_Mavlink.cpp
  ArduCopter/Parameters.cpp
  ArduCopter/config.h
  ArduCopter/sensors.cpp
  ArduCopter/system.cpp
Labels: Copter

#8039 AC_AttitudeControl: Prevent DCM fallback from triggering a flyaway
  libraries/AC_AttitudeControl/AC_PosControl.cpp
Labels: BUG, Plane, Safety

#8041 AP_HAL_SITL: Protect against nullpointer dereference
  libraries/AP_HAL_SITL/SITL_State.cpp
Labels: SITL
