Repository ArduPilot/ardupilot, pull requests merged in 2018-06, with the labels that each got.

#8548 Copter: fixed interlock check on helis
  ArduCopter/AP_Arming.cpp
Labels: Copter, TradHeli

#8555 AP_RangeFinder: MaxsonarI2C reports no data after 300ms
  libraries/AP_RangeFinder/AP_RangeFinder_MaxsonarI2CXL.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_MaxsonarI2CXL.h
Labels: BUG, Rover

#8554 Rover: guided mode more forgiving of set-position-targets type_mask
  APMrover2/GCS_Mavlink.cpp
Labels: Rover

#8530 AP_Rangefinder: Update WASP defaults
  libraries/AP_RangeFinder/AP_RangeFinder_Wasp.cpp
  libraries/AP_RangeFinder/RangeFinder.cpp
Labels: Enhancement, Library

#8563 CI: Run param parse last, on all CI instances
  .travis.yml
  Tools/scripts/build_ci.sh
Labels: DevCallTopic, DevEnv

#8546 Plane: Only send healthy airspeed reports
  ArduPlane/GCS_Mavlink.cpp
Labels: DevCallTopic, MAVLink, Plane

#8574 Copter: rename SPRAYER-enabled-define to SPRAYER_ENABLED
  ArduCopter/switches.cpp
Labels: Copter

#8566 AP_HAL_Linux: change SPI Bus for PocketPilot final design
  libraries/AP_HAL_Linux/SPIDevice.cpp
Labels: Linux

#8585 Rover: create an enumeration to hold vehicle mode constants
  APMrover2/GCS_Mavlink.cpp
  APMrover2/Parameters.cpp
  APMrover2/Rover.h
  APMrover2/control_modes.cpp
  APMrover2/defines.h
  APMrover2/mode.h
  APMrover2/system.cpp
Labels: Rover

#8586 Rover: factor out a do_aux_function_change_mode
  APMrover2/Rover.h
  APMrover2/control_modes.cpp
Labels: Rover

#8593 Modified socket creation in order to make it work on macOS
  libraries/AP_HAL_SITL/UARTDriver.cpp
Labels: SITL

#8616 Copter: Tradheli - fixes collective jump on rotor shutdown in althold and loiter
  ArduCopter/mode_althold.cpp
  ArduCopter/mode_loiter.cpp
Labels: BUG, TradHeli

#8613 Plane: update use of AC_Loiter controller for quadplane
  ArduPlane/quadplane.cpp
Labels: VTOL-Plane

#8264 Copter: check for fence breaches when disarmed
  ArduCopter/fence.cpp
Labels: Copter, Library

#8571 Copter: beeping when first reaching waypoint even while in holding there
  ArduCopter/mode_auto.cpp
Labels: Copter

#8597 HAL_ChibiOS: added parse_timer to chibios_hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS

#8606 AP_Camera: explicitly specify floats
  libraries/AP_Camera/AP_Camera.cpp
Labels: Library

#8601 AP_Compass: detect conflict between AK09916 and ICM20948
  libraries/AP_Compass/AP_Compass_AK09916.cpp
Labels: BUG, DevCallTopic

#8631 GCS_MAVLink: fix ATT_POS_MOCAP timestamp handle
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: Library

#8623 Copter: esc calibration fix
  ArduCopter/esc_calibration.cpp
Labels: BUG, Copter

#8618 AP_Airspeed: fixed airspeed filtering issue
  libraries/AP_Airspeed/AP_Airspeed.cpp
Labels: Plane

#8636 DataFlash: avoid stat of current log file
  libraries/DataFlash/DataFlash_File.cpp
  libraries/DataFlash/DataFlash_File.h
Labels: DataFlash

#8638 DataFlash: Fix power units
  libraries/DataFlash/LogStructure.h
Labels: BUG, DataFlash

#8647 Fix uart index
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS

#8643 DataFlash: Fix GPS units
  libraries/DataFlash/LogStructure.h
Labels: BUG, DataFlash

#8675 DataFlash: use #define instead of constant 90 for data length
  libraries/DataFlash/DataFlash_MAVLinkLogTransfer.cpp
Labels: DataFlash

#8657 GCS_MAVLink: tidy waypoint receiving part of update
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: Library

#8475 Github: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: DevCallTopic

#8700 HAL_ChibiOS: allow FrSky_INV to be controlled as GPIO
  libraries/AP_HAL_ChibiOS/hwdef/fmuv4/hwdef.dat
Labels: ChibiOS

#8692 HAL_ChibiOS: run CAN thread at 3KHz
  libraries/AP_HAL_ChibiOS/Scheduler.cpp
Labels: CAN, ChibiOS

#8722 waf: speed up the bootloader build
  Tools/ardupilotwaf/ardupilotwaf.py
Labels: BuildSystem, ChibiOS

#8726 waf: build hex file with and without bootloader
  Tools/ardupilotwaf/chibios.py
  Tools/scripts/make_intel_hex.py
  Tools/scripts/make_intel_hex.sh
Labels: BuildSystem, ChibiOS

#8695 Copter: raise EKF failure even if USB is connected
  ArduCopter/ArduCopter.cpp
  ArduCopter/Copter.h
  ArduCopter/GCS_Mavlink.cpp
  ArduCopter/ekf_check.cpp
  ArduCopter/system.cpp
Labels: Copter, DevCallTopic

#8707 AP_Compass: tidy consistency calculations
  libraries/AP_Compass/AP_Compass.cpp
Labels: Library

#8750 AP_Motors:TradHeli - fix metadata for H_COL_CTRL_DIR
  libraries/AP_Motors/AP_MotorsHeli_Dual.cpp
  libraries/AP_Motors/AP_MotorsHeli_Single.cpp
Labels: BUG, TradHeli

#8761 AP_Terrain: Reduce memory consumption, simplify enable checking
  libraries/AP_Terrain/AP_Terrain.cpp
  libraries/AP_Terrain/TerrainGCS.cpp
Labels: Enhancement, Linux, MAVLink

#8762 HAL_PX4: support flashing bootloader with MAVLink command
  libraries/AP_HAL_PX4/Util.cpp
  libraries/AP_HAL_PX4/Util.h
Labels: PX4

#8738 Copter: autotune: raise priorities of autotune success and param saved
  ArduCopter/mode_autotune.cpp
Labels: Copter
