Repository ArduPilot/ardupilot, pull requests merged in 2018-10, with the labels that each got.

#9486 AP_HAL_ChibiOS: Make getcwd() take size_t as per the standard
  libraries/AP_HAL_ChibiOS/hwdef/common/posix.c
  libraries/AP_HAL_ChibiOS/hwdef/common/posix.h
Labels: ChibiOS

#9462 AP_Airspeed: Make user facing messages clearer, improve handling of bad tube order
  libraries/AP_Airspeed/AP_Airspeed.cpp
Labels: DevCallTopic, Library, Plane

#9487 AP_InertialSensor: Remove unused (and conflicting in some builds) incluse
  libraries/AP_InertialSensor/AuxiliaryBus.cpp
Labels: BUG, ChibiOS

#9444 Plane: Disallow climbs during TRANSITION_AIRSPEED_WAIT
  ArduPlane/quadplane.cpp
Labels: DevCallTopic, Enhancement, VTOL-Plane

#9483 AP_HAL_ChibiOS: Don't redefine errno
  libraries/AP_HAL_ChibiOS/hwdef/common/posix.c
  libraries/AP_HAL_ChibiOS/hwdef/common/posix.h
Labels: ChibiOS

#9499 HAL_ChibiOS: fixed a race in DShot code
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
Labels: BUG, ChibiOS

#9500 Tools: fix use of unassign variable
  Tools/autotest/common.py
Labels: BUG, Tools

#9465 Autotest ajustements
  Tools/autotest/arducopter.py
Labels: Tools

#9511 AP_HAL_ChibiOS: fix safety switch option handling
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
Labels: BUG, ChibiOS, Safety

#9514 Tools: scripts: build_ci.sh: correct syntax
  Tools/scripts/build_ci.sh
Labels: BuildSystem, Tools

#9538 AP_Baro: notify GCS of all barometer ground pressures
  libraries/AP_Baro/AP_Baro.cpp
Labels: Library

#9547 AC_WPNav: fix typo
  libraries/AC_WPNav/AC_Loiter.cpp
Labels: Library

#9544 AP_Baro: Delete the total temperature process.
  libraries/AP_Baro/AP_Baro.cpp
Labels: Library

#9528 README.md: updated link of contributing guidelines
  README.md
Labels: Docs, Reviewed

#9459 Chibios: Add board FuriousFPV F-35 Lightning
  libraries/AP_HAL_ChibiOS/hwdef/F35Lightning/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/F35Lightning/hwdef.dat
Labels: ChibiOS

#9555 AP_Baro_UAVCAN: fix temperature
  libraries/AP_Baro/AP_Baro_UAVCAN.cpp
Labels: BUG, CAN, Library

#9542 AP_Baro: emit calibrated messages for each connected baro
  libraries/AP_Baro/AP_Baro.cpp
Labels: Library

#9502 Copter: clarify prearm failure messages
  ArduCopter/AP_Arming.cpp
Labels: Copter, DevCallTopic

#9468 AP_Compass: add rotation option for AK8963_MPU9250
  libraries/AP_Compass/AP_Compass.cpp
Labels: Library

#9580 Plane: small update to failsafe documentation
  ArduPlane/Parameters.cpp
Labels: Plane

#9583 AP_OSD: fix BLHAMPS current scale
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#9546 Fix ArduSub autotest
  Tools/autotest/common.py
Labels: NeedAnswer, Tools

#5518 Copter: Obey and preserve DO_SET_ROI commands when executing LOITER_TURNS mission commands
  ArduCopter/mode_auto.cpp
Labels: Copter

#9607 AP_GPS: fix SBAS mode in the SBP2 driver
  libraries/AP_GPS/AP_GPS_SBP2.cpp
Labels: GPS

#9626 AC_AttitudeControl: Fix copy paste param doc error
  libraries/AC_AttitudeControl/AC_AttitudeControl.cpp
Labels: Docs

#9636 AP_RangeFinder: check I2C dev during detect
  libraries/AP_RangeFinder/AP_RangeFinder_LightWareI2C.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_MaxsonarI2CXL.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_TeraRangerI2C.cpp
Labels: BUG, Library

#9637 Copter-3.6: update kakutef7 hwdef
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF7/hwdef.dat
Labels: ChibiOS

#9169 AP_Rangefinder: Add support for Garmin LidarLite-V3HP
  libraries/AP_RangeFinder/AP_RangeFinder_PulsedLightLRF.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_PulsedLightLRF.h
  libraries/AP_RangeFinder/RangeFinder.cpp
  libraries/AP_RangeFinder/RangeFinder.h
Labels: DevCallTopic, Library

#9634 AC_AttitudeControl: AC_PosControl: avoid calling norm()
  libraries/AC_AttitudeControl/AC_PosControl.cpp
  libraries/AC_AttitudeControl/AC_PosControl.h
Labels: DevCallTopic

#9610 AP_Mount: factor out a rate_input_rad, const various functions
  libraries/AP_Mount/AP_Mount_Backend.cpp
  libraries/AP_Mount/AP_Mount_Backend.h
Labels: DevCallTopic

#9417 GCS_MAVLink: log vision data pitch/roll/yaw in degree
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: Copter, DataFlash, NeedRework

#9077 AP_HAL_ChibiOS: Add UARTs to F405-Wing bootloader
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405-Wing/hwdef-bl.dat
Labels: ChibiOS

#9663 HAL_ChibiOS: make all boards base GPIOs for servos at 50
  libraries/AP_HAL_ChibiOS/hwdef/F4BY/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405-Wing/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/OMNIBUSF7V2/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/airbotf4/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS
