Repository ArduPilot/ardupilot, pull requests merged in 2018-11, with the labels that each got.

#9680 Plane: ensure speed scaling covers full aircraft speed range
  ArduPlane/Attitude.cpp
Labels: Plane

#9666 Board omnibusf4v6
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4v6/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4v6/hwdef.dat
Labels: ChibiOS

#8535 Copter: change default streamrate for ADSB from 5 to 0
  ArduCopter/GCS_Mavlink.cpp
Labels: Copter

#9671 DataFlash: add sanity checks around EraseAll
  libraries/DataFlash/DataFlash_File.cpp
Labels: DataFlash, DevCallTopic

#9697 AP_RangeFinder: Benewake driver discards distances over 327m
  libraries/AP_RangeFinder/AP_RangeFinder_Benewake.cpp
Labels: BUG, Library

#9703 AP_Baro: Avoid returning 0.0f for EAS2TAS
  libraries/AP_Baro/AP_Baro.cpp
Labels: BUG, Plane

#9688 AP_Math: Remove an unneeded safe_sqrtf, leverage is_zero
  libraries/AP_Math/vector2.cpp
  libraries/AP_Math/vector3.cpp
Labels: Enhancement

#9717 Tools: ardupilotwaf: make type narrowing an error
  Tools/ardupilotwaf/boards.py
Labels: BuildSystem

#9737 HAL_ChibiOS: don't use STDOUT_SERIAL on mindpx-v2 or cube-red
  libraries/AP_HAL_ChibiOS/hwdef/cube-red/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/mindpx-v2/hwdef.dat
Labels: ChibiOS

#8973 AP_ADSB: Fix error snprintf output truncated with waf on linux
  libraries/AP_ADSB/AP_ADSB.cpp
Labels: Library

#9759 Plane: added ACCZ pid tuning
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/defines.h
Labels: VTOL-Plane

#9766 Copter: log and notify when manual land repositionning is active
  ArduCopter/defines.h
  ArduCopter/mode.cpp
  ArduCopter/mode_rtl.cpp
Labels: Copter

#9724 HAL_ChibiOS: default the battery2 pins correctly for CubeBlack
  libraries/AP_HAL_ChibiOS/hwdef/CubeBlack/defaults.parm
Labels: ChibiOS

#9846 HAL_ChibiOS: added KakuteF7 docs
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF7/KakuteF7.jpg
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF7/README.md
Labels: ChibiOS

#9736 AP_Landing: Touchdown yaw correction with altitude or weight on wheels
  libraries/AP_Landing/AP_Landing.cpp
  libraries/AP_Landing/AP_Landing.h
  libraries/AP_Landing/AP_Landing_Slope.cpp
Labels: Enhancement, Library, Plane

#9851 waf: use local pymavlink
  Tools/ardupilotwaf/mavgen.py
Labels: BuildSystem, MAVLink

#9854 RangeFinder: change benewake driver to hold buffer as uint8_t instead of char
  libraries/AP_RangeFinder/AP_RangeFinder_Benewake.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_Benewake.h
Labels: BUG, Library

#9787 Copter3.6: fixed DSM parser for 8 channels
  libraries/AP_RCProtocol/AP_RCProtocol_DSM.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_DSM.h
Labels: BUG, ChibiOS

#9650 AP_Airspeed: Temperature conversion in consistence with other libraries
  libraries/AP_Airspeed/AP_Airspeed_UAVCAN.cpp
  libraries/AP_Airspeed/AP_Airspeed_UAVCAN.h
Labels: CAN, Driver, Library

#9391 Plane: update servo.cpp - crow brakes- diff. spoilers
  ArduPlane/Parameters.cpp
  ArduPlane/Parameters.h
  ArduPlane/servos.cpp
Labels: Plane

#9864 AP_RangeFinder: benewake tfmini always provide cm distances
  libraries/AP_RangeFinder/AP_RangeFinder_Benewake.cpp
Labels: Library

#9871 Copter: remove reset of alt target in manual throttle mode
  ArduCopter/Log.cpp
  ArduCopter/mode_acro.cpp
  ArduCopter/mode_stabilize.cpp
  ArduCopter/mode_stabilize_heli.cpp
Labels: BUG, Copter

#9880 AP_BattMonitor: Increase solo's power off button delay time
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_Solo.cpp
Labels: Library, Solo

#9877 Tools: Remove hard-coded path to MAVProxy
  Tools/autotest/sim_vehicle.py
Labels: SITL

#9881 AP_BattMonitor: Increase Solo's power off button delay time (3.6 backport)
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_Solo.cpp
Labels: Library, Solo

#9896 DataFlash: Log integer version of mission
  libraries/DataFlash/DataFlash.h
  libraries/DataFlash/DataFlash_Backend.h
  libraries/DataFlash/LogFile.cpp
  libraries/DataFlash/LogStructure.h
Labels: DataFlash

#9889 AC_PosControl: set-alt-target-with-slew sets desired to 0 once at target
  libraries/AC_AttitudeControl/AC_PosControl.cpp
Labels: BUG, Copter

#9882 Plane: remove update_events scheduler shim
  ArduPlane/ArduPlane.cpp
  ArduPlane/Plane.h
  ArduPlane/events.cpp
Labels: DevCallTopic

#9903 Copter:Parameters-TradHeli - set defaults for PSC and LOIT controllers
  ArduCopter/Parameters.cpp
Labels: Copter, TradHeli

#9910 SITL: support up to 12 actuators with RealFlight8
  libraries/SITL/SIM_FlightAxis.cpp
Labels: SITL

#9911 MAVLINK: Forward to private channels if sysid and compid match
  libraries/GCS_MAVLink/MAVLink_routing.cpp
Labels: Library, MAVLink, Solo

#9925 HAL_ChibiOS: added 3 tries to microSD MMC init
  libraries/AP_HAL_ChibiOS/sdcard.cpp
Labels: ChibiOS

#9568 AP_NavEKF2: added filter reset if unhealthy for 5s and disarmed
  libraries/AP_NavEKF2/AP_NavEKF2_core.cpp
  libraries/AP_NavEKF2/AP_NavEKF2_core.h
Labels: EKF

#8678 AP_Compass: run lsm303d at 91Hz, not 100Hz
  libraries/AP_Compass/AP_Compass_LSM303D.cpp
Labels: Driver, Library

#9210 Plane: don't relax attitude controllers for tailsitters
  ArduPlane/quadplane.cpp
Labels: VTOL-Plane

#9856 AP_BattMonitor: added Sum backend type
  libraries/AP_BattMonitor/AP_BattMonitor.cpp
  libraries/AP_BattMonitor/AP_BattMonitor.h
  libraries/AP_BattMonitor/AP_BattMonitor_Params.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_Params.h
  libraries/AP_BattMonitor/AP_BattMonitor_Sum.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_Sum.h
Labels: Library

#7493 QuadPlane: Zero Yaw correction during transition and relax attitude c…
  ArduPlane/quadplane.cpp
Labels: BUG, VTOL-Plane

#9421 Plane: fixed a bug in Q_ASSIST_ modes for tiltrotors
  ArduPlane/quadplane.cpp
Labels: BUG, VTOL-Plane

#9066 Plane: Add Tail-sitter roll limit
  ArduPlane/ArduPlane.cpp
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: VTOL-Plane
