Repository ArduPilot/ardupilot, pull requests merged in 2018-07, with the labels that each got.

#8664 DataFlash: remove unused ReadBlock method
  libraries/DataFlash/DataFlash_Backend.h
  libraries/DataFlash/DataFlash_File.cpp
  libraries/DataFlash/DataFlash_File.h
  libraries/DataFlash/DataFlash_File_sd.cpp
  libraries/DataFlash/DataFlash_File_sd.h
  libraries/DataFlash/DataFlash_MAVLink.h
Labels: DataFlash

#8786 waf: don't generate hex files if intelhex module not installed
  Tools/ardupilotwaf/boards.py
  Tools/ardupilotwaf/chibios.py
Labels: BuildSystem, ChibiOS

#8756 Sub: Remove void as parameter
  ArduSub/ArduSub.cpp
  ArduSub/GCS_Mavlink.cpp
  ArduSub/Log.cpp
  ArduSub/Parameters.cpp
  ArduSub/Sub.cpp
  ArduSub/capabilities.cpp
  ArduSub/control_auto.cpp
  ArduSub/failsafe.cpp
  ArduSub/sensors.cpp
Labels: Sub

#8719 Copter: fix inconsistent setting of AP_Notify::flags.pre_arm_gps_check
  ArduCopter/AP_Arming.cpp
Labels: DevCallTopic

#8820 HAL_ChibiOS: fixed build warning with MATEKF405
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405/hwdef.dat
Labels: ChibiOS

#8823 HAL_ChibiOS: fixed duplicate pin definitions
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS

#8826 HAL_ChibiOS: fixed default revo compass orientation
  libraries/AP_HAL_ChibiOS/hwdef/revo-mini/hwdef.dat
Labels: ChibiOS

#8754 ArduCopter：mode_guided: yaw initialization already in pos_control_start()
  ArduCopter/mode_guided.cpp
Labels: Copter

#8833 HAL_ChibiOS: make serial number match HAL_PX4
  libraries/AP_HAL_ChibiOS/Util.cpp
Labels: ChibiOS

#8831 HAL_ChibiOS: allow arm without compass on omnibusf4pro
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef.dat
Labels: ChibiOS

#8798 AP_SerialManager: remove unused set_serial_baud, factor out a find_pr…
  libraries/AP_SerialManager/AP_SerialManager.cpp
  libraries/AP_SerialManager/AP_SerialManager.h
Labels: Library

#8841 HAL_PX4: fixed link on aerofc-v1
  libraries/AP_HAL_PX4/Util.cpp
Labels: PX4

#8844 PX4 ROMFS: Start even if uSD is not installed
  mk/PX4/ROMFS/init.d/rcS
Labels: PX4

#8849 AP_Bootloader: support building without USB
  Tools/AP_Bootloader/support.cpp
Labels: ChibiOS

#8852 AP_SerialManager: fixed find_baudrate to return mapped baudrate
  libraries/AP_SerialManager/AP_SerialManager.cpp
Labels: BUG

#8834 Osd add fonts readme
  libraries/AP_OSD/fonts/README.md
  libraries/AP_OSD/fonts/bfstyle.png
  libraries/AP_OSD/fonts/bold.png
  libraries/AP_OSD/fonts/clarity.png
  libraries/AP_OSD/fonts/clarity_medium.png
  libraries/AP_OSD/fonts/digital.png
Labels: OSD

#8856 AP_HAL_ChibiOS: reduce default BRD_PWM_COUNT to 4 for fmuv3
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef.dat
Labels: ChibiOS, Copter

#8685 Camera cleanups
  libraries/AP_Camera/AP_Camera.cpp
  libraries/AP_Camera/AP_Camera.h
Labels: Library

#8868 HAL_ChibiOS: fixed F412 build
  libraries/AP_HAL_ChibiOS/GPIO.cpp
Labels: ChibiOS

#8859 AP_TempCalibration: remove duplicated parameter
  libraries/AP_TempCalibration/AP_TempCalibration.cpp
Labels: BUG

#8894 HAL_ChibiOS: changed uart order for KakuteF4
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF4/hwdef.dat
Labels: ChibiOS

#8895 AP_OSD: use software blink
  libraries/AP_OSD/AP_OSD.cpp
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Backend.cpp
  libraries/AP_OSD/AP_OSD_Backend.h
  libraries/AP_OSD/AP_OSD_MAX7456.cpp
  libraries/AP_OSD/AP_OSD_MAX7456.h
  libraries/AP_OSD/AP_OSD_SITL.cpp
  libraries/AP_OSD/AP_OSD_SITL.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#8909 Rover: improved setup of output modes
  APMrover2/AP_MotorsUGV.cpp
Labels: Rover

#8933 Copter: motor test timeout extended from 30 seconds to 10min
  ArduCopter/motor_test.cpp
Labels: Copter, Enhancement

#8924 EKF: modify ALT_SOURCE param description
  libraries/AP_NavEKF2/AP_NavEKF2.cpp
  libraries/AP_NavEKF3/AP_NavEKF3.cpp
Labels: EKF

#8939 AP_SerialManager: make console do mavlink2 by default
  libraries/AP_SerialManager/AP_SerialManager.cpp
Labels: MAVLink

#8940 AP_Bootloader: add f4by bootloader
  Tools/bootloaders/f4by-ch_bl.bin
  Tools/bootloaders/f4by-ch_bl.elf
  Tools/bootloaders/f4by-ch_bl.hex
  libraries/AP_HAL_ChibiOS/hwdef/f4by-ch/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/f4by-ch/hwdef.dat
Labels: ChibiOS, Tools

#8938 RC_Channel: Allow a RC_OVERRIDE_TIMEOUT of -1 to use the overrides forever
  libraries/RC_Channel/RC_Channel.cpp
  libraries/RC_Channel/RC_Channels.cpp
Labels: AllVehicles, Enhancement

#8173 Added Tailsitter Throttle Scaling Parameters
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
  ArduPlane/tailsitter.cpp
Labels: VTOL-Plane

#8899 HAL_ChibiOS: reduce latency of DMA sharing
  libraries/AP_HAL_ChibiOS/I2CDevice.cpp
Labels: ChibiOS

#8964 HAL_ChibiOS: added a DMA reserve heap
  libraries/AP_HAL_ChibiOS/hwdef/common/board.c
  libraries/AP_HAL_ChibiOS/hwdef/common/malloc.c
  libraries/AP_HAL_ChibiOS/hwdef/common/stm32_util.h
Labels: ChibiOS

#8967 AP_HAL_Linux: support PWM input for BH hat
  libraries/AP_HAL_Linux/RCInput.cpp
  libraries/AP_HAL_Linux/RCInput.h
  libraries/AP_HAL_Linux/RCInput_RPI.cpp
  libraries/AP_HAL_Linux/RCInput_RPI.h
Labels: Linux

#8919 Osd add temperature item
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#8986 AP_Notify: Fix bad loop count on notify LED's
  libraries/AP_Notify/AP_Notify.cpp
Labels: BUG, Library

#9013 AP_Math: Add a warning to rotations to indicate that it is expected to match the MAVLink definitions
  libraries/AP_Math/rotations.h
Labels: Docs

#9014 HAL_ChibiOS: fix DTCM size in stm32f745 mcu
  libraries/AP_HAL_ChibiOS/hwdef/common/bouncebuffer.c
Labels: ChibiOS

#9021 AP_OSD: fix compiler warnings
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: Library, OSD

#9024 AP_RangeFinder: fixed VL53L0X semaphore usage
  libraries/AP_RangeFinder/AP_RangeFinder_VL53L0X.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_VL53L0X.h
Labels: BUG

#9040 OMNIBUSF7V2 hwdat.def update
  libraries/AP_HAL_ChibiOS/hwdef/OMNIBUSF7V2/hwdef.dat
Labels: ChibiOS

#9027 Tools: autotest: allow use of --gdb when no DISPLAY available
  Tools/autotest/pysim/util.py
Labels: Tools

#9048 Compass: fix compile warning in calibrator output
  libraries/AP_Compass/CompassCalibrator.cpp
Labels: Library

#9058 DataFlash: removed "no io thread heartbeat" msg
  libraries/DataFlash/DataFlash_File.cpp
Labels: DataFlash
