Repository ArduPilot/ardupilot, pull requests merged in 2018-09, with the labels that each got.

#8229 AP_Airspeed: fix spd3x correct pressure issue
  libraries/AP_Airspeed/AP_Airspeed_SDP3X.cpp
Labels: Library

#9223 RC options complet init list
  ArduCopter/RC_Channel.cpp
Labels: Copter

#9343 Tools: remove extra running of unit tests from build_ci.sh
  Tools/scripts/build_ci.sh
Labels: Tools

#9345 AP_Notify: fixed oled probe on first bus
  libraries/AP_Notify/Display.cpp
Labels: BUG

#9344 AP_Declination: Fix the generation script for python 3
  libraries/AP_Declination/generate/generate.py
Labels: DevCallTopic, Tools

#9270 Plane: Small cleanup to quadplane const (and clarity)
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, Enhancement, VTOL-Plane

#9354 Tools: autotest: correct descent throttle in copter fence test
  Tools/autotest/arducopter.py
Labels: Tools

#9367 HAL_ChibiOS: updates for KakuteF7
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF7/hwdef.dat
Labels: ChibiOS

#9297 Tools: don't use strict comparison for param fetch all to cope with T…
  Tools/autotest/common.py
Labels: Tools

#9375 AP_HAL_Linux: force Thread stack to have minimum size
  libraries/AP_HAL_Linux/Scheduler.cpp
  libraries/AP_HAL_Linux/Thread.cpp
Labels: Linux

#9313 SPI threads on Linux
  libraries/AP_HAL_Linux/SPIDevice.cpp
Labels: Linux

#9386 AP_OSD: add external baro temperature display
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#9403 HAL_ChibiOS: fixed ADC bug
  libraries/AP_HAL_ChibiOS/AnalogIn.cpp
Labels: BUG, ChibiOS

#9427 AC_AttitudeControl: Use reset_rate_controller_I_terms() helper
  libraries/AC_AttitudeControl/AC_AttitudeControl.cpp
Labels: Library

#9431 HAL_ChibiOS: fixed RSSI voltage from IOMCU
  libraries/AP_HAL_ChibiOS/AnalogIn.cpp
  libraries/AP_HAL_ChibiOS/AnalogIn.h
Labels: ChibiOS

#9446 AP_Math: Speed up location calculations slightly
  libraries/AP_Math/location.cpp
Labels: Enhancement, Library

#9406 AP_HAL_ChibiOS: Remap unused Cube pins to ADC
  libraries/AP_HAL_ChibiOS/hwdef/CubeBlack/hwdef.dat
Labels: ChibiOS, DevCallTopic, Enhancement

#9441 Plane: Collapse some quadplane code
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
  ArduPlane/tailsitter.cpp
Labels: VTOL-Plane

#9467 AP_Motors: Tradheli - fixes slew speed of swashplate during collective servo test
  libraries/AP_Motors/AP_MotorsHeli_Dual.cpp
  libraries/AP_Motors/AP_MotorsHeli_Single.cpp
Labels: BUG, TradHeli

#9480 Plane: Fix FLIGHT_OPTIONS bitmask doc
  ArduPlane/Parameters.cpp
Labels: Docs, Plane
