Repository ArduPilot/ardupilot, pull requests merged in 2018-02, with the labels that each got.

#7694 Copter: make flowhold mode conditional
  ArduCopter/Copter.h
  ArduCopter/Parameters.cpp
  ArduCopter/mode.h
  ArduCopter/mode_flowhold.cpp
Labels: Copter, PX4

#7711 Copter: Set the loop rate of G_dt as a variable.
  ArduCopter/system.cpp
Labels: Copter, DevCallTopic

#7744 Plane: Fix param docs for quadplane attitude control
  ArduPlane/Parameters.cpp
Labels: Docs, VTOL-Plane

#7730 Copter: Obey CAMERA == DISABLED
  ArduCopter/Copter.h
Labels: Copter

#7745 AP_NavEKF3: Fix origin height estimator indexing bug
  libraries/AP_NavEKF3/AP_NavEKF3_Measurements.cpp
Labels: BUG, EKF

#7717 Sub: Correct joystick transform_manual_control_to_rc_override override
  ArduSub/joystick.cpp
Labels: Sub

#7728 Sub: Add camera pan functionality
  ArduSub/GCS_Mavlink.cpp
  ArduSub/joystick.cpp
  ArduSub/radio.cpp
Labels: Sub

#7767 Copter: Obey MOUNT == DISABLED
  ArduCopter/Copter.h
Labels: Copter

#7777 Copter: correct mav result for compass motor calibration on heli
  ArduCopter/compassmot.cpp
Labels: Copter, TradHeli

#7792 AP_HAL_F4light: fixes OSD compilation issue
  libraries/AP_HAL_F4Light/hardware/osd/osd.cpp
  libraries/AP_HAL_F4Light/hardware/osd/osd.h
  libraries/AP_HAL_F4Light/hardware/osd/osd_core/Params.h
  libraries/AP_HAL_F4Light/hardware/osd/osd_core/compat.h
Labels: BUG, F4Light

#7800 AP_HAL_ChibiOS: fix CAN thread name
  libraries/AP_HAL_ChibiOS/Scheduler.cpp
Labels: BUG, ChibiOS
