Repository ArduPilot/ardupilot, pull requests merged in 2018-05, with the labels that each got.

#8289 HAL_ChibiOS: removed stray debug code
  libraries/AP_HAL_ChibiOS/UARTDriver.cpp
Labels: ChibiOS

#8294 waf: don't build ChibiOS with debug by default
  Tools/ardupilotwaf/boards.py
Labels: ChibiOS

#8308 AP_GPS: Remove software check from SBF driver
  libraries/AP_GPS/AP_GPS_SBF.cpp
Labels: GPS

#8248 AP_GPS: Document septentrio RXERROR flags (NFC)
  libraries/AP_GPS/AP_GPS_SBF.h
Labels: GPS, Library

#8321 Sub: Move SITL barometer check to Sub::control_check_barometer
  ArduSub/ArduSub.cpp
  ArduSub/control_althold.cpp
  ArduSub/control_surface.cpp
Labels: Sub

#8319 Dataflash: unit and multiplier fixes
  libraries/DataFlash/LogStructure.h
Labels: DataFlash

#8316 DataFlash: Remove redundant state from MAVLink backend
  libraries/DataFlash/DataFlash_MAVLink.cpp
  libraries/DataFlash/DataFlash_MAVLink.h
Labels: DataFlash

#8325 AP_BoardConfig: Fix param doc for BRD_SAFETYOPTION
  libraries/AP_BoardConfig/AP_BoardConfig.cpp
Labels: AllVehicles, BUG, Docs

#8326 AP_BoardConfig: rover safety switch default to allow disarming
  APMrover2/Parameters.cpp
Labels: Rover

#8330 Tools: install-prereqs-ubuntu: add xterm to SITL install list
  Tools/scripts/install-prereqs-ubuntu.sh
Labels: Tools

#8337 Plane: don't do throttle ESC scaling for quadplanes
  ArduPlane/radio.cpp
Labels: Plane

#8339 GCS_MAVLink: add local time to VISP message
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: DataFlash, Library, MAVLink

#8344 Tools: don't publish elf files in build_binaries.py
  Tools/scripts/build_binaries.py
Labels: BuildSystem

#8343 Rover: turn rate max fix
  libraries/APM_Control/AR_AttitudeControl.cpp
Labels: BUG, Rover

#8347 Tools: autotest: make Copter tests more reliable
  Tools/autotest/arducopter.py
  Tools/autotest/common.py
Labels: Tools

#8342 Tools: TradHeli Params
  Tools/Frame_params/TradHeli_Copter36_Setup.param
Labels: Tools, TradHeli

#8374 AP_BattMonitor: fix pin order for PocketPilot
  libraries/AP_BattMonitor/AP_BattMonitor_Analog.h
Labels: Linux

#8360 AP_Arming: Restrict GPS/AHRS difference to a 2D solution
  libraries/AP_Arming/AP_Arming.cpp
Labels: AllVehicles, BUG

#8335 Tools - added extra packages for Cygwin environment setup scripts
  Tools/autotest/win_sitl/InstallDevEnvironment.ps1
  Tools/autotest/win_sitl/InstallDevEnvironmentAndAPMSource.ps1
Labels: Tools

#8382 DataFlash: Remove unneeded inits and newlines
  libraries/DataFlash/DataFlash_File.cpp
  libraries/DataFlash/DataFlash_File_sd.cpp
Labels: DataFlash, F4Light

#8381 DataFlash: Fix a false reporting of dead IO thread when millis() wraps
  libraries/DataFlash/DataFlash_File.cpp
Labels: DataFlash

#8115 SITL: send buffer rather than mavlink msg on channel
  libraries/SITL/SIM_Vicon.cpp
Labels: SITL

#8380 AP_Proximity: Revert an excessive scan introduced in #8375
  libraries/AP_Proximity/AP_Proximity.cpp
  libraries/AP_Proximity/AP_Proximity_RangeFinder.cpp
Labels: Library

#8251 geotag.sh - an advanced geotagging tool.
  Tools/geotag/geotag.sh
Labels: Tools

#8393 SITL: fixed segv when running examples under SITL
  libraries/SITL/SIM_Aircraft.cpp
Labels: SITL

#8396 AP_UAVCAN: change default ESC and servo bitmasks to 0
  libraries/AP_UAVCAN/AP_UAVCAN.cpp
Labels: CAN

#8428 Rover: fix forward-back acceleration limiting
  libraries/APM_Control/AR_AttitudeControl.cpp
Labels: BUG, Rover

#8439 HAL_ChibiOS: fixed DShot output on fixed wing
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
Labels: ChibiOS, Plane

#8443 Plane: fixed throttle_percentage for twin engine planes
  ArduPlane/system.cpp
Labels: Plane

#8444 HAL_PX4: fixed build warnings
  libraries/AP_HAL_PX4/RCInput.cpp
  libraries/AP_HAL_PX4/RCInput.h
Labels: PX4

#8400 Tradheli - disables inverted flight option for single and dual heli frames
  ArduCopter/AP_Arming.cpp
  ArduCopter/switches.cpp
Labels: TradHeli

#8452 HAL_ChibiOS: improved reliability of DShot passthru
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
Labels: ChibiOS

#5163 Changed how the options that were passed to mavproxy via the "-m" switch are parsed.
  Tools/autotest/sim_vehicle.py
Labels: Tools

#7771 DataFlash: use const char * rather than fixed array lengths in LogStructure
  libraries/DataFlash/DataFlash.cpp
  libraries/DataFlash/DataFlash_Backend.cpp
  libraries/DataFlash/LogStructure.h
Labels: DataFlash

#8487 AP_HAL_ChibiOS: Make redefined pins an error, fix FMUv3
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS

#8425 GCS_MAVLink: Expand timesync handling
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: Library

#8453 AP_RCProtocol: add support for non-inverted s-bus
  libraries/AP_RCProtocol/AP_RCProtocol.cpp
  libraries/AP_RCProtocol/AP_RCProtocol.h
  libraries/AP_RCProtocol/AP_RCProtocol_SBUS_NI.h
Labels: ChibiOS, Library

#8450 AP_Avoidance: track src with correct label - use MAVLink label
  libraries/AP_Avoidance/AP_Avoidance.cpp
Labels: AllVehicles, BUG, Library

#8497 AP_ADSB: fix snprintf warning
  libraries/AP_ADSB/AP_ADSB.cpp
Labels: BUG, Library

#8502 HAL_ChibiOS: improve reliability of reboot
  libraries/AP_HAL_ChibiOS/Scheduler.cpp
Labels: ChibiOS

#8505 HAL_ChibiOS: allow printf() to work on systems without debug console
  libraries/AP_HAL_ChibiOS/UARTDriver.cpp
  libraries/AP_HAL_ChibiOS/hwdef/common/stdio.c
  libraries/AP_HAL_ChibiOS/hwdef/common/stdio.h
Labels: ChibiOS

#8511 Copter: added de-bouncing of aux switches
  ArduCopter/Copter.h
  ArduCopter/switches.cpp
Labels: Copter

#8510 Copter: implement 'air-mode' for copter
  ArduCopter/Copter.h
  ArduCopter/motors.cpp
  ArduCopter/radio.cpp
  ArduCopter/switches.cpp
Labels: Copter

#8504 AP_RangeFinder: Benewake TF02 and TFmini lidar driver
  libraries/AP_RangeFinder/AP_RangeFinder_Benewake.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_Benewake.h
  libraries/AP_RangeFinder/RangeFinder.cpp
  libraries/AP_RangeFinder/RangeFinder.h
Labels: Enhancement, Library

#8534 GCS_MAVLink: avoid pushing partial RC_CHANNEL message into uart
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: Library

#8521 Rover: add support for lateral control input in manual mode
  APMrover2/AP_MotorsUGV.cpp
  APMrover2/AP_MotorsUGV.h
  APMrover2/Rover.cpp
  APMrover2/Rover.h
  APMrover2/mode.cpp
  APMrover2/mode.h
  APMrover2/mode_manual.cpp
  APMrover2/radio.cpp
Labels: Rover
