Repository ArduPilot/ardupilot, pull requests merged in 2018-12, with the labels that each got.

#9933 Plane: apply throttle slew to dual-motor setups
  ArduPlane/servos.cpp
Labels: Plane

#9938 Rover: fix auto enter check
  APMrover2/mode_auto.cpp
Labels: BUG, Rover

#9931 Frame_Params: Update Solo's required parameters
  Tools/Frame_params/Solo_Copter-3.5_GreenCube.param
  Tools/Frame_params/Solo_Copter-3.6_GreenCube.param
  Tools/Frame_params/Solo_Copter-3.7_BlackCube.param
  Tools/Frame_params/Solo_Copter-3.7_GreenCube.param
Labels: Solo

#9948 autotest: allow sim_vehicle with valgrind to cope with new operator
  Tools/autotest/sim_vehicle.py
Labels: SITL

#9953 AP_Mount: fix extreme gimbal movements before TX is turned on
  libraries/AP_Mount/AP_Mount_Backend.cpp
Labels: BUG, Library

#9947 AP_HAL_ChibiOS: fixed F405 PE15 afnum, should be 15 and not 1
  libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F405xx.py
Labels: BUG, ChibiOS

#9959 Plane: prevent jitter on surfaces due to speed scaling
  ArduPlane/Attitude.cpp
Labels: Plane

#9975 AUTOTEST: autotest statistics tags
  Tools/autotest/web/index.html
Labels: BuildSystem

#9974 HAL_ChibiOS: setup PH4 for right voltage scaling
  libraries/AP_HAL_ChibiOS/hwdef/PH4-mini/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/Pixhawk4/hwdef.dat
Labels: ChibiOS

#9976 Frame_params: Updates to Solo parameter files
  Tools/Frame_params/Solo_Copter-3.6_GreenCube.param
  Tools/Frame_params/Solo_Copter-3.7_BlackCube.param
  Tools/Frame_params/Solo_Copter-3.7_GreenCube.param
Labels: Solo

#9932 HAL_ChibiOS: Add hwdef for Solo's Cube Black & Green
  libraries/AP_HAL_ChibiOS/hwdef/CubeBlack-solo/README.md
  libraries/AP_HAL_ChibiOS/hwdef/CubeBlack-solo/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/CubeBlack-solo/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/CubeGreen-solo/README.md
  libraries/AP_HAL_ChibiOS/hwdef/CubeGreen-solo/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/CubeGreen-solo/hwdef.dat
Labels: ChibiOS, DevCallTopic, Library, Solo

#9987 Auto Build: Add Solo build targets
  Tools/scripts/build_binaries.py
Labels: BuildSystem, Solo

#9991 Auto Build: Move solo targets to Copter only
  Tools/scripts/build_binaries.py
Labels: BuildSystem, Solo

#9845 AP_Rangefinder: Add support for ST VL53L1X
  libraries/AP_RangeFinder/AP_RangeFinder_VL53L1X.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_VL53L1X.h
  libraries/AP_RangeFinder/RangeFinder.cpp
Labels: Library

#10038 Tools: Undefined name: 'AutoTestTimeoutException'
  Tools/autotest/apmrover2.py
Labels: Tools

#10041 AP_Motors: Dualheli- fix bug for scaling second swashplate
  libraries/AP_Motors/AP_MotorsHeli_Dual.cpp
Labels: BUG, TradHeli

#10011 Copter: convert to use AC_AutoTune library
  ArduCopter/Copter.h
  ArduCopter/Log.cpp
  ArduCopter/Parameters.cpp
  ArduCopter/Parameters.h
  ArduCopter/defines.h
  ArduCopter/mode.h
  ArduCopter/mode_autotune.cpp
  ArduCopter/system.cpp
  ArduCopter/wscript
Labels: Copter

#9900 AP_HAL_SITL: correct battery setup for rover
  libraries/AP_HAL_SITL/SITL_State.cpp
Labels: SITL

#10049 Plane: fix quadplane pos control param docs
  ArduPlane/quadplane.cpp
Labels: Plane

#10024 Plane: Allow users to force target airspeed in cruise or FBWB
  ArduPlane/Parameters.cpp
  ArduPlane/defines.h
  ArduPlane/navigation.cpp
Labels: Plane

#10063 AP_HAL_SITL: reorder setting of reuseaddr and bind for SITL RC port
  libraries/AP_HAL_SITL/SITL_State.cpp
Labels: SITL

#10061 AP_Mount: fix extreme gimbal movements before TX is turned on
  libraries/AP_Mount/AP_Mount_Backend.cpp
Labels: BUG, Copter, Library

#9940 Rover: fix guided mode for boat
  APMrover2/mode.h
  APMrover2/mode_guided.cpp
Labels: Rover

#10057 AP_SmartRTL: increase default pts to 300
  libraries/AP_SmartRTL/AP_SmartRTL.h
Labels: Copter, Enhancement, Rover

#10099 AP_InertialSensor: Remove unused parameter
  libraries/AP_InertialSensor/AP_InertialSensor.cpp
  libraries/AP_InertialSensor/AP_InertialSensor.h
Labels: AllVehicles, Docs, Enhancement

#10123 plane: quadplane.cpp add units to Q_VFWD_ALT
  ArduPlane/quadplane.cpp
Labels: VTOL-Plane

#10110 Plane: Disallow arming if quadplane has been requested but isn't available
  ArduPlane/AP_Arming.cpp
  ArduPlane/quadplane.h
Labels: VTOL-Plane

#10131 HAL_ChibiOS: fixed safety switch and LEDs on PH4-mini
  libraries/AP_HAL_ChibiOS/hwdef/PH4-mini/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef.dat
Labels: ChibiOS

#10142 Plane: Fix cases where quadplane level transition was not applied
  ArduPlane/Attitude.cpp
Labels: DevCallTopic, VTOL-Plane

#10143 waf: fixed static link build
  Tools/ardupilotwaf/ardupilotwaf.py
Labels: Linux
