Repository ArduPilot/ardupilot, pull requests merged in 2018-04, with the labels that each got.

#8049 GCS_MAVLink: avoid using global chan to uart mapping
  libraries/GCS_MAVLink/GCS_Param.cpp
Labels: Library

#8017 AP_HAL_ChibiOS: include correct wrappers
  libraries/AP_HAL_ChibiOS/hwdef/common/chibios_board.mk
Labels: ChibiOS

#8043 GCS_MAVLink: serial control: avoid nullptr dererences
  libraries/GCS_MAVLink/GCS_serial_control.cpp
Labels: Library

#8063 Rover: reduce expected times in scheduler table
  APMrover2/APMrover2.cpp
Labels: Rover

#8046 Rover: use MOT_THR_MIN as deadzone
  APMrover2/AP_MotorsUGV.cpp
Labels: Rover

#8066 AP_GPS: Correct HIL_GPS altitude conversion
  libraries/AP_GPS/AP_GPS_MAV.cpp
Labels: BUG, GPS, MAVLink

#8068 AP_HAL_SITL: remove cast to signed type
  libraries/AP_HAL_SITL/UARTDriver.cpp
Labels: SITL

#8083 AP_AHRS: remove pointless initialisations
  libraries/AP_AHRS/AP_AHRS.h
  libraries/AP_AHRS/AP_AHRS_DCM.h
  libraries/AP_AHRS/AP_AHRS_NavEKF.cpp
Labels: Library

#8082 AP_InertialSensor: remove pointless initialisations
  libraries/AP_InertialSensor/AP_InertialSensor.cpp
Labels: Library

#8084 Copter: correct terrain-alt logging
  ArduCopter/Log.cpp
Labels: Copter

#8087 AP_InertialNav: remove dead get_hagl method
  libraries/AP_InertialNav/AP_InertialNav_NavEKF.cpp
  libraries/AP_InertialNav/AP_InertialNav_NavEKF.h
Labels: Library

#8081 Copter: honour defines for optional feature's log messages
  ArduCopter/Log.cpp
Labels: Copter

#8104 waf: split copter and heli builds
  ArduCopter/wscript
  wscript
Labels: Copter, TradHeli

#8080 AP_Compass: include required header
  libraries/AP_Compass/Compass_learn.h
Labels: Library

#8117 AP_Baro: fixed multi-baro logging
  libraries/DataFlash/LogFile.cpp
Labels: BUG

#8112 DataFlash: remove vestiges of CLI functions
  libraries/DataFlash/DataFlash.cpp
  libraries/DataFlash/DataFlash.h
  libraries/DataFlash/DataFlash_Backend.h
  libraries/DataFlash/DataFlash_File.cpp
  libraries/DataFlash/DataFlash_File.h
  libraries/DataFlash/DataFlash_File_sd.cpp
  libraries/DataFlash/DataFlash_File_sd.h
  libraries/DataFlash/DataFlash_MAVLink.h
  libraries/DataFlash/DataFlash_Revo.cpp
  libraries/DataFlash/DataFlash_Revo.h
  libraries/DataFlash/LogFile.cpp
  libraries/DataFlash/examples/DataFlash_AllTypes/DataFlash_AllTypes.cpp
  libraries/DataFlash/examples/DataFlash_test/DataFlash_test.cpp
Labels: AllVehicles

#8090 AP_GPS: Allow HIL_GPS to flag vertical velocity
  libraries/AP_GPS/AP_GPS_MAV.cpp
Labels: GPS

#8122 AP_RSSI: Make the RSSI library an enable(d) param tree
  libraries/AP_RSSI/AP_RSSI.cpp
Labels: AllVehicles, Enhancement

#8133 AP_Rally: Remove stale comment, and unneeded #ifdef check
  libraries/AP_Rally/AP_Rally.cpp
Labels: AllVehicles, Library

#8126 AP_NavEKF: Make the status unions use bool, add static asserts
  libraries/AP_NavEKF/AP_Nav_Common.h
Labels: AllVehicles, EKF

#8142 Copter: autotune fix from Leonard
  ArduCopter/mode_autotune.cpp
Labels: Copter

#8154 Tools: add Skeytech location
  Tools/autotest/locations.txt
Labels: Tools

#8139 AP_Baro: fix BMP280 scale
  libraries/AP_Baro/AP_Baro_BMP280.cpp
Labels: Library

#8153 HAL_F4Light: fixed board's defines
  libraries/AP_HAL_F4Light/boards/f4light_Airbot/board.h
  libraries/AP_HAL_F4Light/boards/f4light_AirbotV2/board.h
  libraries/AP_HAL_F4Light/boards/f4light_cl_racing/board.h
Labels: F4Light

#8093 AP_HAL_ChibiOS: Remove unused priority level
  libraries/AP_HAL_ChibiOS/Scheduler.h
Labels: ChibiOS

#7720 AP_GPS: Do not restart driver if type is already defined
  libraries/AP_GPS/AP_GPS.cpp
Labels: DevCallTopic, GPS

#8134 GCS_MAVLink: fix VISP logging for ATT_POS_MOCAP mocap messages
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: Library

#8193 ArduCopter : clean unused definitions
  ArduCopter/mode.h
Labels: Copter

#8197 AP_Arming: Check all channels pass (<= min trim max)
  libraries/AP_Arming/AP_Arming.cpp
  libraries/AP_Arming/AP_Arming.h
Labels: AllVehicles, DevCallTopic, Enhancement

#8210 TradHeli Swashplate Servo Trim Fix in master
  libraries/AP_Motors/AP_MotorsHeli.cpp
  libraries/AP_Motors/AP_MotorsHeli.h
  libraries/AP_Motors/AP_MotorsHeli_Dual.cpp
  libraries/AP_Motors/AP_MotorsHeli_Single.cpp
Labels: BUG, TradHeli

#8219 AP_GPS: Report when SBF errors change
  libraries/AP_GPS/AP_GPS_SBF.cpp
Labels: GPS

#8231 Plane: fixed a bug in transition to QSTABILIZE for tailsitters
  ArduPlane/quadplane.cpp
Labels: BUG, VTOL-Plane

#8236 HAL_ChibiOS: fixed integer promotion bug in SoftSigReaderInt
  libraries/AP_HAL_ChibiOS/SoftSigReaderInt.cpp
Labels: ChibiOS

#8245 AP_Mission: Sanity check for NaN's and infinities
  libraries/AP_Mission/AP_Mission.cpp
  libraries/AP_Mission/AP_Mission.h
Labels: AllVehicles, Library

#8225 HAL_F4Light: new exception handling
  libraries/AP_HAL_F4Light/0_Done.md
  libraries/AP_HAL_F4Light/Scheduler.cpp
  libraries/AP_HAL_F4Light/Scheduler.h
  libraries/AP_HAL_F4Light/boards/f4light_Airbot/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/boards/f4light_AirbotV2/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/boards/f4light_MatekF405_CTR/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/boards/f4light_MiniF4_OSD/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/boards/f4light_Revolution/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/boards/f4light_Revolution_EE128/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/boards/f4light_Revolution_SD/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/boards/f4light_cl_racing/system_stm32f4xx.c
  libraries/AP_HAL_F4Light/hardware/hal/syscalls.c
  libraries/AP_HAL_F4Light/hardware/hal/systick.c
  libraries/AP_HAL_F4Light/hardware/hal/systick.h
  libraries/AP_HAL_F4Light/system.cpp
  libraries/AP_HAL_F4Light/wirish/cxxabi-compat.cpp
  libraries/AP_HAL_F4Light/wirish/exc.S
Labels: F4Light

#8247 Copter: document stream content
  ArduCopter/GCS_Mavlink.cpp
Labels: Copter

#8242 HAL_ChibiOS: added input capture filter
  libraries/AP_HAL_ChibiOS/SoftSigReader.cpp
  libraries/AP_HAL_ChibiOS/SoftSigReaderInt.cpp
  libraries/AP_HAL_ChibiOS/hwdef/common/chibios_board.mk
  libraries/AP_HAL_ChibiOS/hwdef/common/stm32_util.c
  libraries/AP_HAL_ChibiOS/hwdef/common/stm32_util.h
Labels: ChibiOS

#8148 AP_Motors: Add current limiting to 6DOF motors for Sub
  libraries/AP_Motors/AP_Motors6DOF.cpp
  libraries/AP_Motors/AP_Motors6DOF.h
  libraries/AP_Motors/AP_MotorsMulticopter.h
Labels: Library

#8260 HAL_ChibiOS: fixed IMU orientation for revo-mini
  libraries/AP_HAL_ChibiOS/hwdef/revo-mini/hwdef.dat
Labels: ChibiOS

#8021 Add Sensor-Rate logging to BatchSampler
  libraries/AP_InertialSensor/AP_InertialSensor.cpp
  libraries/AP_InertialSensor/AP_InertialSensor.h
  libraries/AP_InertialSensor/AP_InertialSensor_Backend.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Backend.h
  libraries/AP_InertialSensor/AP_InertialSensor_Invensense.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Invensense.h
  libraries/AP_InertialSensor/AP_InertialSensor_Revo.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Revo.h
  libraries/AP_InertialSensor/BatchSampler.cpp
Labels: DevCallTopic, Library
