Repository ArduPilot/ardupilot, pull requests merged in 2018-08, with the labels that each got.

#9070 HAL_ChibiOS: reduce memory used by serial buffers
  libraries/AP_HAL_ChibiOS/UARTDriver.cpp
  libraries/AP_HAL_ChibiOS/hwdef/common/halconf.h
Labels: ChibiOS

#9071 autotest: disable the Drive Brake test in rover
  Tools/autotest/apmrover2.py
Labels: Rover

#9080 HAL_ChibiOS: fixes for F745 builds
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF7/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F745xx.py
Labels: ChibiOS

#9081 HAL_ChibiOS: fixed an i2c dma callback bug
  libraries/AP_HAL_ChibiOS/I2CDevice.cpp
  libraries/AP_HAL_ChibiOS/I2CDevice.h
Labels: BUG, ChibiOS

#9082 Copter: fix compassmot
  ArduCopter/compassmot.cpp
Labels: BUG, Copter

#9074 AP_HAL_Chibios: fix fmuv3/hwdef.dat printf/STDOUT description and cleanup
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef.dat
Labels: ChibiOS

#9093 Frame_Params: Update for Solo on Copter 3.6
  Tools/Frame_params/Solo_AC36.param
Labels: Solo

#9127 Chibios add bootloader for mini-pix
  Tools/bootloaders/mini-pix_bl.bin
  Tools/bootloaders/mini-pix_bl.elf
  Tools/bootloaders/mini-pix_bl.hex
  libraries/AP_HAL_ChibiOS/hwdef/mini-pix/hwdef-bl.dat
Labels: ChibiOS

#9131 RC_Channels: zero all channels before populating
  libraries/RC_Channel/RC_Channels.cpp
Labels: DevCallTopic

#9012 Plane: Send a quadplane version of NAV_CONTROLLER_OUTPUT
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, Enhancement, MAVLink, VTOL-Plane

#8999 GCS_MAVLink: always send an idea of battery voltage as part of BATTERY_STATUS
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: AllVehicles, DevCallTopic, Enhancement, MAVLink

#9133 Copter: restore CHx_OPT param descriptions
  ArduCopter/Parameters.cpp
Labels: Copter

#9028 Rover: add support for custom motor configurations
  APMrover2/AP_MotorsUGV.cpp
  APMrover2/AP_MotorsUGV.h
  APMrover2/Parameters.cpp
  APMrover2/Parameters.h
  APMrover2/Rover.h
Labels: Rover

#9136 AP_RCProtocol: Fix out of bounds write, CID 308323 and 308333
  libraries/AP_RCProtocol/AP_RCProtocol_SBUS.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_SRXL.cpp
Labels: AllVehicles, BUG, Library

#9135 Tools: autotest: add test for copter's NAV_DELAY function
  Tools/autotest/arducopter.py
  Tools/autotest/copter_nav_delay.txt
Labels: Tools

#9140 Rover: change OmniPlus motor order
  APMrover2/AP_MotorsUGV.cpp
Labels: Rover

#9141 Rover: Add loiter behaviour parameter
  APMrover2/Parameters.cpp
  APMrover2/Parameters.h
  APMrover2/mode_loiter.cpp
Labels: Rover

#9155 HAL_ChibiOS: avoid 64 bit maths in AP_HAL::micros()
  libraries/AP_HAL_ChibiOS/hwdef/common/hrt.c
  libraries/AP_HAL_ChibiOS/hwdef/common/hrt.h
  libraries/AP_HAL_ChibiOS/hwdef/common/stm32_util.c
  libraries/AP_HAL_ChibiOS/system.cpp
Labels: ChibiOS

#9091 Tools:TradHeli - update Copter3.6 setup params and add param files for QGC
  Tools/Frame_params/TradHeli_Copter36_Setup-MP.param
  Tools/Frame_params/TradHeli_Copter36_Setup-QGC.params
  Tools/Frame_params/TradHeli_Copter36_Upgrade-MP.param
  Tools/Frame_params/TradHeli_Copter36_Upgrade-QGC.params
Labels: TradHeli

#9137 RC_Channel: Fix possible user induced out of bounds write
  libraries/RC_Channel/RC_Channel.cpp
Labels: AllVehicles, BUG, Library

#9059 AP_RSSI: allow override of RSSI pin
  libraries/AP_RSSI/AP_RSSI.cpp
Labels: ChibiOS

#9191 HAL_ChibiOS: restore default dataflash buffer size
  libraries/AP_HAL_ChibiOS/hwdef/F4BY/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405-Wing/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef.dat
Labels: ChibiOS, DataFlash, WIP

#9096 Tools: add arm and disarm tests
  Tools/autotest/apmrover2.py
  Tools/autotest/arducopter.py
  Tools/autotest/arduplane.py
  Tools/autotest/ardusub.py
  Tools/autotest/common.py
  Tools/autotest/quadplane.py
Labels: Tools

#9197 Tools: copter: adjust takeoff alt
  Tools/autotest/arducopter.py
Labels: Tools

#9176 scripts: Add mavproxy in pip install
  Tools/scripts/install-prereqs-mac.sh
Labels: Tools

#9234 Tools: improve hexacopter default gains in SITL
  Tools/autotest/default_params/copter-hexa.parm
Labels: Copter, DevEnv

#9220 Plane: Remove unneeded rudder set
  ArduPlane/servos.cpp
Labels: Plane

#9116 Copter: mode_autotune: factor out common filter reset code
  ArduCopter/mode_autotune.cpp
Labels: Copter, DevCallTopic

#9163 DataFlash: add sanity check for WritePrioritisedBlock size
  libraries/DataFlash/DataFlash.cpp
  libraries/DataFlash/DataFlash.h
  libraries/DataFlash/DataFlash_Backend.cpp
  libraries/DataFlash/DataFlash_Backend.h
Labels: DataFlash, DevCallTopic

#9188 AP_Notify: tidy and remove code duplications
  libraries/AP_Notify/RGBLed.cpp
  libraries/AP_Notify/RGBLed.h
Labels: DevCallTopic, Library

#9238 Tools: allow to retry to get parameters before timeout
  Tools/autotest/common.py
Labels: Tools

#9241 Tools: sitl gain update for hexa y6 and octaquad
  Tools/autotest/default_params/copter-hexa.parm
  Tools/autotest/default_params/copter-octaquad.parm
  Tools/autotest/default_params/copter-y6.parm
Labels: Copter, DevEnv

#9250 Rover: fix initial target when setting Guided
  APMrover2/mode_guided.cpp
Labels: BUG, Rover

#9257 Tools: autotest: fetch parameters after applying parameter file
  Tools/autotest/common.py
Labels: WIP

#9272 Tools: rise nav_takeoff_delay_abstime delta to cope with rounding.
  Tools/autotest/arducopter.py
Labels: Tools

#9264 Tools: make takeoff check if it need arming and auto arm
  Tools/autotest/arducopter.py
Labels: Tools

#9278 Rover: fix G_Dt when SCHED_LOOP_RATE increased
  APMrover2/APMrover2.cpp
Labels: BUG, Rover

#8863 Use GPS_AUTO_SWITCH parameter to choose exacly which GPS to use
  libraries/AP_GPS/AP_GPS.cpp
Labels: GPS

#9284 HAL_ChibiOS: fixed handling of 16 bit timers
  libraries/AP_HAL_ChibiOS/hwdef/common/hrt.c
Labels: ChibiOS

#8860 AP_ADSB: Add valid parameter range to squawk codes
  libraries/AP_ADSB/AP_ADSB.cpp
Labels: Driver, Enhancement, Library

#9229 Tools: from common import PreconditionFailedException
  Tools/autotest/arducopter.py
Labels: Tools

#9263 Tools: auto fetch parameter if setting an _ENABLE one
  Tools/autotest/common.py
Labels: Tools

#9294 AP_HAL_SITL: update parameter with using command line speedup option
  libraries/AP_HAL_SITL/SITL_cmdline.cpp
Labels: SITL

#9298 Copter: Tradheli - fix issue with position moving while on ground
  ArduCopter/mode_loiter.cpp
Labels: DevCallTopic, TradHeli

#9221 Plane: Add a manual only form of stick mixing
  ArduPlane/Attitude.cpp
  ArduPlane/Parameters.cpp
  ArduPlane/Parameters.h
  ArduPlane/Plane.h
  ArduPlane/defines.h
  ArduPlane/navigation.cpp
  ArduPlane/radio.cpp
Labels: DevCallTopic, Enhancement, Plane

#9256 AP_Mission: Reduce the number of places _set_cmd is called from
  libraries/AP_Mission/AP_Mission.cpp
  libraries/AP_Mission/AP_Mission.h
Labels: AllVehicles, DevCallTopic, Enhancement, Library

#9302 Plane: Fix a stale rudder input that was left from rebase
  ArduPlane/radio.cpp
Labels: BUG, Plane

#9299 RC_Channel: Fix accidental quantization of override_timeout to 1 second resolution
  libraries/RC_Channel/RC_Channel.cpp
Labels: AllVehicles, BUG, Library

#9165 SITL: Change barometer noise to 2cm for Sub
  Tools/autotest/default_params/sub.parm
Labels: SITL, Tools

#9301 Rover: Activation of OSD
  APMrover2/Parameters.cpp
  APMrover2/Parameters.h
  APMrover2/Rover.h
  APMrover2/config.h
  APMrover2/make.inc
  APMrover2/system.cpp
  APMrover2/wscript
Labels: OSD, Rover

#9317 AP_GPS: Fix accidental quantization to float on logging
  libraries/AP_GPS/AP_GPS_SBF.cpp
Labels: AllVehicles, GPS, Library
