Repository ArduPilot/ardupilot, pull requests merged in 2019-07, with the labels that each got.

#11693 Tools: fixed handling of bitmask in param metdata
  Tools/autotest/param_metadata/param_parse.py
Labels: BUG

#11645 AP_HAL_ChibiOS: fix voltage sensor connected to fmu adc
  libraries/AP_HAL_ChibiOS/AnalogIn.cpp
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: BUG, ChibiOS, DevCallTopic

#11664 GCS_MAVLink: remove stray undef of undefined macro
  libraries/GCS_MAVLink/GCS.cpp
Labels: DevCallTopic

#11663 AP_Arming: remove stray comment on removed parameter
  libraries/AP_Arming/AP_Arming.cpp
Labels: DevCallTopic

#11652 Copter: pass GCS_MAVLink object rather than channel number in motortest
  ArduCopter/Copter.h
  ArduCopter/GCS_Mavlink.cpp
  ArduCopter/motor_test.cpp
Labels: Copter, DevCallTopic

#10793 Plane: add bi-copter tilt rotors quadplanes
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
  ArduPlane/servos.cpp
  ArduPlane/tailsitter.cpp
  ArduPlane/tiltrotor.cpp
Labels: DevCallTopic, VTOL-Plane

#11711 AP_AHRS: allow EKF_TYPE==10 to send a good status report
  libraries/AP_AHRS/AP_AHRS_NavEKF.cpp
Labels: BUG, EKF, SITL

#11407 SITL: JSBSim: Fix comments
  libraries/SITL/SIM_JSBSim.cpp
  libraries/SITL/SIM_JSBSim.h
Labels: SITL

#11558 Added Quadplane option for QRTL failsafe action
  ArduPlane/events.cpp
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: Enhancement, VTOL-Plane

#11691 AP_GPS: fixed u-blox F9 auto configuration
  libraries/AP_GPS/AP_GPS_UBLOX.cpp
  libraries/AP_GPS/AP_GPS_UBLOX.h
Labels: GPS

#11730 SITL: fixed pitch constraint on fixed wing takeoff
  libraries/SITL/SIM_Aircraft.cpp
Labels: BUG, SITL

#11728 AP_RCProtocol: fixed a overflow in SRXL decoder
  libraries/AP_RCProtocol/AP_RCProtocol.h
  libraries/AP_RCProtocol/AP_RCProtocol_SRXL.cpp
Labels: BUG

#11639 AP_Motors: fixed col max and min for dual heli
  libraries/AP_Motors/AP_MotorsHeli.cpp
  libraries/AP_Motors/AP_MotorsHeli.h
Labels: TradHeli

#11713 AP_Scripting: Tighten range checks on library calls
  libraries/AP_Scripting/generator/description/bindings.desc
  libraries/AP_Scripting/generator/src/main.c
  libraries/AP_Scripting/lua_generated_bindings.cpp
Labels: Enhancement, Scripting

#11722 Copter: mark position_ok methods as const
  ArduCopter/Copter.h
  ArduCopter/system.cpp
Labels: DevCallTopic

#10433 Add GUIDED_NOGPS to should-run-failsafe checks
  ArduCopter/events.cpp
Labels: DevCallTopic

#11748 Sub: Issue11018 Don't announce 'motor test timed out'
  ArduSub/motors.cpp
Labels: Sub

#9393 Test arm condition for each modes
  Tools/autotest/ArduPlane-Missions/test_arming.txt
  Tools/autotest/ArduRover-Missions/test_arming.txt
  Tools/autotest/ArduSub-Missions/test_arming.txt
  Tools/autotest/apmrover2.py
  Tools/autotest/arducopter.py
  Tools/autotest/arduplane.py
  Tools/autotest/ardusub.py
  Tools/autotest/common.py
  Tools/autotest/quadplane.py
Labels: Tools

#11768 Tools: factorize sitl rangefinder setup
  Tools/autotest/arducopter.py
  Tools/autotest/arduplane.py
  Tools/autotest/common.py
Labels: Tools

#11744 ChibiOS: hwdef revo-mini correct IMU rotation
  libraries/AP_HAL_ChibiOS/hwdef/revo-mini/hwdef.dat
Labels: ChibiOS

#11790 AP_Arming: reduce length of internal errors errorstring prefix
  libraries/AP_Arming/AP_Arming.cpp
Labels: Library

#11366 Update README.md
  libraries/AP_HAL_ChibiOS/hwdef/CUAVv5/README.md
  libraries/AP_HAL_ChibiOS/hwdef/PH4-mini/README.md
  libraries/AP_HAL_ChibiOS/hwdef/Pixhawk4/README.md
Labels: ChibiOS, DevCallTopic, Docs

#11796 AP_Scripting: Update generator to not use readline
  libraries/AP_Scripting/generator/Makefile
  libraries/AP_Scripting/generator/src/main.c
Labels: Scripting

#11697 AP_HAL_ChibiOS: fix buzzer pin define on OMNIBUSF7V2
  libraries/AP_HAL_ChibiOS/hwdef/OMNIBUSF7V2/hwdef.dat
Labels: ChibiOS

#11784 Tools: reduce mavproxy memory usage on autotest
  Tools/autotest/pysim/util.py
Labels: Tools

#11806 HAL_ChibiOS: fixed SemLine data in WDOG msg
  libraries/AP_HAL_ChibiOS/HAL_ChibiOS_Class.cpp
Labels: ChibiOS

#11779 AP_OADijkstra: re-do visgraphs if polyfence is changed
  libraries/AC_Avoidance/AP_OADijkstra.cpp
Labels: BUG, Rover

#11775 AP_Notify: play error tone if we have no microSD at boot
  libraries/AP_Notify/ToneAlarm.cpp
Labels: ChibiOS, DevCallTopic

#11805 Tools: waf: add -Werror=delete-non-virtual-dtor
  Tools/ardupilotwaf/boards.py
Labels: Tools

#11755 AP_Avoidance: stop copying adsb vehicle onto stack in src_id_for_adsb…
  libraries/AP_Avoidance/AP_Avoidance.cpp
  libraries/AP_Avoidance/AP_Avoidance.h
Labels: Library

#11772 Sub: correct LOIT parameter documentation prefix
  ArduSub/Parameters.cpp
Labels: Sub

#11810 OSD: Add panel parameter descriptions
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: Docs, OSD

#11749 Sub: Issue10844 Enforce Disarm Button
  ArduSub/AP_Arming_Sub.cpp
  ArduSub/AP_Arming_Sub.h
Labels: Sub

#11774 Copter: auto's wp_start accepts terrain alts
  ArduCopter/mode.h
  ArduCopter/mode_auto.cpp
Labels: BUG, Copter

#11739 Copter: PosHold fix for low brake_rate
  ArduCopter/mode.h
  ArduCopter/mode_poshold.cpp
Labels: BUG, Copter

#11788 Copter: improve OctaV roll factors
  libraries/AP_Motors/AP_MotorsMatrix.cpp
Labels: BUG, Copter

#10956 Copter: fixed can't enter esc calibration by RC.
  ArduCopter/system.cpp
Labels: BUG, Copter

#11838 HAL_ChibiOS: added unused CS pins for fmuv5
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef.dat
Labels: ChibiOS

#11578 Tracker disarmed pwm bug fix
  AntennaTracker/Parameters.cpp
  AntennaTracker/Parameters.h
  AntennaTracker/control_manual.cpp
  AntennaTracker/defines.h
  AntennaTracker/servos.cpp
  AntennaTracker/tracking.cpp
Labels: AntennaTracker, BUG

#11844 AP_Scripting: add AP_arming binding
  libraries/AP_Scripting/generator/description/bindings.desc
  libraries/AP_Scripting/lua_generated_bindings.cpp
  libraries/AP_Scripting/lua_generated_bindings.h
Labels: Enhancement, Scripting

#11831 AP_OSD_Screen: fix param descriptions
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#11836 AP_Airspeed: support both 5inH2O and 10inH2O versions of DLVR sensor
  libraries/AP_Airspeed/AP_Airspeed.cpp
  libraries/AP_Airspeed/AP_Airspeed.h
  libraries/AP_Airspeed/AP_Airspeed_DLVR.cpp
  libraries/AP_Airspeed/AP_Airspeed_DLVR.h
Labels: Plane

#11839 Copter: Add missing Loiter initialisation lines.
  ArduCopter/mode_auto.cpp
  ArduCopter/mode_land.cpp
  ArduCopter/mode_poshold.cpp
  ArduCopter/mode_rtl.cpp
Labels: BUG, Copter

#11849 AP_Scripting: Add arming call, improve range check casting
  libraries/AP_Scripting/generator/description/bindings.desc
  libraries/AP_Scripting/generator/src/main.c
  libraries/AP_Scripting/lua_generated_bindings.cpp
Labels: Scripting

#11851 Tracker: add disarmed pwm param Backport
  AntennaTracker/Parameters.cpp
  AntennaTracker/Parameters.h
  AntennaTracker/control_manual.cpp
  AntennaTracker/defines.h
  AntennaTracker/servos.cpp
  AntennaTracker/tracking.cpp
Labels: AntennaTracker, BUG

#11856 Copter: esc cal startup check moved outside rc output initialisation
  ArduCopter/radio.cpp
  ArduCopter/system.cpp
Labels: BUG, Copter

#11820 Rover: null check for unconfigured RCMAP_YAW
  APMrover2/mode.cpp
  APMrover2/radio.cpp
Labels: BUG, DevCallTopic, Rover

#11883 AP_Logger: Missing label change
  libraries/AP_Logger/LogStructure.h
Labels: Library

#11885 HAL_ChibiOS: default OTG2 protocol to mavlink2 on most boards
  libraries/AP_HAL_ChibiOS/hwdef/Pixhawk6/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/mRoControlZeroF7/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/mRoX21-777/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS

#11896 AP_Logger: fix PRX distance scaling
  libraries/AP_Logger/LogStructure.h
Labels: BUG, Logging

#11823 Copter: avoid terrain failsafe from a single out-of-range rangefinder reading
  ArduCopter/sensors.cpp
Labels: Copter, Enhancement

#11899 AP_RangeFinder: LightwareSerial driver handles invalid distances
  libraries/AP_RangeFinder/AP_RangeFinder_LightWareSerial.cpp
Labels: BUG, DevCallTopic, Library

#11905 Rover: resolve send_text compiler warnings
  APMrover2/failsafe.cpp
  APMrover2/mode_auto.cpp
  APMrover2/sensors.cpp
Labels: Rover

#11890 AP_AccelCal: remove wrapper around send_text
  libraries/AP_AccelCal/AP_AccelCal.cpp
  libraries/AP_AccelCal/AP_AccelCal.h
Labels: DevCallTopic

#11033 Copter: mode_auto: retract the landing gear automatically
  ArduCopter/mode_auto.cpp
Labels: Copter, DevCallTopic

#11909 AP_Mission: Refactor read_cmd_from_storage for clarity
  libraries/AP_Mission/AP_Mission.cpp
Labels: Enhancement, Library

#11915 AP_Baro: Rearrange the sensor struct
  libraries/AP_Baro/AP_Baro.h
Labels: Library

#11910 AP_BoardConfig_CAN: fix bad get_slcan_serial method
  libraries/AP_BoardConfig/AP_BoardConfig_CAN.cpp
Labels: CAN, Library

#11917 AP_GPS: ensure we have full timestamp before setting RTC clock
  libraries/AP_GPS/AP_GPS.cpp
Labels: GPS
