Repository ArduPilot/ardupilot, pull requests merged in 2019-08, with the labels that each got.

#11919 small TECS improvements
  libraries/AP_TECS/AP_TECS.cpp
  libraries/AP_TECS/AP_TECS.h
Labels: Plane

#11807 AP_OSD: add primary airspeed item
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#11623 RC_Channel: allow configurable debounce time for any channel
  libraries/RC_Channel/RC_Channel.cpp
  libraries/RC_Channel/RC_Channel.h
Labels: Library

#11937 Tools: added Vicon mavlink gateway script
  Tools/Vicon/README.md
  Tools/Vicon/vicon_mavlink.py
Labels: Tools

#11938 AP_GPS: correct format string warnings in SBF driver
  libraries/AP_GPS/AP_GPS_SBF.cpp
Labels: DevCallTopic, GPS

#11951 AP_BattMonitor: add PWM Fuel Level Sensor
  libraries/AP_BattMonitor/AP_BattMonitor.cpp
  libraries/AP_BattMonitor/AP_BattMonitor.h
  libraries/AP_BattMonitor/AP_BattMonitor_FuelLevel_PWM.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_FuelLevel_PWM.h
  libraries/AP_BattMonitor/AP_BattMonitor_Params.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_Params.h
Labels: ChibiOS

#11959 AR_WPNav: add speed_min parameter
  libraries/AR_WPNav/AR_WPNav.cpp
  libraries/AR_WPNav/AR_WPNav.h
Labels: Enhancement, Rover

#11920 Plane: added rangefinder correction by terrain data
  ArduPlane/Plane.h
  ArduPlane/altitude.cpp
Labels: DevCallTopic, Plane

#11792 Tools: autotest: remove ineffective sub parameter
  Tools/autotest/default_params/sub.parm
Labels: DevCallTopic, Sub, Tools

#11949 Rover: remove Dodge avoidance
  APMrover2/Log.cpp
  APMrover2/Parameters.cpp
  APMrover2/Parameters.h
  APMrover2/Rover.h
  APMrover2/mode.cpp
  APMrover2/sensors.cpp
Labels: Rover

#11979 Rover: fix sailboat heel PID
  libraries/APM_Control/AR_AttitudeControl.cpp
Labels: BUG, Rover

#11986 SITL: add wave and tide support for sailboats
  libraries/SITL/SIM_Sailboat.cpp
  libraries/SITL/SIM_Sailboat.h
  libraries/SITL/SITL.cpp
  libraries/SITL/SITL.h
Labels: Enhancement, SITL

#11980 Tools: add -Werror=suggest-override for gcc
  Tools/ardupilotwaf/boards.py
Labels: DevCallTopic

#12026 HAL_ChibiOS: fixed reboot hold in bootloader
  libraries/AP_HAL_ChibiOS/Scheduler.cpp
Labels: ChibiOS

#11993 Plane: factor out a handle_command_int_do_reposition
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/GCS_Mavlink.h
Labels: DevCallTopic

#12055 AP_Scripting: Remove unneeded function, add some more enums
  libraries/AP_Scripting/generator/description/bindings.desc
  libraries/AP_Scripting/lua_generated_bindings.cpp
Labels: Scripting

#12066 AP_InertialSensor: fixed watchdog on AHRS trim gyro wait
  libraries/AP_InertialSensor/AP_InertialSensor.cpp
Labels: ChibiOS

#12053 AP_RPM: Added Arduino RPM Sensor Debug Tool
  libraries/AP_RPM/examples/ArduinoHallEffectDebug.ino
Labels: Tools

#12079 AP_HAL_SITL: Scheduler skip set stack on Cygwin
  libraries/AP_HAL_SITL/Scheduler.cpp
Labels: BUG, SITL

#12102 Rover: fix sailboat without motors moving backwards in SITL
  libraries/SITL/SIM_Sailboat.cpp
  libraries/SITL/SIM_Sailboat.h
Labels: BUG, Rover, SITL

#12101 Sub: correct compilation when terrain is enabled
  ArduSub/GCS_Sub.cpp
Labels: Sub

#12115 Plane: reset steering in MANUAL or when not stabilising
  ArduPlane/Attitude.cpp
Labels: Plane

#12092 Plane: correct compilation with PARACHUTE==DISABLED
  ArduPlane/events.cpp
Labels: Plane

#12135 AP_Baro: Fix floating point exception with watchdog reset
  libraries/AP_Baro/AP_Baro.cpp
Labels: DevCallTopic

#12114 Tools: fixed apj_tool for python3
  Tools/scripts/apj_tool.py
Labels: Tools

#12111 AP_HAL_ChibiOS: Remove almost redundant code duplication from the HAL
  libraries/AP_HAL_ChibiOS/stdio.cpp
Labels: ChibiOS

#11356 hwdef: Enable Spektrum 3.3V VDD Power on fmuv5
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef.dat
Labels: ChibiOS, DevCallTopic

#12095 Tools: autotest: add test for short failsafe triggering via low-throttle
  Tools/autotest/arduplane.py
Labels: WIP

#12126 AP_Notify: add static asserts for array size
  libraries/AP_Notify/Display.cpp
Labels: DevCallTopic

#12106 Sub: fix format-string compilation warning
  ArduSub/commands_logic.cpp
Labels: DevCallTopic, Sub

#12098 Copter: fix compilation when drift mode is disabled
  ArduCopter/mode.cpp
Labels: Copter, DevCallTopic

#12089 AP_Scripting: Allow the bindings to descirbe any build dependencies needed
  libraries/AP_Scripting/generator/description/bindings.desc
  libraries/AP_Scripting/generator/src/main.c
  libraries/AP_Scripting/lua_generated_bindings.cpp
  libraries/AP_Scripting/lua_generated_bindings.h
Labels: DevCallTopic, Scripting

#12148 waf: squash expansion-to-defined warnings
  Tools/ardupilotwaf/boards.py
Labels: DevEnv

#12168 AP_Compass: fixed uninitialised CAN device ID bits
  libraries/AP_Compass/AP_Compass_UAVCAN.cpp
Labels: CAN

#11112 Plane: servos: update dspoiler auto trim
  ArduPlane/servos.cpp
Labels: Plane
