Repository ArduPilot/ardupilot, pull requests merged in 2019-11, with the labels that each got.

#12734 HAL_ChibiOS: fixed SPI timeout bug
  libraries/AP_HAL_ChibiOS/SPIDevice.cpp
Labels: BUG, ChibiOS

#12742 Rover: Added reversing loiter_type parameter
  APMrover2/Parameters.cpp
  APMrover2/mode_loiter.cpp
Labels: Rover

#12671 GCS_MAVLink: check reply channel for space rather than current channel
  libraries/GCS_MAVLink/GCS_Param.cpp
Labels: BUG, DevCallTopic, SITL

#12711 AP_GPS: Always send GPS2_RAW after we've seen the second GPS
  libraries/AP_GPS/AP_GPS.cpp
  libraries/AP_GPS/AP_GPS.h
Labels: GPS

#12689 HAL_ChibiOS: enable MatekF765 LED pin
  libraries/AP_HAL_ChibiOS/hwdef/MatekF765-Wing/defaults.parm
  libraries/AP_HAL_ChibiOS/hwdef/MatekF765-Wing/hwdef.dat
Labels: ChibiOS, NeedsTesting

#12710 AP_NavEKF2: provide reasons for init failures
  libraries/AP_NavEKF2/AP_NavEKF2.cpp
  libraries/AP_NavEKF2/AP_NavEKF2.h
Labels: DevCallTopic, EKF, WIP

#12791 Frame_params: Updated solo params for Copter 4
  Tools/Frame_params/Solo_Copter-4.param
  Tools/Frame_params/Solo_Copter-4_GreenCube.param
  libraries/AP_HAL_ChibiOS/hwdef/CubeGreen-solo/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/CubeSolo/hwdef.dat
Labels: ChibiOS, Solo, Tools

#12736 Plane: added Q_ASSIST_ALT parameter
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: VTOL-Plane

#12724 AC_Fence: relax sys-status healthy reporting
  libraries/AC_Fence/AC_Fence.cpp
Labels: Copter, DevCallTopic, Library, Rover

#12817 AP_LandingGear: send-text only if servo output has been configured
  libraries/AP_LandingGear/AP_LandingGear.cpp
Labels: BUG, Library

#12709 AP_RangeFinder: update Type and Pin parameter values
  libraries/AP_RangeFinder/AP_RangeFinder_Params.cpp
Labels: DevCallTopic, Library

#12820 Copter: fix takeoff from getting stuck (rarely)
  ArduCopter/mode_auto.cpp
  ArduCopter/mode_guided.cpp
  ArduCopter/mode_zigzag.cpp
Labels: BUG, Copter

#12806 Frame_params: Solo dynamic and static notch filter parameters
  Tools/Frame_params/Solo_Copter-4.param
  Tools/Frame_params/Solo_Copter-4_GreenCube.param
  Tools/Frame_params/test params stock solo.param
  Tools/Frame_params/test params.param
Labels: Solo, Tools

#12826 AP_RangeFinder: clarify _TYPE param descriptions for Benewake lidar
  libraries/AP_RangeFinder/AP_RangeFinder_Params.cpp
Labels: Library

#12201 HAL_Linux: disabling input modifications on serial interface for rc r…
  libraries/AP_HAL_Linux/RCInput_RCProtocol.cpp
Labels: Linux

#12837 HAL_ChibiOS: retain OPENDRAIN if set on a pin
  libraries/AP_HAL_ChibiOS/GPIO.cpp
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef.dat
Labels: ChibiOS

#12775 AP_Common: remove is-zero checks for Location::offset
  libraries/AP_Common/Location.cpp
Labels: DevCallTopic

#12758 HAL_ChibiOS: support LEDs with a wider range of frequencies
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
  libraries/AP_HAL_ChibiOS/RCOutput.h
Labels: ChibiOS, DevCallTopic

#12858 AP_Motors: tradheli- fix metadata
  libraries/AP_Motors/AP_MotorsHeli.cpp
  libraries/AP_Motors/AP_MotorsHeli_Dual.cpp
  libraries/AP_Motors/AP_MotorsHeli_Single.cpp
Labels: TradHeli

#12861 AP_SerialManager: fixed GPS in AP_Periph
  libraries/AP_SerialManager/AP_SerialManager.h
Labels: AP_Periph, GPS

#12747 AP_HAL_ChibiOS: Add defaults.parm for CubeOrange and CubeYellow
  libraries/AP_HAL_ChibiOS/hwdef/CubeOrange/defaults.parm
  libraries/AP_HAL_ChibiOS/hwdef/CubeYellow/defaults.parm
Labels: ChibiOS

#12871 Plane: correct crash_detect param description...no manual mode option…
  ArduPlane/Parameters.cpp
Labels: Plane

#12885 AP_BattMonitor: added Durandal selection for batt mon pins
  libraries/AP_BattMonitor/AP_BattMonitor_Params.cpp
Labels: ChibiOS

#12884 Rover: remove pointless library init wrappers
  APMrover2/Rover.h
  APMrover2/sensors.cpp
  APMrover2/system.cpp
Labels: DevCallTopic

#12881 SRV_Channel: remove old unused reversible-throttle concept
  libraries/SRV_Channel/SRV_Channel.h
Labels: DevCallTopic

#12855 SITL: ADSB: Don't hard code the emitter type
  libraries/SITL/SIM_ADSB.cpp
  libraries/SITL/SIM_ADSB.h
Labels: DevCallTopic, MAVLink, SITL

#12799 AP_NavEKF2: clean up init failure handling
  libraries/AP_NavEKF2/AP_NavEKF2.cpp
  libraries/AP_NavEKF2/AP_NavEKF2.h
Labels: BUG, DevCallTopic, EKF

#12895 AC_PosControl: fix minor bug for set_max_speed_z()
  libraries/AC_AttitudeControl/AC_PosControl.cpp
Labels: BUG, Copter

#12893 AP_Radio: expect delay whil resetting radios
  libraries/AP_Radio/AP_Radio_cypress.cpp
Labels: NeedsTesting
