Repository ArduPilot/ardupilot, pull requests merged in 2019-02, with the labels that each got.

#10377 AP_RPM: set health false if disabled during runtime
  libraries/AP_RPM/AP_RPM.cpp
Labels: Rover

#10388 Rover: avoid divide-by-zero in desired-speed-final calcs
  APMrover2/mode.cpp
Labels: BUG, Rover

#10400 Plane: allow rudder at zero throttle
  ArduPlane/quadplane.cpp
Labels: Plane, VTOL-Plane

#10397 Plane: separate out slew limit logic for left/right throttles
  ArduPlane/Plane.h
  ArduPlane/servos.cpp
Labels: BUG, Plane

#10351 Plane: Update throttle mix
  ArduPlane/ArduPlane.cpp
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: BUG, DevCallTopic, VTOL-Plane

#10416 Copter: remove pv_ functions that duplicate Location functions
  ArduCopter/Copter.h
  ArduCopter/GCS_Mavlink.cpp
  ArduCopter/autoyaw.cpp
  ArduCopter/mode_auto.cpp
  ArduCopter/position_vector.cpp
Labels: Copter

#8876 ADSB: add param ADSB_LIST_ALT to filter aircraft by altitude
  libraries/AP_ADSB/AP_ADSB.cpp
  libraries/AP_ADSB/AP_ADSB.h
Labels: Library

#10431 Tools: autotest: correct debug for precision
  Tools/autotest/apmrover2.py
Labels: Tools

#10430 Tools: autotest: improve autotest output
  Tools/autotest/arducopter.py
  Tools/autotest/common.py
Labels: Tools

#10442 AP_Airspeed: disable airspeed (_TYPE=0) as rover default
  libraries/AP_Airspeed/AP_Airspeed.cpp
Labels: Library

#10456 Filter: fixed crash on zero cutoff frequency
  libraries/Filter/LowPassFilter2p.cpp
Labels: BUG

#10476 Rover: remove rc out initialisation wrappers
  APMrover2/APMrover2.cpp
  APMrover2/Rover.h
  APMrover2/radio.cpp
  APMrover2/system.cpp
Labels: Rover

#10453 Plane: call AHRS resetHeightDatum() on baro reset
  ArduPlane/commands.cpp
Labels: BUG, Plane

#10478 Tools: autotest: print time taken for each test
  Tools/autotest/autotest.py
  Tools/autotest/common.py
Labels: Tools

#10479 forward X11 traffic by default in Vagrant
  Vagrantfile
Labels: Tools

#10501 AP_Common: Move LOCATION_ALT_MAX_M declaration from AP_Common.h to Lo…
  libraries/AP_Common/AP_Common.h
  libraries/AP_Common/Location.h
Labels: Enhancement, Library

#10489 Tools/autotest: add quadplane output_motor_mask check
  Tools/autotest/common.py
  Tools/autotest/quadplane.py
Labels: Tools

#10509 Rover: guided heading-and-speed control fix
  APMrover2/mode_guided.cpp
Labels: BUG, Rover

#10519 AP_Logger: call wrap_360_cd on yaw values in WriteAttitudeView
  libraries/AP_Logger/LogFile.cpp
Labels: Library, VTOL-Plane

#10323 ArduPlane: implement hover throttle learning for quadplanes
  ArduPlane/ArduPlane.cpp
  ArduPlane/Plane.h
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
  ArduPlane/servos.cpp
Labels: DevCallTopic, VTOL-Plane

#10497 AP_HAL_ChibiOS: implement 'uint16_t millis16'
  libraries/AP_HAL_ChibiOS/system.cpp
Labels: DevCallTopic

#10554 GCS_MAVLink: clarify packetReceive calling handlemessage checks
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: Library

#10361 Plane: Manage quadplane throttle during RC failsafe
  ArduPlane/radio.cpp
  ArduPlane/system.cpp
Labels: NeedsTesting, Safety, VTOL-Plane

#10552 AP_HAL_SITL: cast PTHREAD_STACK_MIN to unsigned
  libraries/AP_HAL_SITL/Scheduler.cpp
Labels: SITL

#10558 Tools: fix lambda test
  Tools/autotest/apmrover2.py
  Tools/autotest/arducopter.py
  Tools/autotest/arduplane.py
  Tools/autotest/ardusub.py
  Tools/autotest/common.py
  Tools/autotest/quadplane.py
Labels: Tools

#10582 Plane: Fix not logging quadplane control, and over logging attitude control
  ArduPlane/quadplane.cpp
Labels: DataFlash, VTOL-Plane

#10573 Plane: fixed servo jitter due to airspeed estimate from throttle
  ArduPlane/servos.cpp
Labels: Plane

#10583 Plane: prevent loss of control when Q_ENABLE is set while flying
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: BUG, Safety, VTOL-Plane

#10595 Plane: fixed throttle nudge
  ArduPlane/radio.cpp
Labels: Plane

#10597 AP_RangeFinder: fixed lightware serial with LW20 lidar
  libraries/AP_RangeFinder/AP_RangeFinder_LightWareSerial.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_LightWareSerial.h
Labels: Library

#10601 AP_InertialNav: Remove unused get_pos_z_derivative
  libraries/AP_InertialNav/AP_InertialNav_NavEKF.cpp
  libraries/AP_InertialNav/AP_InertialNav_NavEKF.h
Labels: Library

#10596 Plane: Don't overwrite the quadplane loiter relax
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: BUG, VTOL-Plane

#10551 GCS_MAVLink: tighten return type on mav_var_type
  libraries/GCS_MAVLink/GCS_MAVLink.cpp
  libraries/GCS_MAVLink/GCS_MAVLink.h
  libraries/GCS_MAVLink/GCS_Param.cpp
Labels: DevCallTopic, Library

#10608 PR: ArduPlane + latest JSBSim: Wrong airspeed units conversion, issue #10567
  libraries/SITL/SIM_JSBSim.cpp
Labels: DevCallTopic

#10429 AP_GPS: remove pointless initialisers
  libraries/AP_GPS/AP_GPS_ERB.cpp
  libraries/AP_GPS/AP_GPS_ERB.h
  libraries/AP_GPS/AP_GPS_MTK.cpp
  libraries/AP_GPS/AP_GPS_NMEA.cpp
  libraries/AP_GPS/AP_GPS_NMEA.h
Labels: GPS

#10611 AC_WPNav: prevent I term buildup during landing
  libraries/AC_WPNav/AC_Loiter.cpp
Labels: Copter, DevCallTopic, VTOL-Plane

#10602 Copter: use height-above-ground for landing gear deployment
  ArduCopter/landing_gear.cpp
Labels: DevCallTopic

#10399 Plane: handle VTOL landing with incorrect height
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, VTOL-Plane

#10620 Copter: fix drastic slow-down and early landing in Auto
  ArduCopter/mode.h
  ArduCopter/mode_auto.cpp
Labels: BUG, Copter

#10645 Clean uploader.py; fix possible leaking resources on send failure
  Tools/scripts/uploader.py
Labels: Tools

#10657 Tools: update RNGFND syntax in parameters files
  Tools/autotest/default_params/copter-optflow.parm
  Tools/autotest/default_params/copter-rangefinder.parm
  Tools/autotest/default_params/gazebo-iris.parm
  Tools/autotest/default_params/vee-gull 005.param
Labels: Tools
