Repository ArduPilot/ardupilot, pull requests merged in 2019-09, with the labels that each got.

#12186 Rover: remove duplicate parameter comments
  APMrover2/Parameters.cpp
Labels: Rover

#12178 Plane: fix format warnings
  ArduPlane/ArduPlane.cpp
  ArduPlane/commands_logic.cpp
  ArduPlane/takeoff.cpp
Labels: DevCallTopic

#12181 AP_RangeFinder: added driver for Lanbao CM8JL65
  libraries/AP_RangeFinder/AP_RangeFinder_Lanbao.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_Lanbao.h
  libraries/AP_RangeFinder/RangeFinder.cpp
  libraries/AP_RangeFinder/RangeFinder.h
Labels: DevCallTopic

#12081 Enable active buzzer output on OmnibusNanoV6
  libraries/AP_HAL_ChibiOS/hwdef/OmnibusNanoV6/hwdef.dat
Labels: ChibiOS, DevCallTopic

#12175 AP_Notify: Add an alternate LED scheme
  libraries/AP_Notify/AP_Notify.cpp
  libraries/AP_Notify/RGBLed.cpp
  libraries/AP_Notify/RGBLed.h
Labels: AllVehicles

#12193 GCS_MAVLink: Remove single use method
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: MAVLink

#12205 HAL_ChibiOS: removed duplicate barometer from fmuv5
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef.dat
Labels: BUG

#12208 HAL_ChibiOS: prevent duplicate sensors in hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS

#12207 AP_AHRS: resolve compile warning in AP_AHRS_DCM::use_compass
  libraries/AP_AHRS/AP_AHRS_DCM.cpp
Labels: Library

#12212 AP_Frsky_Telem: move FrSky handling to it's own thread
  libraries/AP_Frsky_Telem/AP_Frsky_Telem.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_Telem.h
Labels: ChibiOS

#12224 AP_Filesystem: use a recursive semaphore
  libraries/AP_Filesystem/AP_Filesystem_FATFS.cpp
Labels: BUG, ChibiOS

#12211 travis: poke ptrace_scope so we get stack dumps on FPE/segv etc
  .travis.yml
Labels: DevCallTopic

#12229 AP_Compass: allow rotation of BMM150 compass
  libraries/AP_Compass/AP_Compass.cpp
  libraries/AP_Compass/AP_Compass_BMM150.cpp
  libraries/AP_Compass/AP_Compass_BMM150.h
Labels: ChibiOS

#12230 AP_RCProtocol: fixed SUMD with 16 channels
  libraries/AP_RCProtocol/AP_RCProtocol_SUMD.cpp
  libraries/AP_RCProtocol/examples/RCProtocolTest/RCProtocolTest.cpp
Labels: BUG

#12231 AP_RTC: Don't allow RTC times before 2019
  libraries/AP_RTC/AP_RTC.cpp
Labels: AllVehicles, DevCallTopic, Enhancement

#12249 Plane: Rearrange header to save flash
  ArduPlane/Plane.h
Labels: Plane

#11881 Plane: fixed landing after VTOL loiters
  ArduPlane/quadplane.cpp
Labels: Plane

#11830 GCS_MAVLink: remove comm_get_available
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Common.cpp
  libraries/GCS_MAVLink/GCS_MAVLink.cpp
  libraries/GCS_MAVLink/GCS_MAVLink.h
Labels: NeedsTesting

#12232 Tradheli- fix swashplate conversion bug on upgrade
  ArduCopter/Parameters.cpp
Labels: BUG, TradHeli

#12265 AP_HAL: fixed bug in vsnprintf()
  libraries/AP_HAL/Util.cpp
Labels: BUG

#12113 Copter: zigzag stops more smoothly on terrain data failure
  ArduCopter/mode_zigzag.cpp
Labels: BUG, Copter

#12253 Copter: land mode initialises yaw
  ArduCopter/mode_land.cpp
Labels: BUG, Copter

#12084 Simulate wind in Webots
  libraries/SITL/SIM_Webots.cpp
  libraries/SITL/examples/Webots/.gitignore
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_QUAD/ardupilot_SITL_QUAD
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_QUAD/ardupilot_SITL_QUAD.c
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_QUAD/ardupilot_SITL_QUAD.h
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_QUAD/sensors.c
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_QUAD/sensors.h
  libraries/SITL/examples/Webots/plugins/physics/sitl_physics_env/Makefile
  libraries/SITL/examples/Webots/plugins/physics/sitl_physics_env/sitl_physics_env.c
  libraries/SITL/examples/Webots/quadPlus.parm
  libraries/SITL/examples/Webots/quadX.parm
  libraries/SITL/examples/Webots/worlds/pyramidMapReduced2.wbt
  libraries/SITL/examples/Webots/worlds/webots_quadPlus.wbt
  libraries/SITL/examples/Webots/worlds/webots_quadX.wbt
Labels: SITL

#12297 Plane: fixed an issue with landing on rising ground
  ArduPlane/Plane.h
  ArduPlane/altitude.cpp
  ArduPlane/commands_logic.cpp
Labels: Plane

#12285 AP_GPS: use jitter correction on GPS_INPUT data
  libraries/AP_GPS/AP_GPS_MAV.cpp
  libraries/AP_GPS/AP_GPS_MAV.h
Labels: DevCallTopic

#12284 AP_Common: Include altitude in the init check for a location
  libraries/AP_Common/Location.h
Labels: AllVehicles, DevCallTopic

#12267 Plane: prevent fwd motor from spinning up on ground in quadplane landing
  ArduPlane/altitude.cpp
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, VTOL-Plane

#12274 Copter: compassmot and motor_test set set_soft_armed
  ArduCopter/compassmot.cpp
  ArduCopter/motor_test.cpp
Labels: BUG, Copter

#12326 AP_Proximity: fix rangefinder backends cm to m conversion
  libraries/AP_Proximity/AP_Proximity_RangeFinder.cpp
Labels: BUG, Library

#12337 Rover: pre-arm check that WP_SPEED is positive
  APMrover2/AP_Arming.cpp
  APMrover2/AP_Arming.h
Labels: Enhancement, Rover

#12374 HAL_ChibiOS: fixes from LGTM errors
  libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F767xx.py
  libraries/AP_InertialSensor/examples/coning.py
Labels: ChibiOS

#12375 HAL_ChibiOS: fixed delay for OneShot125 channels
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
Labels: ChibiOS

#12376 waf: fixed --build-dates option
  Tools/ardupilotwaf/boards.py
  Tools/ardupilotwaf/chibios.py
Labels: ChibiOS

#12373 Copter: fixed EKF threshold for arming
  ArduCopter/AP_Arming.cpp
Labels: Copter

#12291 Copter: fixed RC failsafe handling for no RC receiver
  ArduCopter/Attitude.cpp
  ArduCopter/mode.cpp
  ArduCopter/radio.cpp
Labels: Copter, DevCallTopic

#12356 GCS_MAVLink: allow proximity to send only upward facing distances
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: BUG, Copter, Library

#12281 SITL: adding Tricopter model in Webots
  libraries/SITL/SIM_Webots.cpp
  libraries/SITL/SIM_Webots.h
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/Makefile
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/ardupilot_SITL_TRICOPTER
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/ardupilot_SITL_TRICOPTER.c
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/ardupilot_SITL_TRICOPTER.h
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/sensors.c
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/sensors.h
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/sockets.c
  libraries/SITL/examples/Webots/controllers/ardupilot_SITL_TRICOPTER/sockets.h
  libraries/SITL/examples/Webots/droneTricopter.sh
  libraries/SITL/examples/Webots/tricopter.parm
  libraries/SITL/examples/Webots/worlds/webots_tricopter.wbt
Labels: SITL

#12394 AP_OSD: scale xtrack, add precision for distances <10 units
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#12287 HAL_ChibiOS: disable DMA for RCIN on Pixracer
  libraries/AP_HAL_ChibiOS/hwdef/fmuv4/hwdef.dat
Labels: ChibiOS

#12415 AP_GPS: fixed a bug in handling corrupt u-blox packets
  libraries/AP_GPS/AP_GPS_UBLOX.cpp
Labels: BUG, DevCallTopic, GPS

#12458 AP_Proximity: fixed incorrect use of fabs()
  libraries/AP_Proximity/AP_Proximity_MAV.cpp
Labels: BUG

#12323 AP_AHRS: fix custom rotation ToRad conversion
  libraries/AP_AHRS/AP_AHRS.cpp
Labels: DevCallTopic, Library

#10846 AP_Motors: add reversed tricoppter option
  libraries/AP_Motors/AP_MotorsTri.cpp
  libraries/AP_Motors/AP_MotorsTri.h
Labels: Copter, DevCallTopic, VTOL-Plane
