Repository ArduPilot/ardupilot, pull requests merged in 2019-05, with the labels that each got.

#11227 Plane: fixed qautotune exit
  ArduPlane/mode.h
  ArduPlane/mode_qautotune.cpp
Labels: Plane, VTOL-Plane

#11241 Rover: fix misleading param comments
  APMrover2/Parameters.h
Labels: Rover

#11181 HAL_ChibiOS: fixed brick2 valid status in POWR flags for fmuv5
  libraries/AP_HAL_ChibiOS/AnalogIn.cpp
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef.dat
Labels: ChibiOS

#11252 AP_IOMCU: remove 2s delay on boot and skip crc check on watchdog
  libraries/AP_IOMCU/AP_IOMCU.cpp
Labels: ChibiOS

#11250 AP_HAL_ChibiOS: KakuteF7 add two PWM pin options
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF7/hwdef.dat
Labels: ChibiOS

#11072 AP_Rangefinder: VL53L1X Ensure I2C is working
  libraries/AP_RangeFinder/AP_RangeFinder_VL53L1X.cpp
  libraries/AP_RangeFinder/AP_RangeFinder_VL53L1X.h
Labels: Enhancement, Library

#11269 change astylerc to match Plane style
  Tools/CodeStyle/astylerc
Labels: Tools, WIP

#11276 HAL_ChibiOS: ensure we don't overflow bootloader area
  libraries/AP_HAL_ChibiOS/hwdef/CUAVv5Nano/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/CubeOrange/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/CubeYellow/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/DrotekP3Pro/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/F35Lightning/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/F4BY/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF4/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF7/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405-Wing/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/NucleoH743/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/OMNIBUSF7V2/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/OmnibusNanoV6/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/Pixhawk6/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/TBS-Colibri-F7/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRBrain-v51/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRBrain-v52/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRBrain-v54/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRCore-v10/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRUBrain-v51/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/airbotf4/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/fmuv4/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/fmuv5/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/mRoX21-777/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/mindpx-v2/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/mini-pix/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4v6/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/revo-mini/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
  libraries/AP_HAL_ChibiOS/hwdef/sparky2/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/speedybeef4/hwdef-bl.dat
Labels: ChibiOS

#11237 APM_Control: AP_RollContoroller: move rate limit
  libraries/APM_Control/AP_RollController.cpp
Labels: BUG, DevCallTopic, Plane

#11281 AP_HAL_SITL: fix pthread SITL build on MacOS
  libraries/AP_HAL_SITL/Scheduler.h
Labels: DevCallTopic

#11254 Plane: move tiltrotor thrust compensation callback setup to QuadPlane::setup()
  ArduPlane/quadplane.cpp
  ArduPlane/tiltrotor.cpp
Labels: VTOL-Plane

#11297 Frame Params: Update solo arming check params
  Tools/Frame_params/Solo_Copter-3.7_BlackCube.param
  Tools/Frame_params/Solo_Copter-3.7_GreenCube.param
Labels: Solo

#11307 Frame Params: Disable watchdog for Solo
  Tools/Frame_params/Solo_Copter-3.7_BlackCube.param
  Tools/Frame_params/Solo_Copter-3.7_GreenCube.param
Labels: Safety, Solo

#11290 AP_InertialSensor: disable register checking in invensensev2 driver
  libraries/AP_InertialSensor/AP_InertialSensor_Invensensev2.cpp
Labels: BUG

#11319 HAL_ChibiOS: disable peripheral power on boot on fmuv3
  libraries/AP_HAL_ChibiOS/hwdef/common/stm32_util.c
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef.dat
Labels: ChibiOS

#11291 AP_Param: avoid allocating 0 bytes if no defaults
  libraries/AP_Param/AP_Param.cpp
Labels: DevCallTopic

#9716 Tidy user takeoff
  ArduCopter/mode_althold.cpp
  ArduCopter/mode_flowhold.cpp
  ArduCopter/mode_loiter.cpp
  ArduCopter/mode_poshold.cpp
  ArduCopter/mode_sport.cpp
  ArduCopter/takeoff.cpp
Labels: Copter, TradHeli

#11358 Tools: added playback tool for onboard logs
  Tools/scripts/playback_log_fg.py
Labels: Scripting, Tools

#11342 Tools: autotest: fix process kill in sim_vehicle.py
  Tools/autotest/sim_vehicle.py
Labels: Tools

#11361 AP_Notify: fixed handling of mavlink LED override
  libraries/AP_Notify/RGBLed.cpp
Labels: AllVehicles, BUG

#11370 rover: Fix parameter type capitalization
  APMrover2/Parameters.cpp
Labels: Rover

#11322 AP_NavEKF3: Fix GPS < 3D empty PreArm: msg-as EKF2
  libraries/AP_NavEKF3/AP_NavEKF3_core.cpp
Labels: EKF

#11388 Modified firmware parse to check device header and version.
  libraries/AP_RangeFinder/AP_RangeFinder_uLanding.cpp
Labels: Driver, Library

#11397 AP_BLHeli: Update to support newer targets and protocols
  libraries/AP_BLHeli/AP_BLHeli.cpp
  libraries/AP_BLHeli/blheli_4way_protocol.h
Labels: AllVehicles

#11415 AP_HAL_Linux: add required override keyword on configure_parity
  libraries/AP_HAL_Linux/UARTDriver.h
Labels: DevCallTopic

#11402 AP_Beacon: correct parameter documentation to include SITL
  libraries/AP_Beacon/AP_Beacon.cpp
Labels: DevCallTopic

#11401 AP_Proximity: minor performance enhancements
  libraries/AP_Proximity/AP_Proximity_Backend.cpp
Labels: DevCallTopic

#10951 AP_GPS_UBLOX: add support for TIMEGPS message. used to get gps week Support F9P
  libraries/AP_GPS/AP_GPS_UBLOX.cpp
  libraries/AP_GPS/AP_GPS_UBLOX.h
Labels: GPS

#11384 Copter: guarantee logging of RCIN on switch changes
  ArduCopter/switches.cpp
Labels: Copter
