Repository ArduPilot/ardupilot, pull requests merged in 2019-01, with the labels that each got.

#10149 AP_Airspeed: removed #include duplicates
  libraries/AP_Airspeed/AP_Airspeed_DLVR.h
  libraries/AP_Airspeed/AP_Airspeed_MS4525.h
  libraries/AP_Airspeed/AP_Airspeed_MS5525.h
Labels: Library

#9206 AP_Motors: document Hover_learn as copter only
  libraries/AP_Motors/AP_MotorsMulticopter.cpp
Labels: Copter

#10156 AP_Mission: remove unused copy_alt variable
  libraries/AP_Mission/AP_Mission.cpp
Labels: Library

#10017 Plane: Add a failure timer for quadplane forward transitions
  ArduPlane/defines.h
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, Enhancement, VTOL-Plane

#10193 AP_InertialSensor: support fast sampling in SITL
  libraries/AP_InertialSensor/AP_InertialSensor_SITL.cpp
Labels: SITL

#10074 Copter: fix snprintf size warning
  ArduCopter/Parameters.cpp
Labels: Copter, DevCallTopic

#10209 Copter: updated copter 3.6 rc protocols
  libraries/AP_RCProtocol/AP_RCProtocol.cpp
  libraries/AP_RCProtocol/AP_RCProtocol.h
  libraries/AP_RCProtocol/AP_RCProtocol_Backend.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_Backend.h
  libraries/AP_RCProtocol/AP_RCProtocol_DSM.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_DSM.h
  libraries/AP_RCProtocol/AP_RCProtocol_PPMSum.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_PPMSum.h
  libraries/AP_RCProtocol/AP_RCProtocol_SBUS.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_SBUS.h
  libraries/AP_RCProtocol/AP_RCProtocol_SRXL.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_SRXL.h
  libraries/AP_RCProtocol/AP_RCProtocol_ST24.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_ST24.h
  libraries/AP_RCProtocol/AP_RCProtocol_SUMD.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_SUMD.h
  libraries/AP_RCProtocol/SoftSerial.cpp
  libraries/AP_RCProtocol/SoftSerial.h
Labels: Copter

#10223 Plane: fixed VTOL takeoff to ignore lat/lon in mission
  ArduPlane/quadplane.cpp
Labels: BUG, VTOL-Plane

#10224 waf: fixed ROMFS compression to use zero timestamp
  Tools/ardupilotwaf/embed.py
Labels: ChibiOS

#10222 AP_HAL_ChibiOS: Fix FMUv2 LED lighting up
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef.dat
Labels: ChibiOS

#10226 Copter: Only use the 6 LSBs, avoids a cpp warning
  ArduCopter/Parameters.cpp
Labels: BUG, Copter

#10235 AC_AutoTune: fixed testing of gains with aux switch
  libraries/AC_AutoTune/AC_AutoTune.cpp
Labels: BUG, Copter

#10238 Tools: autotest: add option to skip tests if they're annoying us in CI
  Tools/autotest/arducopter.py
  Tools/autotest/common.py
Labels: Library

#10233 Avoid initial parameter rush, send multiple parameters per send_queued_parameter
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Param.cpp
Labels: BUG, DevCallTopic

#10119 Plane: Remove some redundant code/state resets
  ArduPlane/ArduPlane.cpp
  ArduPlane/Attitude.cpp
  ArduPlane/commands.cpp
Labels: DevCallTopic, Plane

#10256 AP_InertialSensor: remove PX4 backend
  libraries/AP_InertialSensor/AP_InertialSensor.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_PX4.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_PX4.h
Labels: Library

#10268 Tools: remove old XPlane plugin
  Tools/SerialProxy/SerialProxy.sln
  Tools/SerialProxy/SerialProxy.suo
  Tools/SerialProxy/SerialProxy/Form1.Designer.cs
  Tools/SerialProxy/SerialProxy/Form1.cs
  Tools/SerialProxy/SerialProxy/Form1.resx
  Tools/SerialProxy/SerialProxy/Program.cs
  Tools/SerialProxy/SerialProxy/Properties/AssemblyInfo.cs
  Tools/SerialProxy/SerialProxy/Properties/Resources.Designer.cs
  Tools/SerialProxy/SerialProxy/Properties/Resources.resx
  Tools/SerialProxy/SerialProxy/Properties/Settings.Designer.cs
  Tools/SerialProxy/SerialProxy/Properties/Settings.settings
  Tools/SerialProxy/SerialProxy/SerialProxy.csproj
  Tools/SerialProxy/SerialProxy/SerialProxy.csproj.user
  Tools/SerialProxy/SerialProxy/app.config
  Tools/SerialProxy/SerialProxy/bin/Release/SerialProxy.exe.config
  Tools/SerialProxy/SerialProxy/bin/Release/SerialProxy.pdb
  Tools/Xplane/X-Plane.pl
  Tools/Xplane/serproxy-0.1.3-3/README-wiring.txt
  Tools/Xplane/serproxy-0.1.3-3/serproxy
  Tools/Xplane/serproxy-0.1.3-3/serproxy.cfg
  Tools/Xplane/serproxy-0.1.3-3/serproxy.cfg copy
Labels: Tools

#10276 Plane: fix tailsitter logged attitude targets
  ArduPlane/Log.cpp
Labels: VTOL-Plane

#9929 AP_Motors: Add multicopter thrust slew limit
  libraries/AP_Motors/AP_MotorsCoax.cpp
  libraries/AP_Motors/AP_MotorsMatrix.cpp
  libraries/AP_Motors/AP_MotorsMulticopter.cpp
  libraries/AP_Motors/AP_MotorsMulticopter.h
  libraries/AP_Motors/AP_MotorsSingle.cpp
  libraries/AP_Motors/AP_MotorsTailsitter.cpp
  libraries/AP_Motors/AP_MotorsTri.cpp
Labels: Enhancement, Library, Solo, WIP

#9890 AP_Mount: Solo gimbal params use HAVE_PAYLOAD_SPACE
  libraries/AP_Mount/SoloGimbal_Parameters.cpp
  libraries/AP_Mount/SoloGimbal_Parameters.h
Labels: Library, Solo

#10299 AP_OSD: normalize whitespace symbols
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#10307 HAL_ChibiOS: enable flash logging on Omnibus and speedybeef4
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF4/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/OmnibusNanoV6/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4v6/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/speedybeef4/hwdef.dat
Labels: ChibiOS

#10278 CI: Run flake8 on Python 3.7
  .travis.yml
Labels: CI, DevCallTopic

#10108 GCS_Common: NACK a failed partial mission write
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: AllVehicles, Enhancement, MAVLink

#10315 Rover: convert ch7_option param to rc7_option
  APMrover2/Parameters.cpp
  APMrover2/Parameters.h
Labels: Rover

#10321 Plane: ignore battery failsafe during landing
  ArduPlane/events.cpp
Labels: Plane, VTOL-Plane

#10329 AP_Arming: Reduce header scope, remove width specifier
  libraries/AP_Arming/AP_Arming.h
Labels: Enhancement

#10334 [NFC]RC_Channel: fix receiver typos
  libraries/RC_Channel/RC_Channel.h
  libraries/RC_Channel/RC_Channels_VarInfo.h
Labels: Docs, Library

#10031 AP_HAL_Linux: reduce RCInput_RPI CPU consumption to 1/4
  libraries/AP_HAL_Linux/RCInput_RPI.cpp
  libraries/AP_HAL_Linux/Scheduler.cpp
Labels: Linux

#10327 Rover: rename custom to omni in AP_MotorsUGV
  APMrover2/AP_MotorsUGV.cpp
  APMrover2/AP_MotorsUGV.h
Labels: Rover

#10344 Copter: Tradheli-fixes hover roll trim ramp time
  ArduCopter/heli.cpp
Labels: BUG, TradHeli

#10353 Frame Params: Update solo's default parameters
  Tools/Frame_params/Solo_Copter-3.5_GreenCube.param
  Tools/Frame_params/Solo_Copter-3.6_GreenCube.param
  Tools/Frame_params/Solo_Copter-3.7_BlackCube.param
  Tools/Frame_params/Solo_Copter-3.7_GreenCube.param
Labels: Solo, Tools

#10352 APM_Control: fill in Act field of PID logs for plane
  libraries/APM_Control/AP_PitchController.cpp
  libraries/APM_Control/AP_RollController.cpp
  libraries/APM_Control/AP_SteerController.cpp
Labels: Plane

#9918 AP_BattMonitor: Add powering off mavlink broadcast
  libraries/AP_BattMonitor/AP_BattMonitor.cpp
  libraries/AP_BattMonitor/AP_BattMonitor.h
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_Solo.cpp
Labels: DevCallTopic, Library, Solo

#10354 AP_Motors: fix regression for tiltrotors
  libraries/AP_Motors/AP_MotorsMulticopter.cpp
Labels: Copter, DevCallTopic, VTOL-Plane

#10358 Plane: remove old, unfulfilled method declarations
  ArduPlane/Plane.h
Labels: Plane

#10265 AP_Arming: allow arming checks ALL to pass when logging is disabled
  libraries/AP_Arming/AP_Arming.cpp
Labels: DevCallTopic, Library
