Repository ArduPilot/ardupilot, pull requests merged in 2020-05, with the labels that each got.

#13607 AP_HAL_Linux: RCInput_UDP: accept up to 16 channels
  libraries/AP_HAL_Linux/RCInput_UDP.cpp
  libraries/AP_HAL_Linux/RCInput_UDP.h
  libraries/AP_HAL_Linux/RCInput_UDP_Protocol.h
Labels: Linux

#14268 AP_Filesystem: correct comparison of signed/unsigned
  libraries/AP_Filesystem/AP_Filesystem_ROMFS.cpp
Labels: DevCallTopic

#14266 AP_NavEKF3: fixed external yaw EK3_MAG_CAL=5 or 6
  libraries/AP_NavEKF3/AP_NavEKF3_MagFusion.cpp
Labels: BUG, EKF

#14140 HAL_ChibiOS: fixed race condition in storage write
  libraries/AP_HAL_ChibiOS/Storage.cpp
  libraries/AP_HAL_ChibiOS/Storage.h
Labels: BUG, DevCallTopic

#14274 Arduplane/Parachute: Little fixings
  libraries/AP_Parachute/AP_Parachute.h
Labels: Library

#14281 AP_HAL_ChibiOS: correct description of where stdout goes
  libraries/AP_HAL_ChibiOS/hwdef/CubeYellow/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/mRoX21-777/hwdef.dat
Labels: DevCallTopic

#13586 Add support for custom compass rotation via COMPASS_CUS_{ROLL,PIT,YAW}
  libraries/AP_Compass/AP_Compass.cpp
  libraries/AP_Compass/AP_Compass.h
  libraries/AP_Compass/AP_Compass_Backend.cpp
Labels: AllVehicles, DevCallTopic, Enhancement

#14187 Plane: compensate forward throttle for battery voltage drop
  ArduPlane/Parameters.cpp
  ArduPlane/Parameters.h
  ArduPlane/Plane.h
  ArduPlane/servos.cpp
Labels: DevCallTopic

#14282 Move plane gcs mavlink send functions
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/GCS_Mavlink.h
  ArduPlane/Plane.h
Labels: DevCallTopic, Plane

#14237 Plane: ignore guided cmds from mavlink if we're in avoidADSB.
  ArduPlane/GCS_Mavlink.cpp
Labels: BUG, DevCallTopic

#14249 Copter: use check_failed function for ESTOP arming check
  ArduCopter/AP_Arming.cpp
Labels: DevCallTopic

#14263 autotest: add timestamp to progress message
  Tools/autotest/common.py
Labels: DevCallTopic

#14290 AP_Soaring: add documentation for VAR dataflash log message
  libraries/AP_Soaring/Variometer.cpp
Labels: Docs, Plane

#14303 AP_Airspeed: Rearrange state to save memory
  libraries/AP_Airspeed/AP_Airspeed.h
Labels: Enhancement

#14312 Tools: Require edn_format again
  Tools/scripts/configure-ci.sh
Labels: CI

#14316 Plane: Fix VTOL yaw for STICK_MIXING 0
  ArduPlane/quadplane.cpp
Labels: BUG, Safety, VTOL-Plane

#14287 AP_NAVEKF3: change plane check_scaler value to match EKF2 value
  libraries/AP_NavEKF3/AP_NavEKF3.cpp
Labels: Library, Plane

#14261 AP_HAL_ChibiOS:Remove alt config since its not useful (no TX available)
  libraries/AP_HAL_ChibiOS/hwdef/mini-pix/hwdef.dat
Labels: ChibiOS

#14251 HAL_ChibiOS: Make full UART4 available as bd config option
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef.dat
Labels: ChibiOS

#14264 GCS_MAVLink: give banner on param download with ftp
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_FTP.cpp
Labels: MAVLink

#14201 HAL_ChibiOS: during setup() we expect delays
  libraries/AP_HAL_ChibiOS/Scheduler.cpp
Labels: ChibiOS

#14327 README: Add soaring maintainer.
  README.md
Labels: DevCallTopic, Plane

#14104 Copter: fix mode and fence gps check fail message
  ArduCopter/AP_Arming.cpp
Labels: Copter

#14332 AP_HAL_ChibiOS: Add ability to use UART3 and UART4 in bd alt config 4
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef.dat
Labels: ChibiOS

#13814 BeagleBone : Faulty PWM output after few flight controller restarts due to wrong IEP Timer configuration
  Tools/Linux_HAL_Essentials/pru/aiopru/Makefile
  Tools/Linux_HAL_Essentials/pru/aiopru/RcAioPRU.p
  Tools/Linux_HAL_Essentials/pru/aiopru/RcAioPRUTest.c
  Tools/Linux_HAL_Essentials/pru/aiopru/RcAioPRU_BBBLUE_bin.h
  Tools/Linux_HAL_Essentials/pru/aiopru/RcAioPRU_BBBMINI_bin.h
  Tools/Linux_HAL_Essentials/pru/aiopru/RcAioPRU_POCKET_bin.h
  Tools/Linux_HAL_Essentials/pru/aiopru/start_test
Labels: Linux

#14246 AP_RangeFinder: fixed mixing UAVCAN and non-UAVCAN rangefinders
  libraries/AP_RangeFinder/AP_RangeFinder.cpp
  libraries/AP_RangeFinder/AP_RangeFinder.h
  libraries/AP_RangeFinder/AP_RangeFinder_UAVCAN.cpp
Labels: BUG, DevCallTopic

#13723 Plane: update throttle mix uses filtered accelerations
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, Enhancement, Plane, VTOL-Plane

#14362 AP_Scripting: build fix for macOS
  libraries/AP_Scripting/generator/src/main.c
Labels: BUG

#14361 AP_NavEKF3: ensure extnav angle error is at least 5deg
  libraries/AP_NavEKF3/AP_NavEKF3_Measurements.cpp
Labels: BUG, EKF

#12039 AP_NavEKF2: ext nav will not reset yaw if compass is used
  libraries/AP_NavEKF2/AP_NavEKF2_Control.cpp
Labels: DevCallTopic, EKF

#14223 Copter: land detector allows larger lean angle request in land mode
  ArduCopter/land_detector.cpp
Labels: Copter, Enhancement

#14355 GCS_MAVLink: fixed a ftp duplicate reply
  libraries/GCS_MAVLink/GCS_FTP.cpp
Labels: MAVLink

#14348 AP_IOMCU: force safety off on IOMCU reset
  libraries/AP_IOMCU/AP_IOMCU.cpp
Labels: ChibiOS

#14376 Tools: environment_install: add xterm to Cygwin packages
  Tools/environment_install/install-prereqs-windows.ps1
Labels: BuildSystem

#13906 AP_NavEKF3: Fix double iteration of axes in SelectMagFusion
  libraries/AP_NavEKF3/AP_NavEKF3_MagFusion.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_core.h
Labels: BUG, DevCallTopic, EKF

#14371 Plane: implement RTL_CLIMB_MIN parameter
  ArduPlane/ArduPlane.cpp
  ArduPlane/Parameters.cpp
  ArduPlane/Parameters.h
  ArduPlane/Plane.h
  ArduPlane/mode_rtl.cpp
Labels: Plane

#13963 AP_Scripting: examples: plane-wind-fs: read in CRT_MAH
  libraries/AP_Scripting/examples/plane-wind-fs.lua
Labels: Scripting

#14379 Drain mavlink streams before delaying and checking ekf flags
  Tools/autotest/common.py
Labels: Tools

#13921 EKF2 fix skipping magnetometer axes upon other axis failure
  libraries/AP_NavEKF2/AP_NavEKF2_MagFusion.cpp
  libraries/AP_NavEKF2/AP_NavEKF2_core.h
Labels: BUG, DevCallTopic, EKF

#14402 Use FIFO mode instead of Queue mode in FDCAN driver
  libraries/AP_HAL_ChibiOS/CANFDIface.cpp
Labels: BUG, CAN, ChibiOS, Library

#14403 Use FIFO mode instead of Queue mode in FDCAN driver
  libraries/AP_HAL_ChibiOS/CANFDIface.cpp
Labels: BUG, CAN, Copter

#14315 Prevent internal error from compass custom rotation
  libraries/AP_Compass/AP_Compass.h
  libraries/AP_Compass/AP_Compass_SITL.cpp
Labels: AllVehicles, BUG

#14428 Plane: increased allowed time for mavlink send to 750us
  ArduPlane/ArduPlane.cpp
Labels: Plane

#14437 Plane: never reset auto_state.sink_rate
  ArduPlane/commands_logic.cpp
Labels: BUG, Plane

#14433 AP_Compass: revert change to RM3100 scale factor and increase scale limit
  libraries/AP_Compass/AP_Compass_Backend.h
  libraries/AP_Compass/AP_Compass_RM3100.cpp
  libraries/AP_Compass/CompassCalibrator.h
Labels: BUG

#14317 AP-Baro: fix init without baro
  libraries/AP_Baro/AP_Baro.cpp
Labels: DevCallTopic

#14413 AP_HAL_ChibiOS: Add unused LED output as GPIO in OmnibusF4Pro def
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef.dat
Labels: ChibiOS

#14359 Add log download tests
  Tools/autotest/arducopter.py
  Tools/autotest/arduplane.py
  Tools/autotest/ardusub.py
  Tools/autotest/balancebot.py
  Tools/autotest/common.py
  Tools/autotest/quadplane.py
  Tools/autotest/rover.py
Labels: WIP

#14416 AP_GPS: fixed issue with GPS selection for moving baseline
  libraries/AP_GPS/AP_GPS.cpp
Labels: GPS

#13997 AP_Motors: Adjust heli run up timer in bailout
  libraries/AP_Motors/AP_MotorsHeli_RSC.cpp
Labels: Library, NeedsTesting, TradHeli
