Repository ArduPilot/ardupilot, pull requests merged in 2020-06, with the labels that each got.

#14482 autotest: stop emitting duplicate rangefinder headings
  Tools/autotest/param_metadata/param_parse.py
Labels: Tools

#14479 Plane: Protect against a divide by 0 when calculating the forward throttle compensation
  ArduPlane/servos.cpp
Labels: DevCallTopic, Enhancement, Plane

#14398 AP_BattMonitor: Rearrange arming check order
  libraries/AP_BattMonitor/AP_BattMonitor_Backend.cpp
Labels: DevCallTopic, Enhancement

#14426 AP_GPS: switch ublox over to 230400 baud
  libraries/AP_GPS/AP_GPS.cpp
  libraries/AP_GPS/AP_GPS_UBLOX.h
Labels: GPS

#14492 Copter: verify_circle loses redundant setting of circle center
  ArduCopter/mode_auto.cpp
Labels: BUG, Copter

#14378 AP_HAL_Chibios: Adjust MatekF765-Wing voltage and current scales
  libraries/AP_HAL_ChibiOS/hwdef/MatekF765-Wing/hwdef.dat
Labels: ChibiOS

#14280 autotest: move check_logs to be an AutoTest-class function
  Tools/autotest/autotest.py
  Tools/autotest/common.py
Labels: Tools

#14488 Plane: label and sort plane.h functions
  ArduPlane/Plane.h
Labels: DevCallTopic

#14543 Fix SITL hand launch behaviour
  libraries/SITL/SIM_Plane.cpp
Labels: BUG, SITL

#14498 Tools: uploader: translate board IDs into board type in incompat output
  Tools/scripts/uploader.py
Labels: DevCallTopic, Tools

#14493 GCS_MAVLink: allow private channels to also be active
  libraries/GCS_MAVLink/GCS.cpp
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Common.cpp
  libraries/GCS_MAVLink/GCS_MAVLink.cpp
  libraries/GCS_MAVLink/MAVLink_routing.cpp
Labels: DevCallTopic

#13172 RC_Channel: Aux switches to respect 'reverse' option
  libraries/RC_Channel/RC_Channel.cpp
  libraries/RC_Channel/RC_Channel.h
  libraries/RC_Channel/RC_Channels_VarInfo.h
Labels: DevCallTopic, NeedAnswer

#14586 Plane Parameters: fix THR_MAX param description
  ArduPlane/Parameters.cpp
Labels: Plane

#13898 AC_Fence: clear breach if breached fence is not enabled
  libraries/AC_Fence/AC_Fence.cpp
Labels: DevCallTopic

#14334 Copter-4.0: AP_AHRS: attitudes_consistent obeys always_use_EKF
  libraries/AP_AHRS/AP_AHRS_NavEKF.cpp
Labels: DevCallTopic, EKF

#14333 AP_AHRS: attitudes_consistent obeys always_use_EKF
  libraries/AP_AHRS/AP_AHRS_NavEKF.cpp
Labels: EKF

#13084 Plane: limit forward throttle during auto transition
  ArduPlane/servos.cpp
Labels: DevCallTopic, VTOL-Plane

#14523 RC_Channel: announce RC switch changes via statustext
  libraries/RC_Channel/RC_Channel.cpp
  libraries/RC_Channel/RC_Channel.h
Labels: Library

#14607 AC_Avoid: Check if origin is set before any obstacle avoidance algorithm is run
  libraries/AC_Avoidance/AP_OADijkstra.cpp
  libraries/AC_Avoidance/AP_OAPathPlanner.cpp
Labels: Library

#14615 GCS_MAVLink: do not process commands after we have decided to reboot
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: MAVLink

#14622 AP_Bootloader: added board_types.txt
  Tools/AP_Bootloader/README.md
  Tools/AP_Bootloader/board_types.txt
Labels: ChibiOS

#14560 AP_RangeFinder: TYPE param becomes enable flag
  libraries/AP_RangeFinder/AP_RangeFinder_Params.cpp
Labels: DevCallTopic

#14637 Tools: remove unmaintained uncrustify scripts
  reformat.sh
  uncrustify_cpp.cfg
  uncrustify_headers.cfg
Labels: Tools

#14642 Plane: Remove the use of RTL_RADIUS from LOITER_UNLIM mission items
  ArduPlane/commands_logic.cpp
Labels: Plane

#12785 fix error with python3.7 and gcc 7.3.1
  wscript
Labels: BuildSystem

#14638 Tools: remove xmlpretty, xmlint do a better job
  Tools/CodeStyle/xmlpretty.py
Labels: Tools

#14123 AP_Scripting: Create scripts folder automatically if scripting is enabled
  libraries/AP_Scripting/AP_Scripting.cpp
  libraries/AP_Scripting/lua_scripts.cpp
  libraries/AP_Scripting/lua_scripts.h
Labels: DevCallTopic, Enhancement, Scripting

#14651 RC_Channel: fix metadata order on _OPTIONS
  libraries/RC_Channel/RC_Channel.cpp
Labels: Docs, Library

#14608 Tools: AP_Bootloader: remove unused BL_WAIT_MAGIC define
  Tools/AP_Bootloader/bl_protocol.h
Labels: DevCallTopic

#14592 GCS_MAVLink: Only send a single battery status per call
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: DevCallTopic, MAVLink

#14649 AP_Compass: enable LIS3MDL and friends
  libraries/AP_Compass/AP_Compass.cpp
Labels: AllVehicles, Driver

#14664 autotest: re-enable Rover BendyRuler test
  Tools/autotest/rover.py
Labels: Tools

#14665 AC_Circle: constantly update velocity from params
  libraries/AC_WPNav/AC_Circle.cpp
Labels: Copter

#14676 Drain mav before executing command
  Tools/autotest/common.py
Labels: Tools

#14677 Copter: fix GUID log message scaling
  ArduCopter/Log.cpp
Labels: BUG, Copter

#14673 AP_Scripting: Allow generator to cope with windows line endings
  libraries/AP_Scripting/generator/src/main.c
Labels: Scripting

#14227 AP_GPS: AUTO_SWITCH param changed to enum
  libraries/AP_GPS/AP_GPS.cpp
  libraries/AP_GPS/AP_GPS.h
Labels: GPS

#14684 AP_Logger: VISP and VISV reset counter becomes uint8
  libraries/AP_Logger/LogStructure.h
Labels: BUG

#14656 AP_GyroFFT: cast to unsigned to avoid signed/unsigned comparison
  libraries/AP_GyroFFT/AP_GyroFFT.cpp
Labels: Library

#14699 AP_BoardConfig: Define a method class
  libraries/AP_BoardConfig/AP_BoardConfig.h
  libraries/AP_BoardConfig/board_drivers.cpp
Labels: DevCallTopic, Library, Tools

#14631 AP_Terrain: Update spacing param description in line with firmware us…
  libraries/AP_Terrain/AP_Terrain.cpp
Labels: DevCallTopic, Library
