Repository ArduPilot/ardupilot, pull requests merged in 2020-12, with the labels that each got.

#15928 AP_OSD: Fix vertical speed varying length
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#15931 Plane: apply circular limits to QLOITER pilot angles
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: VTOL-Plane, WikiNeeded

#15932 AP_Scripting: add ahrs-source-gps-wheelencoders.lua
  libraries/AP_Scripting/examples/ahrs-source-gps-wheelencoders.lua
Labels: DevCallTopic, Enhancement, Scripting

#15905 AP_GPS: expand gps rate description (NFC)
  libraries/AP_GPS/AP_GPS.cpp
Labels: 4.0 Backport

#15892 Filter: correct harmonic notch docs (NFC) and provide better defaults (non-NFC).
  libraries/Filter/HarmonicNotchFilter.cpp
Labels: 4.0 Backport, Copter

#15891 GCS_MAVLink: use MAV_SYS_STATUS_PREARM_CHECK
  libraries/GCS_MAVLink/GCS.cpp
Labels: 4.0 Backport, Copter, MAVLink

#15866 AP_OSD: refactor current panel and add 2nd instance
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#15958 HAL_ChibiOS: removed SPI devices on f103-periph
  libraries/AP_HAL_ChibiOS/hwdef/f103-GPS/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/f103-periph/hwdef.dat
Labels: ChibiOS

#15947 AP_Periph: switched to 1kHz clock for f303-periph
  libraries/AP_HAL_ChibiOS/hwdef/f303-periph/hwdef.dat
Labels: AP_Periph, CAN

#15961 GCS_MAVLink: enable GCS_SEND_TEXT() to send as CAN LogMessage messages
  libraries/GCS_MAVLink/GCS.h
Labels: AP_Periph

#15969 AP_NavEKF_Source: remove unused setVelZSource
  libraries/AP_NavEKF/AP_NavEKF_Source.h
Labels: EKF

#15970 Copter: payload place fixups
  ArduCopter/mode_auto.cpp
Labels: BUG, Copter

#15946 HAL_ChibiOS: reduce SPI clock on MatekH743 mpu6k to 2MHz
  libraries/AP_HAL_ChibiOS/hwdef/MatekH743/hwdef.dat
Labels: ChibiOS, DevCallTopic

#15033 AP_NavEKF3: fix ext nav vel timestamp cal
  libraries/AP_NavEKF3/AP_NavEKF3_Measurements.cpp
Labels: BUG, DevCallTopic, EKF

#15994 AP_AHRS: mark get_hagl as WARN_IF_UNUSED
  libraries/AP_AHRS/AP_AHRS.h
  libraries/AP_AHRS/AP_AHRS_NavEKF.h
Labels: DevCallTopic

#15993 HAL_ChibiOS: always set STM32_DMA_REQUIRED for non-bootloader
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: AP_Periph, ChibiOS, DevCallTopic

#15943 HAL_ChibiOS: added new option DEFAULTGPIO for hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/mRoPixracerPro/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: ChibiOS, DevCallTopic

#13168 AP_Mission: Fix comments for DO_CHANGE_SPEED
  libraries/AP_Mission/AP_Mission.cpp
  libraries/AP_Mission/AP_Mission.h
Labels: DevCallTopic, Library

#15973 AP_Airspeed: populate airspeed_raw for sensors returning airspeed reading
  libraries/AP_Airspeed/AP_Airspeed.cpp
Labels: DevCallTopic

#15982 Create and use enumerations for ThrowMode
  ArduCopter/Parameters.cpp
  ArduCopter/Parameters.h
  ArduCopter/mode.h
  ArduCopter/mode_throw.cpp
Labels: Copter, DevCallTopic

#16001 Plane: be consistent about strings in fence auto-enable/disable
  ArduPlane/geofence.cpp
Labels: DevCallTopic

#16002 AP_Scripting: added offset_bearing location binding
  libraries/AP_Scripting/generator/description/bindings.desc
Labels: DevCallTopic, Scripting

#16013 autotest: present strings for unexpected results in run_cmd_get_ack
  Tools/autotest/common.py
Labels: NeedsTesting

#15978 AP_HAL_ChibiOS: f303-periph default RANGEFINDER_MAX_INSTANCES
  libraries/AP_HAL_ChibiOS/hwdef/f103-RangeFinder/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/f303-MatekGPS/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/f303-Universal/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/f303-periph/hwdef.dat
Labels: DevCallEU

#14226 Plane: reset baro_takeoff_alt while disarmed
  ArduPlane/takeoff.cpp
Labels: DevCallEU, Plane

#15985 Update README.md
  README.md
Labels: Docs, NeedAnswer

#15954 RC_Channel: added FPORT2 to RC_PROTOCOLS parameter
  libraries/RC_Channel/RC_Channels_VarInfo.h
Labels: DevCallEU

#15841 AP_Frsky_Telem: fix for conditional compilation of bidir support
  libraries/AP_Frsky_Telem/AP_Frsky_Backend.h
  libraries/AP_Frsky_Telem/AP_Frsky_MAVlite.h
  libraries/AP_Frsky_Telem/AP_Frsky_MAVliteMsgHandler.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_MAVlite_MAVliteToSPort.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_MAVlite_MAVliteToSPort.h
  libraries/AP_Frsky_Telem/AP_Frsky_MAVlite_Message.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_MAVlite_Message.h
  libraries/AP_Frsky_Telem/AP_Frsky_MAVlite_SPortToMAVlite.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_MAVlite_SPortToMAVlite.h
  libraries/AP_Frsky_Telem/AP_Frsky_SPort_Passthrough.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_SPort_Passthrough.h
  libraries/AP_Frsky_Telem/AP_Frsky_Telem.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_Telem.h
Labels: DevCallEU

#15757 AP_MSP: fix for multiple backends initialization
  libraries/AP_MSP/AP_MSP.cpp
Labels: DevCallEU, Library

#16016 AP_Periph: populate more fields in batteryinfo
  Tools/AP_Periph/can.cpp
Labels: AP_Periph

#16034 AP_NavEKF3: fixed null dereference of airspeed
  libraries/AP_NavEKF3/AP_NavEKF3_Outputs.cpp
Labels: BUG, EKF

#16035 Plane: remove unnecessary ::cork() in init
  ArduPlane/radio.cpp
Labels: Plane

#16012 Rover: simple mode handles two paddle input
  Rover/mode.cpp
Labels: BUG, Enhancement, Rover

#16031 AP_HAL_SITL: fix help output
  libraries/AP_HAL_SITL/SITL_cmdline.cpp
Labels: SITL

#16037 AP_Periph: add battery monitor to AP_Periph README
  Tools/AP_Periph/README.md
Labels: AP_Periph, Docs

#16045 Plane: Fix typos in Parameters.cpp
  ArduPlane/Parameters.cpp
Labels: Docs, NeedRework, Plane

#16047 Tools: added f303-M10070 bootloader
  Tools/bootloaders/f303-M10070_bl.bin
  Tools/bootloaders/f303-M10070_bl.elf
  Tools/bootloaders/f303-M10070_bl.hex
Labels: AP_Periph

#15999 AP_Param: fixed lockup in scripting due to save queue
  libraries/AP_Param/AP_Param.cpp
Labels: BUG, Scripting

#16052 AP_IOMCU: Remove duplicate includes from AP_IOMCU.cpp
  libraries/AP_IOMCU/AP_IOMCU.cpp
Labels: Enhancement, Library

#16015 HAL_SITL: fixed baudrate 0 set in SITL
  libraries/AP_HAL_SITL/UARTDriver.cpp
Labels: DevCallTopic, SITL

#16025 4.0.6 rc1 release notes
  ArduCopter/ReleaseNotes.txt
Labels: 4.0 Backport, Copter

#16065 Tools: put Rover SlewRate test on disable list for now
  Tools/autotest/rover.py
Labels: CI, Tools

#14341 Support SRXL2 listen-only devices
  libraries/AP_RCProtocol/AP_RCProtocol.cpp
  libraries/AP_RCProtocol/AP_RCProtocol.h
  libraries/AP_RCProtocol/AP_RCProtocol_Backend.h
  libraries/AP_RCProtocol/AP_RCProtocol_SRXL2.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_SRXL2.h
  libraries/AP_RCProtocol/spm_srxl_config.h
Labels: AllVehicles, DevCallEU, Driver, Enhancement, WikiNeeded

#16051 AP_Motors: add DCP trim feature for Dual Heli
  libraries/AP_Motors/AP_MotorsHeli_Dual.cpp
  libraries/AP_Motors/AP_MotorsHeli_Dual.h
Labels: Enhancement, TradHeli

#16072 HAL_ChibiOS: fixed flash space on 16k bl boards
  libraries/AP_HAL_ChibiOS/Scheduler.cpp
  libraries/AP_HAL_ChibiOS/hwdef/common/flash.c
  libraries/AP_HAL_ChibiOS/hwdef/common/flash.h
Labels: ChibiOS

#16080 SITL: fixed the speed of FlightAxis on cygwin
  libraries/SITL/SIM_FlightAxis.cpp
  libraries/SITL/SIM_FlightAxis.h
Labels: SITL

#16090 Tools: add name to GIT_Test.txt
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#16083 Tools: relax fly_guided_stop climb rate tolerance to 1cm/s (was 0.1cm/s)
  Tools/autotest/arducopter.py
Labels: Tools

#16081 AP_Periph: add BRD_SERIAL_NUM and append CAN_APP_NODE_NAME
  Tools/AP_Periph/Parameters.cpp
  Tools/AP_Periph/Parameters.h
  Tools/AP_Periph/can.cpp
Labels: AP_Periph

#16071 AP_Bootloader: respect HAL_BOOTLOADER_TIMEOUT when CAN and SERIAL/USB…
  Tools/AP_Bootloader/AP_Bootloader.cpp
Labels: AP_Periph

#16100 AP_Motors: add DCP trim feature for Dual Heli backport to AC4.0
  libraries/AP_Motors/AP_MotorsHeli_Dual.cpp
  libraries/AP_Motors/AP_MotorsHeli_Dual.h
Labels: 4.0 Backport, TradHeli

#16101 Copter: AP_Arming: Added check for EKF origin altitude
  ArduCopter/commands.cpp
Labels: DevCallTopic

#16097 AP_Periph: MSP fix last baro ms
  Tools/AP_Periph/msp.cpp
Labels: AP_Periph, DevCallTopic

#16042 Reduce invensense FIFO buffer size to reduce DMA contention
  libraries/AP_InertialSensor/AP_InertialSensor_Invensense.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Invensensev2.cpp
Labels: AllVehicles, DevCallEU, Driver, Enhancement

#16107 Scripting: ahrs-source.lua plays tune when source set changes
  libraries/AP_Scripting/examples/ahrs-source.lua
Labels: DevCallEU, Enhancement, Scripting

#16066 Readme: remove travis banner and add github action results
  README.md
Labels: Docs

#16088 Tools: ardupilotwaf: fix scripting inclusion on build_binaries.py
  Tools/ardupilotwaf/ap_library.py
Labels: BuildSystem, Tools

#16127 Update functions for rear tilt servos
  libraries/SRV_Channel/SRV_Channel.cpp
Labels: Plane

#16150 GCS_MAVLINK: fixed FPE in DO_SET_ROI
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: BUG, MAVLink

#16143 Plane: move loiter,thermal out of auto fs group
  ArduPlane/events.cpp
Labels: DevCallTopic, Plane, WikiNeeded

#16068 AP_Button: expand info in metadata
  libraries/AP_Button/AP_Button.cpp
Labels: AllVehicles, DevCallTopic

#15533 Metadata Xml validation
  Tools/autotest/logger_metadata/emit_xml.py
  Tools/autotest/param_metadata/xmlemit.py
Labels: BuildSystem, DevCallEU, Tools

#16044 NFC: AP_RangeFinder: Make measurement time and call back time static constant
  libraries/AP_RangeFinder/AP_RangeFinder_VL53L1X.cpp
Labels: DevCallEU, Library

#16116 STIL: delete unused parameter 'Vector3f &body_accel' in Plane::calculate_forces()
  libraries/SITL/SIM_Plane.cpp
  libraries/SITL/SIM_Plane.h
  libraries/SITL/SIM_QuadPlane.cpp
Labels: DevCallEU, SITL

#16067 actions : add Workflow dispatch
  .github/workflows/test_chibios.yml
  .github/workflows/test_linux_sbc.yml
  .github/workflows/test_replay.yml
  .github/workflows/test_sitl_copter.yml
  .github/workflows/test_sitl_periph.yml
  .github/workflows/test_sitl_plane.yml
  .github/workflows/test_sitl_rover.yml
  .github/workflows/test_sitl_sub.yml
  .github/workflows/test_sitl_tracker.yml
  .github/workflows/test_unit_tests.yml
Labels: CI, DevCallEU

#16149 Plane: Unify tilt servo names
  libraries/SRV_Channel/SRV_Channel.cpp
Labels: DevCallTopic, Docs, Plane

#16175 autotest: added ARACE flight locations
  Tools/autotest/locations.txt
Labels: SITL
