Repository ArduPilot/ardupilot, pull requests merged in 2020-08, with the labels that each got.

#14944 SITL: enable battery monitoring for flight axis by default
  libraries/SITL/SIM_FlightAxis.cpp
Labels: SITL

#14891 Remove ICM Gyro Pre-filter
  libraries/AP_InertialSensor/AP_InertialSensor_Invensense.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Invensense.h
  libraries/AP_InertialSensor/AP_InertialSensor_Invensensev2.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Invensensev2.h
Labels: DevCallTopic, Library

#14964 Plane: don't crosstrack after AUTO VTOL takeoff
  ArduPlane/quadplane.cpp
Labels: DevCallTopic, VTOL-Plane

#14954 RC_Channel: fixed use of radio_in out of range for angle inputs
  libraries/RC_Channel/RC_Channel.cpp
Labels: BUG

#14915 AP_AHRS: remove unused base-class airspeed_estimate method
  libraries/AP_AHRS/AP_AHRS.cpp
  libraries/AP_AHRS/AP_AHRS.h
Labels: DevCallTopic

#14980 AP_InternalError: remove leading comma in descriptive string
  libraries/AP_InternalError/AP_InternalError.cpp
Labels: Library

#14955 Plane: added THR_FAILSAFE=2 option
  ArduPlane/AP_Arming.cpp
  ArduPlane/Parameters.cpp
  ArduPlane/Plane.h
  ArduPlane/radio.cpp
Labels: Plane, WikiNeeded

#14989 autotest: add scan-build autotest steps
  Tools/autotest/autotest.py
Labels: BuildSystem, Tools

#14842 AP_HAL_Linux: Fix RCInput_RPI Segmentation Fault
  libraries/AP_HAL_Linux/RCInput_RPI.cpp
Labels: Linux

#14935 AP_GPS: NMEA: only decode each message once
  libraries/AP_GPS/AP_GPS_NMEA.cpp
  libraries/AP_GPS/AP_GPS_NMEA.h
Labels: DevCallEU, GPS

#14813 Copter: Support higher resolution percent based motor tests
  ArduCopter/Copter.h
  ArduCopter/GCS_Mavlink.cpp
  ArduCopter/motor_test.cpp
Labels: Copter, DevCallTopic, Enhancement, MAVLink

#14982 AP_Notify: set led_off instead 0 for Navio
  libraries/AP_Notify/RGBLed.cpp
Labels: BUG, Library

#14825 AP_HAL_Linux: Allow for parameters to be passed with -G, -H
  libraries/AP_HAL_Linux/HAL_Linux_Class.cpp
Labels: Linux

#14835 AP_NavEKF3: make reset source variable local
  libraries/AP_NavEKF3/AP_NavEKF3_Control.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_MagFusion.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_PosVelFusion.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_core.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_core.h
Labels: DevCallTopic, EKF

#14866 Update board_types.txt
  Tools/AP_Bootloader/board_types.txt
Labels: Tools

#14987 AP_HAL_SITL: correct loop counter type
  libraries/AP_HAL_SITL/sitl_gps.cpp
Labels: DevCallTopic, GPS, SITL

#14947 Plane: Fix redundant call to SpdHgt_Controller->get_land_airspeed()
  ArduPlane/navigation.cpp
Labels: DevCallTopic, Enhancement, Plane

#14927 GCS_MAVLink: Remove redundant check for private channels
  libraries/GCS_MAVLink/MAVLink_routing.cpp
Labels: DevCallTopic, Enhancement, MAVLink

#14563 Copter: move mavlink set-position defines into mavlink library
  ArduCopter/GCS_Mavlink.cpp
  ArduCopter/defines.h
Labels: Copter

#15036 Tools: copter: correct flip test
  Tools/autotest/arducopter.py
Labels: Tools

#15037 Autotest catch failure on some failsafe test
  Tools/autotest/arducopter.py
Labels: Tools

#14597 AP_GPS: SBF allow the COM port to be specified
  libraries/AP_GPS/AP_GPS.cpp
  libraries/AP_GPS/AP_GPS.h
  libraries/AP_GPS/AP_GPS_SBF.cpp
  libraries/AP_GPS/AP_GPS_SBF.h
Labels: Enhancement, GPS

#15038 Tools: copter: don't use raw reboot on fly_battery_failsafe()
  Tools/autotest/arducopter.py
Labels: Tools

#15045 Tools: scripts: uploader.py: update --identify option
  Tools/scripts/uploader.py
Labels: Tools

#15029 Tools: remove duplicated parameters to be setted back
  Tools/autotest/common.py
Labels: Tools

#14916 Limit airspeed sensor data according to WIND_MAX
  libraries/AP_AHRS/AP_AHRS_DCM.cpp
Labels: NeedsTesting

#15015 Add clone information to BUILD.md
  BUILD.md
Labels: Docs

#15074 Autotest: remove special case for vicon and default vicon for copter …
  Tools/autotest/arducopter.py
  Tools/autotest/common.py
  Tools/autotest/pysim/util.py
Labels: Tools

#15075 Autotest: fix mavlink_time_boot format: should be int
  Tools/autotest/rover.py
Labels: Tools

#15078 autotest: add rudder disarm checks for airmode
  Tools/autotest/quadplane.py
Labels: Tools

#15099 autotest: improve debug around heli poshold takeoff test
  Tools/autotest/arducopter.py
Labels: Tools

#15092 Copter: add pre-arm and mode init checks of ekf's altitude estimate
  ArduCopter/AP_Arming.cpp
  ArduCopter/AP_Arming.h
  ArduCopter/Copter.h
  ArduCopter/mode.cpp
  ArduCopter/system.cpp
Labels: BUG, Copter, Safety

#15106 HAL_ChibiOS: fix SWD config in f3 boards
  libraries/AP_HAL_ChibiOS/hwdef/f303-periph/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/f303-periph/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F303xC.py
Labels: ChibiOS

#15077 Docker: add /buildlogs directory for autotests
  Dockerfile
Labels: DevEnv

#15116 Autotest: common: reduce timeout on ArmFeature test
  Tools/autotest/common.py
Labels: Tools

#15086 AP_NavEKF3: fix skipping of optflow fusion if mag fusion performed
  libraries/AP_NavEKF3/AP_NavEKF3_OptFlowFusion.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_core.h
Labels: BUG, EKF

#15124 AP_NavEKF3: allow switch to ExtNav from optflow
  libraries/AP_NavEKF3/AP_NavEKF3_Control.cpp
Labels: BUG, DevCallTopic, EKF

#15147 autotest: avoid using mavproxy for testing message intervals
  Tools/autotest/common.py
Labels: Tools

#15140 AP_IOMCU: fixed handling of RC ignore failsafe option
  libraries/AP_IOMCU/AP_IOMCU.cpp
Labels: BUG, DevCallTopic

#15104 AP_Logger: log RCIN channels 14 and 15 in RCI2
  libraries/AP_Logger/AP_Logger.h
  libraries/AP_Logger/LogFile.cpp
  libraries/AP_Logger/LogStructure.h
Labels: DevCallTopic, Logging

#15131 Memleak fixes
  libraries/AP_Scripting/generator/src/main.c
Labels: DevCallEU, Library

#15069 Copter: add gripper release FS_OPTION
  ArduCopter/Copter.h
  ArduCopter/Parameters.cpp
  ArduCopter/events.cpp
Labels: Copter

#15165 Autotest: allow to select which GPS flags we want to wait for
  Tools/autotest/arducopter.py
  Tools/autotest/common.py
Labels: Tools

#15177 AP_CANManager: constant slcan via serial manager protocol param
  libraries/AP_CANManager/AP_SLCANIface.cpp
  libraries/AP_CANManager/AP_SLCANIface.h
Labels: CAN

#15180 SITL: fixed SIM_IMU_COUNT conflict
  libraries/SITL/SITL.cpp
Labels: BUG

#15184 GCS_MAVLink: fixed overrun of text passed to other libraries
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: BUG

#15182 Sub: remove dangling method declaration
  ArduSub/Sub.h
Labels: Sub

#14882 Autotest: make RTL and Land wait a little more verbose, don't use raw reboot on fly_battery_failsafe
  Tools/autotest/arducopter.py
Labels: Tools

#15187 Plane: use throttle in for transition max comparison
  ArduPlane/quadplane.cpp
Labels: BUG, DevCallTopic, VTOL-Plane
