Repository ArduPilot/ardupilot, pull requests merged in 2020-11, with the labels that each got.

#15591 Rover: EKF failsafe message is displayed only when action triggered
  Rover/Parameters.cpp
  Rover/defines.h
  Rover/ekf_check.cpp
Labels: Rover

#15695 AP_Arming: Parameter check is not unused
  libraries/AP_Arming/AP_Arming.cpp
Labels: DevCallTopic, Docs

#15710 Plane: fixed usage of rangefinder in landing with RNGFND_LANDING=0
  ArduPlane/altitude.cpp
  ArduPlane/commands_logic.cpp
Labels: BUG, DevCallTopic, Plane

#15688 Plane: always log tailsitter speed scaling and remove unused option
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
  ArduPlane/tailsitter.cpp
Labels: VTOL-Plane

#15673 Plane: always output flaperons and dspoilers
  ArduPlane/servos.cpp
Labels: DevCallTopic, Plane

#15664 AP_NavEKF3: simplify alignYawAngle and signal yaw reset
  libraries/AP_NavEKF3/AP_NavEKF3_MagFusion.cpp
Labels: BUG, DevCallTopic, EKF

#15654 RC_Channel: correct metadata for RC_OPTION param
  libraries/RC_Channel/RC_Channels_VarInfo.h
Labels: DevCallTopic

#15733 AP_L1_Control: correct zeroing of cross-track integrator
  libraries/AP_L1_Control/AP_L1_Control.cpp
Labels: NeedsTesting

#15713 Copter: fix metadata in FS_GCS_ENABLE param
  ArduCopter/Parameters.cpp
Labels: Copter

#15541 Copter: takeoff relaxes wpnav and pos control during spool up
  ArduCopter/takeoff.cpp
Labels: BUG, Copter, TradHeli

#15746 HAL_ChibiOS: added baro for mRo Location-one GPS
  libraries/AP_HAL_ChibiOS/hwdef/f303-M10070/hwdef.dat
Labels: ChibiOS

#15750 AC_Avoid: Mark OA_OPTIONS as a Rover-Only param
  libraries/AC_Avoidance/AP_OAPathPlanner.cpp
Labels: Enhancement, Library

#15745 AP_Compass: raise max scale factor and make symmetric
  libraries/AP_Compass/CompassCalibrator.h
Labels: DevCallTopic

#15743 ArduPlane: Fix throttle nudge reset due to wrong radio timing
  ArduPlane/radio.cpp
Labels: DevCallTopic, Plane

#15737 Copter: poshold clears wind est when disarmed or landed
  ArduCopter/mode.h
  ArduCopter/mode_poshold.cpp
Labels: BUG, Copter, DevCallTopic

#15729 AP_AHRS: take secondary attitude from EKF3 if it is configured
  libraries/AP_AHRS/AP_AHRS_NavEKF.cpp
Labels: DevCallTopic

#15718 AP_Motors: output mask: do not apply copter spin params and expo
  libraries/AP_Motors/AP_MotorsMulticopter.cpp
Labels: DevCallTopic, VTOL-Plane

#15520 AP_GPS: add Primary param and 'use primary if at least a 3D' fix option
  libraries/AP_GPS/AP_GPS.cpp
  libraries/AP_GPS/AP_GPS.h
Labels: DevCallTopic, GPS, WikiNeeded

#15407 Plane: Added ground effect compensation for quadplanes
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, VTOL-Plane

#15315 AP_Scripting: example saving serial data to SD card
  libraries/AP_Scripting/examples/Serial_Dump.lua
Labels: Scripting

#15762 Plane: Fix throttle nudge reset due to wrong radio timing - backport
  ArduPlane/radio.cpp
Labels: Plane

#15682 AP_BattMonitor: adding Rotoye Batmon driver
  libraries/AP_BattMonitor/AP_BattMonitor.cpp
  libraries/AP_BattMonitor/AP_BattMonitor.h
  libraries/AP_BattMonitor/AP_BattMonitor_Params.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus.h
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_Rotoye.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_Rotoye.h
Labels: WikiNeeded

#15604 Add support for RunCam Split4 4k and RunCam Hybrid
  libraries/AP_Camera/AP_RunCam.cpp
  libraries/AP_Camera/AP_RunCam.h
Labels: AllVehicles, BUG, DevCallEU, WikiNeeded

#15769 AP_Filesystem: fixed flushing with posix compat layer
  libraries/AP_Filesystem/posix_compat.cpp
Labels: BUG, DevCallEU, Scripting

#15790 SITL: fix copter sitl build on macos
  libraries/SITL/SIM_BattMonitor_SMBus_Rotoye.cpp
  libraries/SITL/SIM_I2CDevice.cpp
Labels: SITL

#15795 AP_DAL: fixed distance in rangefinder data
  libraries/AP_DAL/AP_DAL_RangeFinder.cpp
Labels: EKF

#15791 .github: add chibios test with GCC 9
  .github/workflows/test_chibios.yml
Labels: CI

#15827 AP_RSSI: handle init ordering with MSP
  libraries/AP_RSSI/AP_RSSI.cpp
Labels: BUG, DevCallTopic

#15818 AP_Scripting: Fix the lua scheduling rate to be referenced from the start of the update
  libraries/AP_Scripting/lua_scripts.cpp
Labels: DevCallTopic, Scripting

#15794 ArduPlane:Add safety limit on tailsitter VTOL transition throttle
  ArduPlane/tailsitter.cpp
Labels: DevCallTopic, Plane

#15785 Copter: Allow the user to specify the GCS failsafe timeout
  ArduCopter/Parameters.cpp
  ArduCopter/Parameters.h
  ArduCopter/config.h
  ArduCopter/events.cpp
Labels: Copter, DevCallTopic

#14696 AP_HAL_ChibiOS:add mazzy star drone hwdef
  libraries/AP_HAL_ChibiOS/hwdef/MazzyStarDrone/README.md
  libraries/AP_HAL_ChibiOS/hwdef/MazzyStarDrone/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/MazzyStarDrone/hwdef.dat
Labels: ChibiOS

#15829 Replay: adjust lost message threshold
  Tools/Replay/check_replay.py
Labels: EKF

#15778 HAL_ChibiOS: Tweak sorting in af_parse.py to be python3 compatible
  libraries/AP_HAL_ChibiOS/hwdef/scripts/af_parse_cubemx.py
Labels: DevCallEU

#15832 Fix compilation issue if HAL_MINIMIZE_FEATURES is defined
  libraries/AP_Arming/AP_Arming.cpp
Labels: BUG, DevCallEU

#15837 AP_Logger: remove unused IMUDT code
  libraries/AP_Logger/LogStructure.h
Labels: DevCallEU

#15797 Copter: Add ignore pilot yaw to guided and auto options
  ArduCopter/Parameters.cpp
  ArduCopter/Parameters.h
  ArduCopter/mode.h
  ArduCopter/mode_auto.cpp
  ArduCopter/mode_guided.cpp
  ArduCopter/mode_rtl.cpp
Labels: Copter, Enhancement

#15853 AP_Logger: remove time_us parameter to several sensor logging methods
  libraries/AP_Logger/AP_Logger.h
  libraries/AP_Logger/LogFile.cpp
Labels: DevCallTopic

#15862 AP_NavEKF3: Fix bug preventing yaw alignment to EKF-GSF estimate
  libraries/AP_NavEKF3/AP_NavEKF3_Control.cpp
Labels: BUG, EKF

#15643 HAL_ChibiOS: add QMC5883L on QioTekZealotF427
  libraries/AP_HAL_ChibiOS/hwdef/QioTekZealotF427/README.md
  libraries/AP_HAL_ChibiOS/hwdef/QioTekZealotF427/hwdef.dat
Labels: ChibiOS

#15882 gitignore: ignore .pydevproject from Eclipse Python plugin
  .gitignore
Labels: DevEnv

#15879 Tools: fix replay build on build_ci.sh
  Tools/scripts/build_ci.sh
Labels: CI, DevCallTopic

#15872 SITL: fixed GPS POS parameters
  libraries/SITL/SITL.cpp
Labels: DevCallTopic, SITL

#15874 AP_NavEKF_Source: optimise configured_in_storage
  libraries/AP_NavEKF/AP_NavEKF_Source.cpp
  libraries/AP_NavEKF/AP_NavEKF_Source.h
Labels: EKF, Enhancement

#15869 Correct harmonic notch docs and provide better defaults.
  libraries/Filter/HarmonicNotchFilter.cpp
Labels: 4.0 Backport, AllVehicles, Docs

#15831 Correct a typo for PH4-mini serial port number
  libraries/AP_HAL_ChibiOS/hwdef/PH4-mini/README.md
Labels: ChibiOS, DevCallTopic, Docs

#15846 Copter: use glitch-protected range from rangefinder for precision landing
  ArduCopter/precision_landing.cpp
Labels: Copter, Enhancement

#15875 .github: migrate all chibios build to Github Actions
  .github/workflows/test_chibios.yml
  .travis.yml
Labels: CI, DevCallEU, DevCallTopic

#15890 Fix lua compile on clang 10
  libraries/AP_Scripting/lua/src/lcode.c
  libraries/AP_Scripting/lua/src/lstrlib.c
  libraries/AP_Scripting/lua/src/ltable.c
Labels: BUG, DevCallEU, SITL

#15868 Fix startup penalty on IO thread health
  libraries/AP_Logger/AP_Logger_Block.cpp
Labels: BUG, DevCallEU, Logging

#15901 AP_BoardConfig: added an EXPECT_DELAY_MS to config_error
  libraries/AP_BoardConfig/AP_BoardConfig.cpp
Labels: ChibiOS

#15903 AP_NavEKF3: param conversion loses config_error
  libraries/AP_NavEKF3/AP_NavEKF3.cpp
Labels: BUG, EKF

#15893 HAL_ChibiOS: change f303-MatekGPS to 5Hz by default
  libraries/AP_HAL_ChibiOS/hwdef/f303-MatekGPS/hwdef.dat
Labels: ChibiOS, GPS

#15642 Autotest: fix css loading for autotest.ardupilot.org
  Tools/autotest/autotest.py
Labels: NeedsTesting, Tools

#15897 AP_InertialSensor: use primary gyro (not accel) for get_delta_angle_dt
  libraries/AP_InertialSensor/AP_InertialSensor.h
Labels: NeedsTesting

#15926 hwdef: mRo Pixracer Pro - update and improve uniformity
  libraries/AP_HAL_ChibiOS/hwdef/mRoControlZeroOEMH7/defaults.parm
  libraries/AP_HAL_ChibiOS/hwdef/mRoControlZeroOEMH7/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/mRoControlZeroOEMH7/hwdef.dat
Labels: ChibiOS

#12087 GCS_MAVLink: stop using one backend's signing structure for all backends
  libraries/GCS_MAVLink/GCS_Signing.cpp
Labels: Library

#15783 AP_GPS: support $PHD message for AllyStay NMEA GPS
  libraries/AP_GPS/AP_GPS.cpp
  libraries/AP_GPS/AP_GPS.h
  libraries/AP_GPS/AP_GPS_NMEA.cpp
  libraries/AP_GPS/AP_GPS_NMEA.h
  libraries/AP_GPS/GPS_Backend.h
Labels: EKF, GPS, WIP

#15847 AP_Rangefinder: change lightware lost signal timer to 20
  libraries/AP_RangeFinder/AP_RangeFinder_LightWareI2C.cpp
Labels: DevCallTopic, Library, NeedsTesting
