Repository ArduPilot/ardupilot, pull requests merged in 2020-10, with the labels that each got.

#15442 Rover: fix speed nudge
  Rover/mode.cpp
Labels: BUG, Rover

#15238 AP_OSD_Screen.cpp: add decimal precision to vspd
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: DevCallTopic, OSD

#15504 AP_GPS: fixed pre-arm check on ublox M9 GPS
  libraries/AP_GPS/AP_GPS_UBLOX.cpp
  libraries/AP_GPS/AP_GPS_UBLOX.h
Labels: DevCallTopic, GPS

#15510 AP_Logger: Log all vibration instances
  libraries/AP_Logger/LogFile.cpp
  libraries/AP_Logger/LogStructure.h
Labels: Enhancement

#15499 AP_GPS: always send GPS2_RAW if 2nd GPS configured
  libraries/AP_GPS/AP_GPS.cpp
  libraries/AP_GPS/AP_GPS.h
Labels: GPS

#15474 AP_Scheduler: add the fast loop to task statistics
  libraries/AP_Scheduler/AP_Scheduler.cpp
  libraries/AP_Scheduler/PerfInfo.cpp
  libraries/AP_Scheduler/PerfInfo.h
Labels: AllVehicles, DevCallEU, Enhancement

#15501 Plane: Q_OPTION to disable synthetic airspeed assist
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallEU, VTOL-Plane

#15347 Tools: make apm.pdef.xml more readable.
  Tools/autotest/param_metadata/xmlemit.py
Labels: DevCallEU, Tools

#15530 NFC: AP_Baro: Change message from AP_Baro to Baro for unification accross …
  libraries/AP_Baro/AP_Baro.cpp
Labels: Library

#15537 AP_HAL: add chargen UARTDriver example
  libraries/AP_HAL/examples/UART_chargen/UART_chargen.cpp
  libraries/AP_HAL/examples/UART_chargen/wscript
Labels: Library

#15525 HAL_ChibiOS: fixed a race condition in UART DMA transmit
  libraries/AP_HAL_ChibiOS/UARTDriver.cpp
  libraries/AP_HAL_ChibiOS/UARTDriver.h
Labels: BUG, UserAlert

#15526 Plane: tailsitters in VTOL transition use FW rates
  ArduPlane/quadplane.cpp
Labels: BUG, DevCallTopic, VTOL-Plane

#15497 Plane: only do_change_speed within FBW min and max
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/Plane.h
  ArduPlane/commands_logic.cpp
Labels: DevCallTopic, Plane

#15463 .github: add first github action
  .github/workflows/test_sitl_copter.yml
  .github/workflows/test_sitl_copter2.yml
  .github/workflows/test_sitl_plane.yml
  .github/workflows/test_sitl_rover.yml
  .github/workflows/test_sitl_sub.yml
  .github/workflows/test_sitl_tracker.yml
  .github/workflows/test_unit_tests.yml
Labels: DevCallTopic, DevEnv

#15443 AP_OSD: get wind speed from wind vane on rover
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: DevCallTopic, OSD, Rover

#15556 GCS_MAVLink: Change to leave the lower 16 bits.
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: DevCallTopic, Library

#15496 Plane: log EAS2TAS in CTUN
  ArduPlane/Log.cpp
Labels: Plane

#15527 AP_Airspeed: remove size warning on SDP3X crc function.
  libraries/AP_Airspeed/AP_Airspeed_SDP3X.cpp
  libraries/AP_Airspeed/AP_Airspeed_SDP3X.h
Labels: DevCallEU, DevCallTopic, Library

#15529 NFC:AP_BoardConfig: Update BRD_TYPE parameter description for recent boards.
  libraries/AP_BoardConfig/AP_BoardConfig.cpp
Labels: DevCallEU, DevCallTopic, Docs, Library

#15561 .github: remove useless testing workflow.
  .github/workflows/test_sitl_copter2.yml
Labels: DevEnv

#15587 AP_AHRS: remove unused AP_AHRS_TYPE define
  libraries/AP_AHRS/AP_AHRS.h
Labels: DevCallTopic

#12609 Tracker: add auto opts param
  AntennaTracker/Parameters.cpp
  AntennaTracker/Parameters.h
  AntennaTracker/mode_auto.cpp
Labels: AntennaTracker

#15606 AP_Logger: AP_Logger_File: Set custom log directory in init
  libraries/AP_Logger/AP_Logger_File.cpp
Labels: DevCallTopic

#15583 AP_Param: Ignore FORMAT_VERSION param when loading SITL defaults
  libraries/AP_Param/AP_Param.cpp
Labels: DevCallTopic

#15602 EKF3: allow alt from other sources when using ExtNav
  libraries/AP_NavEKF3/AP_NavEKF3_PosVelFusion.cpp
Labels: EKF, Enhancement

#15493 AP_Filesystem: add support for listing @SYS files
  libraries/AP_Filesystem/AP_Filesystem_Sys.cpp
  libraries/AP_Filesystem/AP_Filesystem_Sys.h
Labels: DevCallEU, Library

#14620 GCS_MAVLink: don't learn a route to the broadcast component
  libraries/GCS_MAVLink/MAVLink_routing.cpp
Labels: DevCallEU, DevCallTopic

#15580 GCS_MAVLink: fill AUTOPILOT_VERSION.uid2 from get_system_id_unformatted
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: DevCallEU, DevCallTopic

#15631 HAL_ChibiOS: make PowerC primary power on CUAV-X7
  libraries/AP_HAL_ChibiOS/hwdef/CUAV-X7/hwdef.dat
Labels: ChibiOS

#15619 travis: remove autotest and reorder compilation tests
  .travis.yml
Labels: DevCallTopic, DevEnv

#15508 AP_InterialSensor: Run vibration monitoring on all instances
  libraries/AP_InertialSensor/AP_InertialSensor.h
Labels: AllVehicles, Enhancement

#15624 AP_NavEKF3: correct GPS for position as it is recalled from buffer
  libraries/AP_NavEKF3/AP_NavEKF3_Measurements.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_PosVelFusion.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_core.h
Labels: EKF

#15611 AP_NavEKF3: fixed bug in external yaw for fixed wing
  libraries/AP_NavEKF3/AP_NavEKF3_Control.cpp
Labels: BUG, EKF

#15532 AP_GPS: Don't reset the entire buffer when handling RTCM data
  libraries/AP_GPS/AP_GPS.cpp
Labels: Enhancement, GPS

#15653 AP_Scripting: Add setmetatable back to the lua sandbox
  libraries/AP_Scripting/lua/src/lbaselib.c
Labels: Enhancement, Scripting

#15627 AP_Filesystem: fixed build on gcc 9.3
  libraries/AP_Filesystem/AP_Filesystem_Sys.cpp
Labels: BuildSystem

#15575 Plane: add midposition to flare RC option sw
  ArduPlane/Attitude.cpp
  ArduPlane/Plane.h
  ArduPlane/RC_Channel.cpp
  ArduPlane/servos.cpp
Labels: DevCallTopic, Plane, WikiNeeded

#13856 AP_Baro: Delete unnecessary return processing
  libraries/AP_Baro/AP_Baro_UAVCAN.cpp
Labels: DevCallTopic, Library

#15567 Plane: tailsitter: ask for FW state don't check
  ArduPlane/mode.cpp
  ArduPlane/quadplane.h
  ArduPlane/tailsitter.cpp
Labels: DevCallTopic, VTOL-Plane

#15649 AP_Scripting: copter-wall-climber climb rate limiting
  libraries/AP_Scripting/examples/copter-wall-climber.lua
Labels: BUG, Copter, Scripting

#14775 AP_HAL_Linux: Fix PWM FS to follow the Kernel's 4.X Device Tree instead 3.9
  libraries/AP_HAL_Linux/ToneAlarm.cpp
Labels: Linux

#12487 AP_Logger: allow for retry of log open with LOG_DISARMED=1
  libraries/AP_Logger/AP_Logger_File.cpp
  libraries/AP_Logger/AP_Logger_File.h
Labels: Logging

#15641 AP_CANManager: return max number of drivers for get_num_drivers
  libraries/AP_CANManager/AP_CANManager.cpp
  libraries/AP_CANManager/AP_CANManager.h
Labels: CAN, DevCallEU, NeedsTesting

#15661 AP_NavEKF3: GPS change pos reset uses ResetPositonNE and ResetPositionD
  libraries/AP_NavEKF3/AP_NavEKF3_PosVelFusion.cpp
Labels: DevCallEU, EKF

#15647 AP_NavEKF3: pos timeout or glitch does not reset vel if fusing succes…
  libraries/AP_NavEKF3/AP_NavEKF3_Control.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_PosVelFusion.cpp
Labels: BUG, Copter, DevCallEU, EKF, Rover

#15239 AP_Scripting: examples to load and save mission on the SD card
  libraries/AP_Scripting/examples/mission-load.lua
  libraries/AP_Scripting/examples/mission-save.lua
  libraries/AP_Scripting/generator/description/bindings.desc
Labels: DevCallEU, Scripting

#15621 AP_Scripting: add DIR_DISABLE param to disable loading scripts from given directory
  libraries/AP_Scripting/AP_Scripting.cpp
  libraries/AP_Scripting/AP_Scripting.h
  libraries/AP_Scripting/lua_scripts.cpp
Labels: DevCallEU, Scripting

#15674 Database fix
  Tools/scripts/build_binaries_history.py
Labels: DevEnv, Tools

#15670 ArduCopter: Don't request EKF yaw reset unless innovations are large
  ArduCopter/Copter.h
  ArduCopter/baro_ground_effect.cpp
  ArduCopter/ekf_check.cpp
  ArduCopter/system.cpp
Labels: BUG, Copter
