Repository ArduPilot/ardupilot, pull requests merged in 2020-03, with the labels that each got.

#13684 Copter: fix Guided mode support of terrain altitude targets
  ArduCopter/GCS_Mavlink.cpp
Labels: BUG, Copter

#13707 autotest: run GetCapabilities test on all vehicles
  Tools/autotest/apmrover2.py
  Tools/autotest/balancebot.py
  Tools/autotest/common.py
Labels: Tools

#13696 AP_HAL_ChibiOS: avoid referencing flash sector/page 22 on 1MB boards
  libraries/AP_HAL_ChibiOS/hwdef/F4BY/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/Pixhawk1-1M/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRBrain-v51/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRBrain-v52/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/VRCore-v10/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/common/flash.c
  libraries/AP_HAL_ChibiOS/hwdef/fmuv2/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/mini-pix/hwdef.dat
Labels: DevCallTopic

#13713 Plane: prevent jump to Circle upon Takeoff mode entry unless flying >10s
  ArduPlane/mode_takeoff.cpp
Labels: Plane

#13676 Copter: rewrite_get_alt_above_ground_cm for clarity
  ArduCopter/mode.cpp
Labels: NeedsTesting

#13268 AP_Scripting: add NMEA decoding example, find_baudrate binding and table.concat
  libraries/AP_Scripting/examples/NMEA-decode.lua
Labels: Scripting

#13740 Tools: Added name(Gokul) to GIT_Success.txt :)
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#13755 Fix Linux build for Rover stable
  libraries/AP_UAVCAN/AP_UAVCAN.h
  libraries/AP_UAVCAN/AP_UAVCAN_DNA_Server.cpp
Labels: DevCallTopic

#13762 AP_Scripting: tell the user where their scripts directory is on failure
  libraries/AP_Scripting/lua_scripts.cpp
Labels: DevCallTopic

#13743 AP_HAL_Linux: avoid segfaults during early panics
  libraries/AP_HAL_Linux/system.cpp
Labels: DevCallTopic, Linux

#13729 AP_HAL_ChibiOS: VRUBrain-v51: reduce AP_MAX_EMBEDDED_PARAM to 1024
  libraries/AP_HAL_ChibiOS/hwdef/VRUBrain-v51/hwdef.dat
Labels: DevCallTopic

#13756 autotest: limit frequency matching to resolution of the FFT
  Tools/autotest/quadplane.py
Labels: SITL

#13788 [NFC]AP_Vehicle: add warning about get_scheduler_task implementations
  libraries/AP_Vehicle/AP_Vehicle.h
Labels: AllVehicles

#13786 AP_Compass: correct incorrect and misleading comment
  libraries/AP_Compass/AP_Compass_HIL.cpp
Labels: Library

#13785 Tools: build_parameters: remove unused function parameters
  Tools/scripts/build_parameters.sh
Labels: Tools

#12800 Correct OmnibusNanov6 build
  libraries/AP_HAL_ChibiOS/hwdef/OmnibusNanoV6/hwdef.dat
Labels: ChibiOS, DevCallTopic

#13772 AP_HAL_Linux: Use template to generate raspberry pins
  libraries/AP_HAL_Linux/GPIO_RPI.h
  libraries/AP_HAL_Linux/HAL_Linux_Class.cpp
  libraries/AP_HAL_Linux/RCInput_RPI.cpp
Labels: Linux

#13726 AP_Math: Add missing constexpr
  libraries/AP_Math/AP_Math.cpp
  libraries/AP_Math/AP_Math.h
Labels: DevCallTopic

#13774 AP_Compass: correct use of incorrect backend-count macro
  libraries/AP_Compass/AP_Compass.cpp
  libraries/AP_Compass/AP_Compass.h
Labels: DevCallTopic

#13783 AP_Periph: update to new NeoPixel API
  Tools/AP_Periph/AP_Periph.cpp
  Tools/AP_Periph/can.cpp
Labels: NeedsTesting

#13826 Tools: start of script to help decode stm32 ICSR register
  Tools/scripts/decode-ICSR.py
Labels: Tools

#13861 Plane: fixed flaperon auto-trim
  ArduPlane/servos.cpp
Labels: BUG, Plane

#13863 Tools: added name to GIT_Success.txt
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#13870 Azure: fix VM image
  .azure/azure-pipelines.yml
Labels: DevCallTopic, Tools

#13866 Tools: added name to GIT_Success.txt
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#13859 SRV_Channel: add missing ProfiLED description values
  libraries/SRV_Channel/SRV_Channel.cpp
Labels: Library

#13880 Tracker: fix sitl reboot
  Tools/autotest/antennatracker.py
Labels: Tools

#12703 Nav_EKF3: varInnovBodyVel assigned the innovation covariance, rather …
  libraries/AP_NavEKF3/AP_NavEKF3_PosVelFusion.cpp
Labels: BUG, EKF

#13883 AP_Compass: fixed unreg compass check for AP_Periph
  libraries/AP_Compass/AP_Compass.cpp
Labels: AP_Periph, BUG

#13915 AP_Logger: fix extremely unlikely nullptr dereference in SITL sanity checks
  libraries/AP_Logger/AP_Logger_Backend.cpp
Labels: DevCallTopic

#13924 AP_HAL_Chibios: add tenth PWM output to MatekF405-Wing
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405-Wing/hwdef.dat
Labels: ChibiOS

#13931 Tools: added name to GIT_Success.txt
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#13936 Tools: added name to GIT_Success.txt
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#13910 Plane: added remaining logger documentation
  ArduPlane/Log.cpp
Labels: DevCallTopic

#13930 Rover: remove redundant check for arming-required-is-no
  APMrover2/Rover.cpp
Labels: DevCallTopic, Rover

#13916 GCS_MAVLink: Remove redundant assignment to the command
  libraries/GCS_MAVLink/MissionItemProtocol_Waypoints.cpp
Labels: DevCallTopic, MAVLink

#13914 AP_GPS: fix dereference-of-nullptr warning from scan-build
  libraries/AP_GPS/AP_GPS_NOVA.cpp
  libraries/AP_GPS/AP_GPS_NOVA.h
Labels: DevCallTopic

#13874 AP_Notify: remove recursive call to play in next_action
  libraries/AP_Notify/MMLPlayer.cpp
  libraries/AP_Notify/MMLPlayer.h
Labels: DevCallTopic, Library

#13794 AP_HAL_Linux: do not create ConsoleDevices for Replay or examples
  libraries/AP_HAL_Linux/ConsoleDevice.cpp
  libraries/AP_HAL_Linux/UARTDriver.cpp
Labels: DevCallTopic

#13846 AP_Frsky_Telem: fix for protocol=4 GAlt=0 and GSPd=0
  libraries/AP_Frsky_Telem/AP_Frsky_Telem.cpp
  libraries/AP_Frsky_Telem/AP_Frsky_Telem.h
Labels: Library
