Repository ArduPilot/ardupilot, pull requests merged in 2020-02, with the labels that each got.

#13337 HAL_ChibiOS: disable parachute and sprayer on SuccexF4
  libraries/AP_HAL_ChibiOS/hwdef/SuccexF4/hwdef.dat
Labels: ChibiOS

#13461 AP_Rangefinder: use offset param value in pwm driver (attempt 2)
  libraries/AP_RangeFinder/AP_RangeFinder_PWM.cpp
Labels: BUG, DevCallTopic, Driver

#13469 Copter: Fix circle radius pitch stick control
  ArduCopter/mode_circle.cpp
Labels: Copter

#13332 Change NeoPixel Length for NTF LEDs
  libraries/AP_Notify/AP_Notify.cpp
  libraries/AP_Notify/AP_Notify.h
  libraries/AP_Notify/NeoPixel.cpp
Labels: DevCallTopic

#12117 Rover: sailboats tack on fence
  APMrover2/mode.cpp
Labels: GSoC, Rover

#13444 Copter: correct current_loc.alt to be above home instead of above ekf origin
  ArduCopter/inertia.cpp
Labels: BUG, Copter

#13489 Copter: avoid SITL failure when changing current_loc.alt frame
  ArduCopter/inertia.cpp
Labels: Copter

#11122 AP_TemperatureSensor: fix TSYS01 warning on SITL
  libraries/AP_TemperatureSensor/TSYS01.cpp
Labels: DevCallTopic, Library

#13088 AP_Battmonitor_SMBus_Solo: removed unused code/options
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_Solo.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_Solo.h
Labels: Solo

#13521 RC_Channel: correct RC_set_override parameter name
  libraries/RC_Channel/RC_Channel.cpp
  libraries/RC_Channel/RC_Channel.h
Labels: DevCallTopic

#13512 AP_HAL_ChibiOS: Fix waf --default-parameters
  Tools/ardupilotwaf/chibios.py
  libraries/AP_HAL_ChibiOS/hwdef/scripts/chibios_hwdef.py
Labels: BUG, BuildSystem, ChibiOS, Library, Tools

#13542 GCS_MAVLink: raise ftp stack size to 3072 from 1024
  libraries/GCS_MAVLink/GCS_FTP.cpp
Labels: BUG

#13552 HAL_ChibiOS: fixed stdout in early startup bug
  libraries/AP_HAL_ChibiOS/HAL_ChibiOS_Class.cpp
  libraries/AP_HAL_ChibiOS/UARTDriver.cpp
  libraries/AP_HAL_ChibiOS/UARTDriver.h
  libraries/AP_HAL_ChibiOS/stdio.cpp
Labels: BUG, ChibiOS

#13545 Plane: fixed a bug in LOITER_TURNS in quadplanes
  ArduPlane/quadplane.cpp
Labels: BUG, VTOL-Plane

#13520 HAL_ChibiOS: fixed output string for non-DMA capable chan
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
  libraries/AP_HAL_ChibiOS/RCOutput.h
Labels: ChibiOS

#13559 Tracker: Remove links to AP_Camera
  AntennaTracker/GCS_Mavlink.cpp
  AntennaTracker/system.cpp
Labels: AntennaTracker

#13501 Copter: zigzag supports arming, takeoff and landing
  ArduCopter/mode.h
  ArduCopter/mode_zigzag.cpp
Labels: BUG, Copter, Enhancement

#13209 AP_Motors: HeliQuad- reference zero collective pitch to H_COL_MID for yaw commands
  libraries/AP_Motors/AP_MotorsHeli_Quad.cpp
Labels: BUG, DevCallTopic, TradHeli

#13524 SITL: fix DisplayName and description of parameter
  libraries/SITL/SIM_Sprayer.cpp
Labels: DevCallTopic, SITL

#13523 SITL: fix DisplayName and description of parameter
  libraries/SITL/SIM_Parachute.cpp
Labels: DevCallTopic, SITL

#13417 .github: update
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: DevEnv, Docs

#13576 GCS_MAVLink: don't recalculate max parameter count if not streaming p…
  libraries/GCS_MAVLink/GCS_Param.cpp
Labels: DevCallTopic

#13558 Tools : Replaced long sed command with list_boards for shell completion.
  Tools/completion/bash/_waf
  Tools/completion/zsh/_waf
Labels: DevCallTopic, Tools

#13498 Copter: log_Heli is only used with FRAME_CONFIG as HELI_FRAME
  ArduCopter/Log.cpp
Labels: Copter, DevCallTopic

#13482 AP_Airspeed: hide unused parameters for AP_Periph
  libraries/AP_Airspeed/AP_Airspeed.cpp
Labels: AP_Periph

#13237 SITL: Indicates that the message is SIM only
  libraries/SITL/SIM_Aircraft.cpp
Labels: DevCallTopic, SITL

#12788 README: Add sentence to explain what project is
  README.md
Labels: Enhancement

#13426 AP_Notify: Add mah consumed to bat line in OLED display
  libraries/AP_Notify/Display.cpp
  libraries/AP_OSD/fonts/font4.bin
Labels: Library

#13067 Set MAV_SYS_STATUS_PREARM_CHECK
  libraries/GCS_MAVLink/GCS.cpp
Labels: MAVLink

#13598 AP_Scripting: add documentation for DEBUG_LVL parameter
  libraries/AP_Scripting/AP_Scripting.cpp
Labels: DevCallTopic

#13602 GCS_MAVLink: Fix excess trimming of autopilot version
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: AllVehicles, MAVLink

#13610 AP_Scripting: Reduce the sleep time with no scripts
  libraries/AP_Scripting/AP_Scripting.cpp
  libraries/AP_Scripting/lua_scripts.cpp
Labels: Scripting

#13619 GCS_MAVLink: don't send statustext from other than main thread
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: BUG

#13456 AP_Camera: bug fixes to support 5-key remote RunCams
  libraries/AP_Camera/AP_RunCam.cpp
  libraries/AP_Camera/AP_RunCam.h
Labels: AllVehicles, Driver

#13628 SITL: Rename morse-rover to morse-skid
  libraries/SITL/examples/Morse/start_follow.sh
Labels: SITL

#13623 HAL_ChibiOS: use default USB IDs for fmuv3
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef-bl.dat
  libraries/AP_HAL_ChibiOS/hwdef/fmuv3/hwdef.dat
Labels: ChibiOS

#13645 waf: fixed build on cygwin
  Tools/ardupilotwaf/boards.py
  Tools/ardupilotwaf/chibios.py
Labels: BuildSystem

#13613 Copter: added rangefinder height interpolated using inertial alt
  ArduCopter/Copter.h
  ArduCopter/mode.cpp
  ArduCopter/mode_rtl.cpp
  ArduCopter/sensors.cpp
Labels: Copter, DevCallTopic

#13606 AP_HAL_ChibiOS: retry neopixel until successful send
  libraries/AP_HAL_ChibiOS/RCOutput.cpp
  libraries/AP_HAL_ChibiOS/RCOutput.h
Labels: ChibiOS, DevCallTopic

#13295 [PreArm] Warning text overflow fix
  libraries/AP_Arming/AP_Arming.cpp
Labels: Copter

#13654 AP_Compass: fixed in-flight learning for all compasses
  libraries/AP_Compass/Compass_learn.cpp
Labels: BUG

#13662 GCS_MAVLink: divide time allowed to send messages fairly
  libraries/GCS_MAVLink/GCS.h
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: AllVehicles, MAVLink

#13231 Plane: prevent lidar glitches from triggering land final
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: Plane

#13651 AP_Scripting: update plane-wind-fs example
  libraries/AP_Scripting/examples/plane-wind-fs.lua
Labels: Scripting

#13655 autotest: add test for fixed yaw calibration
  Tools/autotest/arducopter.py
  Tools/autotest/common.py
Labels: Tools
