Repository ArduPilot/ardupilot, pull requests merged in 2020-04, with the labels that each got.

#13955 AP_GPS: fixed rotation of moving baseline GPS
  libraries/AP_GPS/AP_GPS_UBLOX.cpp
Labels: BUG, GPS

#13940 Plane: Remove SONR messages logging
  ArduPlane/Log.cpp
  ArduPlane/Plane.h
  ArduPlane/defines.h
  ArduPlane/sensors.cpp
Labels: DevCallTopic, Plane

#13939 Added name to GIT_Success
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#13950 AP_Periph: fixed HWESC temperature decoding
  Tools/AP_Periph/can.cpp
  Tools/AP_Periph/hwing_esc.cpp
  Tools/AP_Periph/hwing_esc.h
Labels: AP_Periph

#13971 AP_Math: add comments above some quaternion methods
  libraries/AP_Math/quaternion.cpp
  libraries/AP_Math/quaternion.h
Labels: Enhancement, Library

#13938 Plane: When stick mixing is disabled do not apply stick mixing to quadplane modes
  ArduPlane/Attitude.cpp
  ArduPlane/GCS_Mavlink.cpp
  ArduPlane/Parameters.cpp
  ArduPlane/defines.h
  ArduPlane/quadplane.cpp
Labels: BUG, Enhancement, NeedsTesting, VTOL-Plane

#13988 HAL_ChibiOS: fixed skyviper-journey build
  libraries/AP_HAL_ChibiOS/hwdef/skyviper-journey/hwdef.dat
Labels: ChibiOS

#13992 AP_Logger: log dataflash-over-mavlink timestamp in micros rather than millis
  libraries/AP_Logger/AP_Logger_MAVLink.cpp
  libraries/AP_Logger/LogStructure.h
Labels: Logging

#14002 Copter: Fix Rate expo calculation
  ArduCopter/Attitude.cpp
  ArduCopter/mode_acro.cpp
Labels: Copter

#13925 Fix bug in exiting RunCam submenu
  libraries/AP_Camera/AP_RunCam.cpp
Labels: BUG, DevCallTopic, Library

#13770 AP_Camera: add RunCam device type 2 documentation
  libraries/AP_Camera/AP_RunCam.cpp
Labels: Docs

#13962 Copter: Added logger documentation in Log.cpp
  ArduCopter/Log.cpp
Labels: DevCallTopic

#13990 HAL_SITL: ensure that unique id string end in null char
  libraries/AP_HAL_SITL/Util.cpp
Labels: DevCallTopic, SITL

#13968 AP_Logger: Change to coding style (NFC)
  libraries/AP_Logger/AP_Logger.cpp
Labels: DevCallTopic, Library, Logging

#13578 Copter: Change messages
  ArduCopter/AP_Arming.cpp
Labels: Copter

#13706 AP_Battery: fixed bug in SUI driver
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_SUI.cpp
Labels: BUG

#14021 Plane: Use AHRS for heading in mode loiter
  ArduPlane/mode_loiter.cpp
Labels: Plane

#14001 Added ADIS16470 IMU driver
  libraries/AP_InertialSensor/AP_InertialSensor.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_ADIS1647x.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_ADIS1647x.h
  libraries/AP_InertialSensor/AP_InertialSensor_Backend.h
Labels: Driver

#14066 AP_HAL_ChibiOS: eliminate EKF2 from F4 bds not using HAL_MINIMIZE_FEATURES
  libraries/AP_HAL_ChibiOS/hwdef/F35Lightning/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/KakuteF4/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/MatekF405/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/OmnibusNanoV6/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/SuccexF4/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/airbotf4/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/mini-pix/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4pro/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/omnibusf4v6/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/revo-mini/hwdef.dat
  libraries/AP_HAL_ChibiOS/hwdef/speedybeef4/hwdef.dat
Labels: ChibiOS, DevCallTopic, Library

#14010 Drive RPM values from the Harmonic Notch
  libraries/AP_RPM/AP_RPM.cpp
  libraries/AP_RPM/AP_RPM.h
  libraries/AP_RPM/RPM_HarmonicNotch.cpp
  libraries/AP_RPM/RPM_HarmonicNotch.h
Labels: AllVehicles, DevCallTopic, Driver, MAVLink, Scripting

#13692 Copter: Adding flight mode to flight mode unchangeable messages
  ArduCopter/mode.cpp
Labels: Copter, DevCallTopic

#10102 Copter: Add expected value to message
  ArduCopter/AP_Arming.cpp
Labels: Copter, DevCallTopic

#13235 macOS clang ASAN support
  Tools/ardupilotwaf/ardupilotwaf.py
  Tools/ardupilotwaf/boards.py
Labels: Tools

#14092 autotest: make column ordering in rst gen stable
  Tools/autotest/param_metadata/rstemit.py
Labels: Tools

#13953 Plane: fixed plane landing gear to obey LGR_OPTIONS bits
  ArduPlane/Plane.h
  ArduPlane/quadplane.cpp
  ArduPlane/servos.cpp
  ArduPlane/system.cpp
Labels: BUG, VTOL-Plane

#14089 GCS_MAVLink: document the payload-space macros
  libraries/GCS_MAVLink/GCS.h
Labels: MAVLink

#14097 HAL_ChibiOS: fixed Hott telem half duplex handling
  libraries/AP_HAL_ChibiOS/UARTDriver.cpp
Labels: BUG, ChibiOS

#14103 AP_VisualOdom: T265 supports VISION_POSITION_DELTA
  libraries/AP_VisualOdom/AP_VisualOdom_Backend.cpp
  libraries/AP_VisualOdom/AP_VisualOdom_Backend.h
  libraries/AP_VisualOdom/AP_VisualOdom_IntelT265.h
  libraries/AP_VisualOdom/AP_VisualOdom_MAV.cpp
  libraries/AP_VisualOdom/AP_VisualOdom_MAV.h
Labels: AllVehicles, Enhancement, Library

#14133 AP_RCProtocol: fixed buffer overflow in st24 parser
  libraries/AP_RCProtocol/AP_RCProtocol_ST24.cpp
Labels: BUG

#14039 Plane: start tailsitter forward transition from current pitch angle
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
Labels: DevCallTopic, Plane

#14102 Plane: Quadplane tailsit transition to FW throttle level change
  ArduPlane/quadplane.cpp
Labels: DevCallTopic, Plane

#13166 AP_Arming: Display mag field value
  libraries/AP_Arming/AP_Arming.cpp
Labels: Library

#14135 Copter: fix terrain following in circle mode
  libraries/AC_WPNav/AC_Circle.cpp
Labels: BUG, Copter

#13768 Copter: use rangefinder to takeoff altitude in guided mode
  ArduCopter/mode_guided.cpp
Labels: Copter

#14152 HAL_ChibiOS: improve throughput of slcan router
  libraries/AP_HAL_ChibiOS/CANSerialRouter.cpp
Labels: CAN, DevCallTopic

#14195 Copter: Set the minimum value to zero.
  ArduCopter/Parameters.cpp
Labels: Copter, DevCallTopic

#14207 HAL_ChibiOS: fixed assert in wait_pin()
  libraries/AP_HAL_ChibiOS/GPIO.cpp
Labels: ChibiOS

#14199 AP_Logger: remove unused SBFE
  libraries/AP_Logger/LogStructure.h
Labels: DevCallTopic

#14165 AP_Proximity: AirSimSITL: fix left right swap
  libraries/AP_Proximity/AP_Proximity_AirSimSITL.cpp
Labels: DevCallTopic

#14184 AP_AHRS: get_position obeys always_use_EKF
  libraries/AP_AHRS/AP_AHRS_NavEKF.cpp
Labels: Copter, DevCallTopic, EKF

#14161 AP_Compass: Skip rotating the mag data when the board orientation is none
  libraries/AP_Compass/AP_Compass_Backend.cpp
Labels: DevCallTopic, Enhancement

#14145 AP_BattMonitor: NeoDesign battery driver
  libraries/AP_BattMonitor/AP_BattMonitor.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_Params.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_Params.h
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_NeoDesign.cpp
  libraries/AP_BattMonitor/AP_BattMonitor_SMBus_NeoDesign.h
Labels: Driver

#14193 SITL: add VICON_GLIT_XYZ, FAIL and YAW
  libraries/SITL/SIM_Vicon.cpp
  libraries/SITL/SITL.cpp
  libraries/SITL/SITL.h
Labels: Enhancement, SITL

#14208 HAL_ChibiOS: fixed issue with I2C4 on H743
  libraries/AP_HAL_ChibiOS/hwdef/scripts/dma_resolver.py
Labels: ChibiOS
