Repository ArduPilot/ardupilot, pull requests merged in 2020-07, with the labels that each got.

#14397 BeagleBone : comments corrected in RcAioPRU.p
  Tools/Linux_HAL_Essentials/pru/aiopru/RcAioPRU.p
Labels: Library, Linux

#9434 Tools: Added arm/disarm and runup complete checks for tradheli autotest
  Tools/autotest/arducopter.py
Labels: NeedAnswer, Tools, TradHeli

#14752 AP_Scripting: fixed equality test for uint32_t
  libraries/AP_Scripting/lua_boxed_numerics.cpp
Labels: BUG, Scripting

#14730 Ignore SRXL2 dbm rssi value like BF does
  libraries/AP_RCProtocol/AP_RCProtocol_SRXL2.cpp
Labels: AllVehicles, BUG, DevCallTopic, Driver

#13986 Adding support to relay pins on BBBMini
  libraries/AP_Relay/AP_Relay.cpp
Labels: Library, Linux

#14743 GCS_MAVLink: find next bucket to send when sending-ids emptied on msg…
  libraries/GCS_MAVLink/GCS_Common.cpp
Labels: DevCallTopic

#14657 Log BLHeli ESC Telemetry at 10Hz
  libraries/AP_BLHeli/AP_BLHeli.cpp
  libraries/AP_BLHeli/AP_BLHeli.h
Labels: BUG, Copter, Logging, Plane

#14453 Plane: allow force Qassist default and tailsitter assist with motors only
  ArduPlane/quadplane.cpp
  ArduPlane/quadplane.h
  ArduPlane/tailsitter.cpp
Labels: VTOL-Plane, WikiNeeded

#14779 Disable CRSF debug
  libraries/AP_RCTelemetry/AP_CRSF_Telem.cpp
Labels: BUG

#14788 Tools: added name to GIT_Success.txt
  Tools/GIT_Test/GIT_Success.txt
Labels: Tools

#14751 AP_AHRS: fixed SITL origin handling
  libraries/AP_AHRS/AP_AHRS_NavEKF.cpp
Labels: BUG, SITL

#9064 Copter: Change Need 3D Fix message.
  ArduCopter/AP_Arming.cpp
Labels: Copter, NeedRework

#8713 Copter: Add judgment data to the message.
  ArduCopter/crash_check.cpp
Labels: Copter, NeedRework

#14811 AP_Motors: remove names from cpp files
  libraries/AP_Motors/AP_MotorsCoax.cpp
  libraries/AP_Motors/AP_MotorsHeli.cpp
  libraries/AP_Motors/AP_MotorsMatrix.cpp
  libraries/AP_Motors/AP_MotorsMulticopter.cpp
  libraries/AP_Motors/AP_MotorsSingle.cpp
  libraries/AP_Motors/AP_MotorsTri.cpp
  libraries/AP_Motors/AP_Motors_Class.cpp
Labels: Copter, Enhancement

#14618 Copter: add in additional acro modes
  ArduCopter/Parameters.cpp
  ArduCopter/Parameters.h
  ArduCopter/RC_Channel.cpp
  ArduCopter/RC_Channel.h
  ArduCopter/mode.cpp
  ArduCopter/mode.h
  ArduCopter/mode_acro.cpp
  ArduCopter/mode_acro_heli.cpp
Labels: Copter, Enhancement, TradHeli

#14650 AP_TECS: Ensure throttle rate limit is respected when exiting takeoff stage.
  libraries/AP_TECS/AP_TECS.cpp
Labels: Plane

#14827 autotest: added EliField
  Tools/autotest/locations.txt
Labels: SITL

#14784 AP_Mission: NFC Correct some comments
  libraries/AP_Mission/AP_Mission.h
Labels: Library, NeedRework

#14787 AP_Scripting: Add user accessable script parameters
  libraries/AP_Scripting/AP_Scripting.cpp
  libraries/AP_Scripting/AP_Scripting.h
Labels: AllVehicles, Enhancement, Library, WikiNeeded

#13427 Copter: crash check requires vehicle to lean at more than 15deg
  ArduCopter/crash_check.cpp
Labels: Copter, Enhancement, NeedsTesting

#14820 AP_NavEKF3: max delay includes visual odometry
  libraries/AP_NavEKF3/AP_NavEKF3_core.cpp
Labels: BUG, EKF, Enhancement

#14865 AP_OSD: apply aspect ratio correction to horizon
  libraries/AP_OSD/AP_OSD_Backend.h
  libraries/AP_OSD/AP_OSD_MAX7456.cpp
  libraries/AP_OSD/AP_OSD_MAX7456.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#14875 autotest: default throttle to 1000 for quadplane
  Tools/autotest/quadplane.py
Labels: Tools

#14877 autotest: require uptime of 5s before declaring GPS definitely not pr…
  Tools/autotest/common.py
Labels: Tools

#14886 autotest: retry parameter fetch in MIS_TOTAL test
  Tools/autotest/common.py
Labels: Tools

#14861 Copter: add documentation for DU16 message
  ArduCopter/Log.cpp
Labels: Copter

#14893 autotest: reboot SITL after running autotune switch test
  Tools/autotest/arducopter.py
Labels: Tools

#14906 AP_NavEKF3: Fix bug preventing setting of mag field states
  libraries/AP_NavEKF3/AP_NavEKF3_MagFusion.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_core.cpp
  libraries/AP_NavEKF3/AP_NavEKF3_core.h
Labels: BUG, EKF

#14896 AP_HAL_SITL: make it clear the panic message is a panic message
  libraries/AP_HAL_SITL/system.cpp
Labels: SITL

#14908 Plane: zero throttle nudge in RC failsafe
  ArduPlane/radio.cpp
Labels: BUG, DevCallTopic, Plane

#14903 ArduPlane: remove duplicate fail-safe time check
  ArduPlane/radio.cpp
Labels: DevCallTopic

#14802 Plane: fixed use of VTOL control for missions
  ArduPlane/quadplane.cpp
Labels: BUG, VTOL-Plane

#14858 AP_Scripting: add ahrs-print-angle-and-rates example
  libraries/AP_Scripting/examples/ahrs-print-angle-and-rates.lua
Labels: Enhancement, Scripting

#14911 Copter: pass reason through in set_mode AP_Vehicle override
  ArduCopter/mode.cpp
Labels: Copter

#14634 AP_Terrain: allow download of terrain data when no GPS lock
  libraries/AP_Terrain/AP_Terrain.h
  libraries/AP_Terrain/TerrainGCS.cpp
  libraries/AP_Terrain/TerrainIO.cpp
Labels: Library

#14894 AP_Scripting: Setup of applets directory and first applet entry
  libraries/AP_Scripting/applets/README.md
  libraries/AP_Scripting/applets/SmartAudio.lua
  libraries/AP_Scripting/applets/SmartAudio.md
Labels: Scripting, WikiNeeded

#14423 Support configurable backend gyro and accel rates on Invensense sensors to support 8k gyros and fast-sampling on MPU6000
  libraries/AP_InertialSensor/AP_InertialSensor.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Invensense.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Invensense.h
  libraries/AP_InertialSensor/AP_InertialSensor_Invensensev2.cpp
  libraries/AP_InertialSensor/AP_InertialSensor_Invensensev2.h
Labels: AllVehicles, Driver, Enhancement, WikiNeeded

#14932 AP_Scripting: Fix generator for nullable types with multiple return values
  libraries/AP_Scripting/generator/src/main.c
Labels: BUG, Scripting

#14929 Rover: add arming check for windvane if sailing enabled
  Rover/AP_Arming.cpp
Labels: Rover

#14919 AP_GPS: redetection not necessary for UAVCAN GPS
  libraries/AP_GPS/AP_GPS.cpp
Labels: BUG, CAN, DevCallEU, GPS

#14937 Rover: arming revert to single &
  Rover/AP_Arming.cpp
Labels: Rover

#14897 AP_RangeFinder: fixed legacy parsing of 65436 for lightware i2c
  libraries/AP_RangeFinder/AP_RangeFinder_LightWareI2C.cpp
Labels: BUG

#14918 Copter: add dev option so set-attitude-target thrust field is actually used as thrust
  ArduCopter/Copter.cpp
  ArduCopter/GCS_Mavlink.cpp
  ArduCopter/Parameters.cpp
  ArduCopter/defines.h
  ArduCopter/mode.h
  ArduCopter/mode_guided.cpp
Labels: Copter, Enhancement
